/* navigation light-ver */
.header_2017 {position: fixed; top:0; z-index: 200; width:100%; height:80px; min-width: 700px; font-size: 16px; line-height: 1;}
.header_2017 .common-menu {position: relative; z-index: 1; max-width: 1920px; margin: 0 auto}
.header_2017 .common-menu strong {display: block; float: left; margin: 19px 0 0 30px; position: relative; z-index: 10;}
.header_2017 .common-menu strong a {display:block; width:120px; height:47px; overflow: hidden;}
.header_2017 .common-menu strong a img {display: block;}
.header_2017 .common-menu .location {display: inline-block; position: absolute; top: -20px; left: 0; margin: 0 auto; width: 100%; text-align: center; font-size: 16px; line-height: 24px; color: #dedede}
.header_2017 .common-menu a {color: #dedede;}
.header_2017 .common-menu .inner-wrap h1 a {display: block; height: 43px; overflow: hidden; text-indent: -10000px; /*background: url("../images/common/logo_header.png") 0 0 no-repeat;*/ }
.header_2017 .common-menu .inner-wrap .right-menus {display: inline-block; float: right; margin: 30px 30px 0 0; font-size: 16px; line-height: 24px; vertical-align: middle;}
.header_2017 .common-menu .inner-wrap .right-menus .find-dealer {position:relative; float: left; transition: color 0.8s;}
.header_2017 .common-menu .inner-wrap .right-menus .find-dealer:hover{color:#a36b4f; transition: color 0.3s;}
.header_2017 .common-menu .inner-wrap .right-menus > a:after {display: block; content: ''; position: absolute; right:0; top: 3px; width: 2px; height:15px; background: #dedede;}
.header_2017 .common-menu .inner-wrap .right-menus > a:nth-last-child(3):after{display:none;}
/* 20161103 / digitalworks / 정병만 / 개선업무_TASK6 css추가 / v1.0 */
.header_2017 .common-menu .inner-wrap .right-menus > a {position:relative; float: left; padding:0 17px; transition: color 0.8s;}
.header_2017 .common-menu .inner-wrap .right-menus > a:hover{color:#a36b4f; transition: color 0.3s;}
/* 20161103 / digitalworks / 정병만 / 개선업무_TASK6 css추가 / v1.0 */
.header_2017 .common-menu .inner-wrap .right-menus .btn-open-menu {position: relative; display: inline-block; float: left; padding: 0 52px 0 0px; margin-left:33px; transition: color 0.8s;}
.header_2017 .common-menu .inner-wrap .right-menus .btn-open-menu .line-wrap {display: block; position: absolute; top: 0; right: 0; width: 36px; height: 22px; overflow: hidden; }
.header_2017 .common-menu .inner-wrap .right-menus .btn-open-menu .line-wrap .tb-lines {}
.header_2017 .common-menu .inner-wrap .right-menus .btn-open-menu .line-wrap .tb-lines .ctr-line {display: block; position: absolute; top: 50%; left: 50%; width: 36px; height: 2px; margin: -1px 0 0 -18px; background: #fff; transition: background 0.5s }
.header_2017 .common-menu .inner-wrap .right-menus .btn-open-menu .line-wrap .tb-lines:before {display: block; position: absolute; top: 20px; left: 50%; width: 36px; margin: 0 0 0 -18px; height: 2px; background: #fff; content: ''; transition: all 0.3s;}
.header_2017 .common-menu .inner-wrap .right-menus .btn-open-menu .line-wrap .tb-lines:after {display: block; position: absolute; bottom: 20px;left: 50%; width: 36px; margin: 0 0 0 -18px; height: 2px; background: #fff; content: ''; transition: all 0.3s;}
.header_2017 .common-menu .inner-wrap .right-menus .menus {display: none; position: fixed; top: 0; right: 0; clear: both;}
.header_2017 .head-bg {position: absolute; top: 0px; left: 0; width: 100%; height: 80px; background: #000; opacity: 0.9;}

.header_2017 .common-menu .inner-wrap .right-menus .btn-open-menu:after{display:none;}
.header_2017 .common-menu .inner-wrap .right-menus .btn-open-menu:hover {color:#a36b4f; transition: color 0.3s}
.header_2017 .common-menu .inner-wrap .right-menus .btn-open-menu:hover .line-wrap .tb-lines .ctr-line {background: #a36b4f; transition: background 0.3s}
.header_2017 .common-menu .inner-wrap .right-menus .btn-open-menu:hover .line-wrap .tb-lines:before {background: #a36b4f; top: 18px;}
.header_2017 .common-menu .inner-wrap .right-menus .btn-open-menu:hover .line-wrap .tb-lines:after {background: #a36b4f; bottom: 18px;}

/* navigation non-bg */
/*.header_2017 .common-menu.non-bg{
    background: rgba(255,255,255,0.9);
    background: -moz-linear-gradient(top, rgba(255,255,255,0.9) 0%,  rgba(255,255,255,0) 100%);
    background: -webkit-linear-gradient(top, rgba(255,255,255,0.9) 0%, rgba(255,255,255,0) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,0.9) 0%, rgba(255,255,255,0) 100%);
}*/
.header_2017 .common-menu.non-bg a {color: #232323;}
.header_2017 .common-menu.non-bg .inner-wrap h1 a img{margin-top: -47px;}
.header_2017 .common-menu.non-bg .inner-wrap .right-menus .btn-open-menu span img {margin-top: -22px;}
.header_2017 .common-menu.non-bg .inner-wrap .right-menus .find-dealer:after {background: #000;}
.header_2017 .common-menu.non-bg .head-bg {top:0; opacity: 1; background: #fff}
.header_2017 .common-menu.non-bg strong a img {margin-top: -53px}
.header_2017 .common-menu.non-bg .location {display: none}
.header_2017 .common-menu.dark-bg {height:80px; background: #191919;}
.header_2017 .common-menu.dark-bg .close-pop img{margin-top:-20px;}

/* navigation dark-ver */
.header_2017 .common-menu.dark a {color: #232323;}
.header_2017 .common-menu.dark .inner-wrap h1 a img{margin-top: -47px;}
.header_2017 .common-menu.dark .inner-wrap .right-menus .btn-open-menu span img {margin-top: -22px;/*background: url("../images/common/btn_menu_dark.png") top right no-repeat;*/}
.header_2017 .common-menu.dark .inner-wrap .right-menus .find-dealer:after {background: #000;}

@media (min-width: 1023px) {
    div.intro__image {
        background-size: cover;
        background-position: center;
    }
}
.layout__content > .line-item:first-child {
    margin-top: -80px;
}
.gallery-heading-bottom__heading {
    width: 100%;
}
.layout__content {
    padding-top: 80px;
}
@media (max-width: 1024px) {
    .layout__content {
        padding-top: 50px;
    }
}
header.header_2017 div.right-menus {
    margin-right: 20px;
}
header.header_2017 .right-menus div.input-wrap {
    margin-right: 20px;
}
header.header_2017 .right-menus .input-wrap input,
header.header_2017 .right-menus .input-wrap input::-webkit-input-placeholder,
header.header_2017 .common-menu2 a span {
    font-family: GenesisSansHead, sans-serif;
    font-weight: 100;
    font-size: 16px !important;
}
header.header_2017 .common-menu2 .quicklink-btns ul a,
header.header_2017 .common-menu2 .depth-2 a {
    font-family: "GenesisSansText", sans-serif;
    font-weight: 400;
    transition: color 0.3s;
}
header.header_2017 .common-menu2 .depth-2 a strong {
    font-family: "GenesisSansHead", sans-serif;
    color: white;
    transition: color 0.3s;
}
header.header_2017 .common-menu2 .depth-2 a:hover strong {
    color: #a36b4f;
}
header.header_2017 .right-menus .quicklink-btns ul a:hover,
header.header_2017 .right-menus .quicklink-btns ul a:active,
header.header_2017 .right-menus .lang-btns ul a:hover,
header.header_2017 .right-menus .lang-btns ul a:active {
    color: #a36b4f;
    border: 0 !important;
}
footer .footer-top ul li a:hover {
    color: #a36b4f;
}

.gatemain .btn-scroll a:hover .btn-txt {
    color: #a36b4f;
}
.gatemain .btn-scroll a:hover .vert-line {
    background-color: #a36b4f;
}
footer .txt-ww a:hover,
.gatemain .content-wrap .content-tab > li.active > a:hover {
    color: #a36b4f;
    border-color: #a36b4f !important;
}
header.header_2017 .common-menu2 .depth-2 a strong {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.06em;
}
header.header_2017 .right-menus .input-wrap a.btn-search span {
    font-size: 10px !important;
}
header.header_2017 .common-menu2 a span,
header.header_2017 .common-menu2 a {
    font-family: GenesisSansHead, sans-serif;
    font-size: 16px !important;
    font-weight: 100;
}

header.header_2017 .nav-high-priority { margin: 0}
header.header_2017 {position:fixed; top:0; z-index:200; width:100%; height:80px; min-width:1024px; font-size:16px; line-height:1;}
header.header_2017 .header-background {position:absolute; left:0; top:0; width:100%; height:100%; display:block; background:#000; opacity:.9; filter:alpha(opacity=30);}
header.header_2017 .common-menu2 {height:80px; position: relative; z-index: 1; max-width: 1920px; margin: 0 auto;}
header.header_2017 .common-menu2 .logo {display:block; position:relative; float:left; margin: 15px 0 0 30px; z-index:2;}
header.header_2017 .common-menu2 .logo a {display:block;    width: 120px;
    height: 50px;
    overflow: hidden;}
header.header_2017 .common-menu2 .logo a img {display:block; width:100%;}
header.header_2017 .gnb-menu .cont-mid {overflow:hidden; position:absolute; left:0; width:100%; padding-left:165px; box-sizing:border-box;}
header.header_2017 .gnb-menu .gnb-background {position:absolute; top:80px; left:0; width: 100%; height:230px; background-color:#000; opacity:0.9; filter:alpha(opacity=80);}
header.header_2017 .gnb-menu ul.nav-high-priority a {text-transform:uppercase; transition:color 0.3s;}
header.header_2017 .gnb-menu ul.nav-high-priority a:hover,
header.header_2017 .gnb-menu ul.nav-high-priority > li.on > a {color:#a36b4f; transition:color 0.3s;}
header.header_2017 .gnb-menu ul.nav-high-priority::after {content:""; display:block; clear:both;}
header.header_2017 .gnb-menu ul.nav-high-priority > li.hoverable {float: left;}
header.header_2017 .gnb-menu li.hoverable > a{display:block; height:80px; color:#fff; font-size:15px; line-height:80px; text-transform:uppercase; padding:0 21px; box-sizing:border-box;}
header.header_2017 .gnb-menu li.hoverable > div.sub-menu {display:none; position:absolute; top:112px; left:0; width:100%; min-width:1024px; height:160px; padding:0 30px 0 275px; box-sizing:border-box;}
header.header_2017 .gnb-menu li .depth-2 {width:35%; float:left;}
header.header_2017 .gnb-menu li .depth-2 > li {margin-bottom: 16px;}
header.header_2017 .gnb-menu li .depth-2 a {color:#fff; font-size:15px;}
header.header_2017 .gnb-menu li .depth-2 a:focus {color:#a36b4f; transition:color 0.3s;}
/*header.header_2017 .gnb-menu li.brand .depth-2 {width:100%; float:none;} 2차 오픈*/
header.header_2017 .gnb-menu li.brand .depth-2 li {width:100%;}
header.header_2017 .gnb-menu li.brand .depth-2 a {position:relative; z-index:2;}
header.header_2017 .gnb-menu li.brand .depth-2 .figure {display:none; z-index:1; position:absolute; top:0; left:0; width:100%; padding-left:510px; padding-right:30px; box-sizing:border-box;}
header.header_2017 .gnb-menu li.brand .depth-2 .figure::after{content:""; display:block; clear:both;}
header.header_2017 .gnb-menu li.brand .depth-2 .figure img {float:left;}
header.header_2017 .gnb-menu li.brand .depth-2 .figcaption {float:left; margin-left:25px;}
header.header_2017 .gnb-menu li.brand .depth-2 .figcaption strong {color:#fff; font-size:22px; font-weight:normal; text-transform:uppercase;}
header.header_2017 .gnb-menu li.brand .depth-2 .figcaption p {color:#fff; font-size:15px; line-height:1.4; margin-top:10px;}
header.header_2017 .gnb-menu li.brand .depth-2 .figcaption p span {display:block;}
header.header_2017 .gnb-menu li.models .depth-2 {width:100%; float:none;}
header.header_2017 .gnb-menu li.models .depth-2::after {content:""; display:block; clear:both;}
header.header_2017 .gnb-menu li.models .depth-2 li {
    width:25%;
    float:left;
    padding: 0 40px;
    box-sizing: border-box;
}
@media only screen and (max-width:1440px){
    header.header_2017 .gnb-menu li.models .depth-2 li{
        padding: 0 20px;
    }
}
@media only screen and (max-width:1170px){
    header.header_2017 .gnb-menu li.models .depth-2 li{
        padding: 0 10px;
    }
}
header.header_2017 .gnb-menu li.models .depth-2 a {
    position:relative;
    display:flex;
    flex-direction: column;
    width:100%;
    height:150px;
    opacity:1;
    filter:alpha(opacity=60);
    transition: 0.3s all;
}
.ie header.header_2017 .gnb-menu li.models .depth-2 a{
    display: block;
}
header.header_2017 .gnb-menu li.models .depth-2 a .figure{
    margin-top: auto;
    margin-bottom: auto;
}
.ie header.header_2017 .gnb-menu li.models .depth-2 a strong{
    margin-bottom: 30px;
}
.ie .gatemain .intro-wrap .swiper-container .swiper-slide .figure{
    margin-top: 0;
}
.ie .gatemain .intro-wrap .swiper-container .swiper-slide a img{
    margin-top: 30px;
}
header.header_2017 .gnb-menu li.models .depth-2 a img {
    position:relative;
    /*left:0;*/
    /*bottom:20px;*/
    transition: 0.3s all;
    /*width: 304px;*/
    max-width:100%;
}
.ie header.header_2017 .gnb-menu li.models .depth-2 a img {
    opacity: .8;
}
/*header.header_2017 .gnb-menu li.models .depth-2 li:first-child a img{
	top: 3px;
	transform: scale(0.9,0.9);
}
header.header_2017 .gnb-menu li.models .depth-2 li:last-child a img{
	top: 2px;
}*/
/*header.header_2017 .gnb-menu li.models .depth-2 a img+img {left:20%; bottom:0; opacity:0; filter:alpha(opacity=0);}*/
/*header.header_2017 .gnb-menu li.models .depth-2 a:after {*/
/*content: '';*/
/*position: absolute;*/
/*top: 0;*/
/*left: 0;*/
/*right: 0;*/
/*bottom: 0;*/
/*border: 2px solid #a36b4f;*/
/*border-top: 0;*/
/*transition: opacity .3s ease;*/
/*opacity: 0;*/
/*box-sizing: border-box;*/
/*}*/
header.header_2017 .gnb-menu li.models .depth-2 li:nth-child(1) a img {
    width: 85.26%;
}
header.header_2017 .gnb-menu li.models .depth-2 li:nth-child(2) a img {
    width: 91.45%;
}
header.header_2017 .gnb-menu li.models .depth-2 li:nth-child(3) a img {
    width: 94.66%;
}
header.header_2017 .gnb-menu li.models .depth-2 li:nth-child(4) a img {
    width: 100%;
}

header.header_2017 .gnb-menu li.models .depth-2 a img {
    margin-top: auto;
    margin-bottom: auto;
    transition: 0.3s all;
    filter: brightness(.8);
}
header.header_2017 .gnb-menu li.models .depth-2 a:hover img,
header.header_2017 .gnb-menu li.models .depth-2 a:focus img {
    filter: brightness(1);
}
.ie header.header_2017 .gnb-menu li.models .depth-2 a:hover img,
.ie header.header_2017 .gnb-menu li.models .depth-2 a:focus img {
    opacity: 1;
}
header.header_2017 .gnb-menu li.models .depth-2 a:hover:after,
header.header_2017 .gnb-menu li.models .depth-2 a:focus:after {
    /*opacity: 1;*/
}
/*header.header_2017 .gnb-menu li.models .depth-2 a:hover img,*/
/*header.header_2017 .gnb-menu li.models .depth-2 a:focus img {opacity:0; filter:alpha(opacity=0);}*/
/*header.header_2017 .gnb-menu li.models .depth-2 a:hover img+img,*/
/*header.header_2017 .gnb-menu li.models .depth-2 a:focus img+img {opacity:1; filter:alpha(opacity=100);}*/
header.header_2017 .gnb-menu li.models .depth-2 a strong {display:block; font-size:18px; font-weight:normal;}
header.header_2017 .gnb-menu li.models .depth-2 a p {color:#fff; font-size:15px; margin-top:20px;}

header.header_2017 .right-menus {float:right; margin-right:30px;}
header.header_2017 .right-menus > div {float:left;}
header.header_2017 .right-menus form {float:left;}
header.header_2017 .right-menus .input-wrap {position:relative;width:180px; font-size:0; line-height:1; vertical-align:top;  margin-top:33px; margin-right:10px;}
header.header_2017 .right-menus .input-wrap input {outline: 0; width:100%; height:22px; background-color:transparent; color:#fff; font-size:15px; line-height:1; padding:0 40px 5px 25px; border:none; border-bottom:1px solid #444; box-sizing:border-box;}
header.header_2017 .right-menus .input-wrap input::-webkit-input-placeholder {opacity: .5;}
header.header_2017 .right-menus .input-wrap input:focus {border-bottom:1px solid #fff; color: #fff}
header.header_2017 .right-menus .input-wrap input:-webkit-autofill{-webkit-box-shadow:0 0 0 1000px inset; -webkit-text-fill-color:#fff !important;}
header.header_2017 .right-menus .input-wrap img {position:absolute; top:0; left:0}
header.header_2017 .right-menus .input-wrap a.btn-search {display:block; position:absolute; right:0; top:0; font:10px/22px "HyundaiSansHead-Light"; color: #aaa; visibility:hidden}
header.header_2017 .right-menus .input-wrap a.btn-search span {font:10px/22px "HyundaiSansHead-Light"; color: #aaa;}
header.header_2017 .right-menus .input-wrap a.btn-search:hover {color:#fff}
header.header_2017 .right-menus .input-wrap a.btn-search:focus {visibility: visible}
header.header_2017 .right-menus .input-wrap a.btn-search span {display:block}
header.header_2017 .right-menus .input-wrap.has-txt a.btn-search {display:block; visibility:visible}
header.header_2017 .right-menus .quicklink-btns,
header.header_2017 .right-menus .lang-btns {position:relative; float:left;}
header.header_2017 .right-menus .quicklink-btns > a span {
    text-transform:uppercase;
    color:#fff; font-size:15px
}
header.header_2017 .right-menus .quicklink-btns > a,
header.header_2017 .right-menus .lang-btns > a {display:block; height:80px; color:#fff; font-size:15px; line-height:80px; text-transform:uppercase; padding-left:30px; box-sizing:border-box;}
header.header_2017 .right-menus .quicklink-btns > a {padding-right:30px;}
header.header_2017 .right-menus .lang-btns > a {min-width:125px; padding-right:20px;}
header.header_2017 .right-menus .lang-btns::after{content:""; display:block; position:absolute; left:-1px; top:50%; width:2px; height:14px; background-color:#fff; margin-top:-7px;}
header.header_2017 .right-menus .quicklink-btns ul,
header.header_2017 .right-menus .lang-btns ul {display:none; z-index:2; position:absolute; left:0; width:100%; padding:15px 20px; border:1px solid #444; box-sizing:border-box;}
header.header_2017 .right-menus .quicklink-btns ul {min-width:210px;}
header.header_2017 .right-menus .quicklink-btns ul li,
header.header_2017 .right-menus .lang-btns ul li {margin-top:25px;}
header.header_2017 .right-menus .quicklink-btns ul li:first-child,
header.header_2017 .right-menus .lang-btns ul li:first-child {margin-top:0;}
header.header_2017 .right-menus .quicklink-btns ul a,
header.header_2017 .right-menus .lang-btns ul a {color:#fff; font-size:15px;}
header.header_2017 .right-menus .quicklink-btns ul a:hover,
header.header_2017 .right-menus .quicklink-btns ul a:active,
header.header_2017 .right-menus .lang-btns ul a:hover,
header.header_2017 .right-menus .lang-btns ul a:active {border-bottom:1px solid #fff;}
header.header_2017 .right-menus span.arr {position: relative;overflow: hidden; display:inline-block; width:13px; height:7px; vertical-align:middle; margin-left:15px;}
header.header_2017 .right-menus span.arr img {position: absolute;width:100%; margin-top:0; transition:all 0.3s;}
header.header_2017 .right-menus .opened a span.arr img {margin-top: -7px}

header.header_2017 .right-menus .lang-btns ul::after,
header.header_2017 .right-menus .quicklink-btns ul::after {content:""; position:absolute; left:0; top:0; width:100%; height:100%; background:#000; opacity:0.8; filter:alpha(opacity=80); z-index:-1;}

.acc-tag, .blind {
    font-size: 0 !important;
    position: absolute !important;
    left: -9999em !important;
    top: -9999em !important;
    text-indent: -9999px !important;
    overflow: hidden !important;
    padding: 0 !important;
}

header.header_2017 li {
    list-style: none;
}
body {
    font: normal 12px/1.4 'HyundaiSansText-Regular', 'wFontKrR', 'Malgun Gothic', AppleGothicNeoSD, 'Apple SD 산돌고딕 Neo', 'Microsoft NeoGothic', 'Droid sans', Dotum, 돋움, 굴림, arial, sans-serif;
    color: #000;
}
header.header_2017 fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
header.header_2017 a:link, a:visited, a:active {
    color: #000;
    text-decoration: none;
}
header.header_2017 ul {
    padding: 0;
    margin: 0;
}

@media only screen and (max-height:778px){
    /* height: 778 이하 */
    .header_2017 .side-menu .cont-mid .nav-low-priority {position: relative; margin-top: 28px; padding-top: 23px; border-top: 1px solid #333333}
    .header_2017 .side-menu .cont-mid .nav-low-priority .odd {float: left; width: 41.5%}
    .header_2017 .side-menu .cont-mid .nav-low-priority .even {float: left; width: 58.5%}
    .header_2017 .side-menu .cont-mid .nav-low-priority .on-top {margin-top: 0}
    .header_2017 .side-menu .cont-mid .nav-low-priority li {font-size: 14px}
    .header_2017 .side-menu .cont-mid .nav-high-priority > li {margin-top: 23px; font-size: 18px}
    .header_2017 .side-menu .cont-mid .nav-high-priority .depth-2 {top: 27px; left: 0; padding-left:50px}
    .header_2017 .side-menu .cont-mid .nav-high-priority .depth-2:after {width:37px}
}
/*header.header_2017 .gnb-menu li.models .depth-2 a img[alt="g80"] {width: 290px;}*/
@media only screen and (max-width:1530px){
    /*header.header_2017 .gnb-menu li.models .depth-2 a img {width:254px;}*/
    /*header.header_2017 .gnb-menu li.models .depth-2 a img[alt="g80"] {width:240px;}*/
}
/* 개선 / lhj */
@media only screen and (max-width:1440px){
    
    /*header.header_2017 .gnb-menu li.models .depth-2 li {min-width:33.33%;}*/
    
}
@media only screen and (max-width:1330px){
    header.header_2017 .gnb-menu .cont-mid {padding-left:150px;}
    header.header_2017 .gnb-menu li.hoverable > a {padding-left:15px; padding-right:15px;}
    header.header_2017 .gnb-menu li.hoverable > div.sub-menu {padding-left:165px;}
    header.header_2017 .gnb-menu li.brand .depth-2 .figure {padding-left:390px;}
    header.header_2017 .gnb-menu li.brand .depth-2 .figcaption {width:60%; min-width:60%;}
    header.header_2017 .gnb-menu li.brand .depth-2 .figcaption p span {display:inline;}
    /*header.header_2017 .gnb-menu li.models .depth-2 a img {width:204px;}*/
    /*header.header_2017 .gnb-menu li.models .depth-2 a img[alt="g80"] {width:195px;}*/
}

@media only screen and (max-width:1200px){
    header.header_2017 .gnb-menu li.brand .depth-2 .figcaption {width:50%; min-width:50%;}
    /*header.header_2017 .gnb-menu li.models .depth-2 li {min-width:33.33%;}*/
    header.header_2017 .right-menus .input-wrap {width:130px; margin-right:10px;}
    header.header_2017 .right-menus .quicklink-btns > a,
    header.header_2017 .right-menus .lang-btns > a {padding-left:20px;}
    header.header_2017 .right-menus .quicklink-btns ul,
    header.header_2017 .right-menus .lang-btns ul{padding:15px 20px;}
}

/*mobile*/

/* navigation light-ver */
.wrapper--mob {overflow: hidden}
.header_2017--mob {position: fixed; top:0; z-index: 101;  width:100%; height:50px; background: #000;}
.header_2017--mob.show-quick {}
.header_2017--mob .common-menu {margin: 0 auto;}
.header_2017--mob .common-menu .inner-wrap{}
.header_2017--mob .common-menu .logo {float: left; padding-left:4.68%; width: 60px; position: relative; z-index: 10;}
.header_2017--mob .common-menu .logo a {display: block; padding:14px 0 13px;}
.header_2017--mob .common-menu .logo a span{display: block; height:25px; overflow: hidden;}
.header_2017--mob .common-menu .logo a img {display: block; width:100%;}
.header_2017--mob .common-menu a {color: #fff;}

.header_2017--mob .common-menu .inner-wrap .right-menus {display: inline-block; position: relative; z-index: 10; float: right; /*padding-right:4.68%;*/}
.header_2017--mob .common-menu .inner-wrap .right-menus .concierge {display:none; position:relative; float: left;}
.header_2017--mob .common-menu .inner-wrap .right-menus .btn-open-menu {  position: absolute; padding: 17px 15px 17px; left:100%; margin-left: -50px; transition: 0.5s all;  /*display: inline-block; float: left; position: relative; */}
.header_2017--mob .common-menu .inner-wrap .right-menus .btn-open-menu span {display: block; width:20px; height:16px; overflow: hidden;}
.header_2017--mob .common-menu .inner-wrap .right-menus .btn-open-menu span img {display: block; width:100%;}
.header_2017--mob .common-menu .inner-wrap .right-menus .menus {display: none; position: fixed; top: 0; right: 0; clear: both;}
.header_2017--mob .common-menu .inner-wrap .right-menus .btn-open-menu.opened {background: #fff; margin-left: 0px;}

.header_2017--mob .quick-menu {opacity:0; position: absolute; top: 0; left: 0; width: 100%; height: 50px; text-align: center; pointer-events: none; transition: 0.3s all;}
.header_2017--mob.show-quick .quick-menu{opacity: 1; pointer-events: auto;}
.header_2017--mob .quick-menu .notice-current {position: relative; width: 100%; z-index: 2; background: #000}
.header_2017--mob .quick-menu a.current {display: inline-block; font: 1.125rem/50px "GenesisSansHead"; white-space: nowrap; color: #fff}
.header_2017--mob .quick-menu a.current span {display: inline-block}
.header_2017--mob .quick-menu a.current span.img-con { position: relative; margin-left: 1.125rem; width: 8px; height: 5px; overflow: hidden; line-height: 50px; vertical-align: middle}
.header_2017--mob .quick-menu a.current span.img-con img {margin-top: 0px; width: 100%}
.header_2017--mob .quick-menu.opened a.current span.img-con img {margin-top: -5px;}
.header_2017--mob .quick-menu.opened .notice-current + ul{
    transform: translateY(0%);  transition: 0.5s all;
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
}
.header_2017--mob .quick-menu .notice-current + ul {
    padding: 1.25rem 0 2.375rem; background: #191919;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
    transition: 0.5s all;
    overflow-y:auto;
}
.header_2017--mob .quick-menu ul li {font-size: 1.5rem; line-height: 1;padding:0 20%}
.header_2017--mob .quick-menu ul li a {display: block; padding: 1.875rem 0; color: #ccc}
.header_2017--mob .quick-menu ul li.on a {color: #a36b4f}

.header_2017--mob .head-bg {position: absolute; top: -50px; left: 0; width: 100%; height: 50px; background: #000;}

/* navigation dark-ver */
.header_2017--mob .common-menu.dark a {color: #000;}

.header_2017--mob .common-menu.dark .inner-wrap .right-menus .btn-open-menu span img {}
.header_2017--mob .common-menu.dark .inner-wrap .right-menus .find-dealer:after {background: #000;}

/* navigation side menu */
.header_2017--mob .side-menu { position: absolute; top:0; right: -100%; z-index: 2; width: 100%; height: 100%; padding-left:50px; box-sizing: border-box; overflow-y: auto; transition: 0.5s all; -webkit-overflow-scrolling:touch; font-family: "HyundaiSansHead-Light"; /*min-height:530px;*/}
.header_2017--mob .side-menu.opened {display: block; position: fixed;}
.header_2017--mob .side-menu img{width:100%}
.header_2017--mob .side-menu .cont-top {position: fixed; top: 0; right: -100%; padding-left: 50px; width: 100%; z-index: 2; box-sizing: border-box; background: #000;}
.header_2017--mob .side-menu.opened .cont-top {right: 0}
.header_2017--mob .side-menu .input-wrap {display: block; position: relative; padding: 0 10.2% 0 7.15%; width: 100%; height: 50px; box-sizing: border-box; background: #000; z-index: 20}
.header_2017--mob .side-menu .input-wrap input {padding-left: 14.6%; width: 100%; height: 50px; font: 1.5rem/50px "GenesisSansHead"; background: #000; color: #fff; border: none}
.header_2017--mob .side-menu .input-wrap input:focus {border-bottom: 1px solid #fff; box-sizing: border-box}
.header_2017--mob .side-menu .input-wrap input:-webkit-autofill{-webkit-box-shadow: 0 0 0 1000px inset; -webkit-text-fill-color: #fff !important;}
.header_2017--mob .side-menu .input-wrap input::-webkit-input-placeholder {color:#fff}
.header_2017--mob .side-menu .input-wrap input:focus::-webkit-input-placeholder {color:#000; visibility: hidden}
.header_2017--mob .side-menu .input-wrap img {position: absolute; top: 0; left: 7.15%; height: 48px; width: auto;}
.header_2017--mob .side-menu .input-wrap a.btn-search {display: none; position: absolute; top:50%; right: 10.2%; margin-top: -0.695rem; font-size: 1.375rem; color: #c4c6ca}
.header_2017--mob .side-menu .input-wrap.has-txt a.btn-search {display: block}
.header_2017--mob .side-menu .input-wrap input:focus + img + a.btn-search {display: block}
.header_2017--mob .side-menu .cont-btns {padding: 0 10.2% 0 7.15%; height: 100%; overflow: scroll}
.header_2017--mob .side-menu .cont-mid{margin-top: 5.46875%; padding-top: 50px; background: #000;}
.header_2017--mob .side-menu .cont-mid a{display: block; padding-left: 6.25%; box-sizing: border-box;}
.header_2017--mob .side-menu .cont-mid .btn-accordion {position: relative}
.header_2017--mob .side-menu .cont-mid .btn-accordion .arr-con {position: absolute; right: 4.6875%; top: 50%; margin-top: -5px; width: 17px; height: 10px; overflow: hidden}
.header_2017--mob .side-menu .cont-mid li .btn-accordion .arr-con img{transition:all 0.5s;}
.header_2017--mob .side-menu .cont-mid li.opened .btn-accordion .arr-con img {display: block; transform:translateY(-20px)}
.header_2017--mob .side-menu .cont-mid .btn-accordion+div {height: 0; overflow: hidden; transition: 0.5s all;}
.header_2017--mob .side-menu .cont-mid li.opened .btn-accordion+div {}
.header_2017--mob .side-menu .cont-mid .depth-2 li.on a {position: relative; padding-left: 22.51%; color:#a36b4f;}
.header_2017--mob .side-menu .cont-mid .depth-2 li.on a:after {display: block; position: absolute; top: 50%; left: 6.25%; margin-top: -1px; width: 12.72%; height: 2px; content: ''; background: #a36b4f}
.header_2017--mob .side-menu .nav-high-priority > li{border-bottom:1px solid #292929;}
.header_2017--mob .side-menu .nav-high-priority > li > a{height: 3.4em; color:#fff; font-size:1.875rem; line-height: 3.8;}
.header_2017--mob .side-menu .nav-high-priority .depth-2{padding-bottom:5%;}
.header_2017--mob .side-menu .nav-high-priority .depth-2 li > a{height:3.54em; padding:1.2em 0 0.8em 6.25%; font-size:1.5rem; color:#898989;}
.header_2017--mob .side-menu .nav-low-priority{padding-top:5%;}
.header_2017--mob .side-menu .nav-low-priority a{height:3.27em; color:#fff; font-size:1.625rem; line-height: 3.4 }
.header_2017--mob .side-menu .cont-bot{position: relative; margin-top: 10.98%; padding:10% 2% 4.68% 6.25%; background: #000;}
.header_2017--mob .side-menu .cont-bot .btn-side-share {display:inline-block; position: absolute; left: 0; bottom: 0; padding-top: 16.765%; width:15.38%; height: 0; box-sizing: border-box; overflow: hidden; background: #000}
.header_2017--mob .side-menu .cont-bot .btn-side-share img {position: absolute; top:0; left: 0; width: 100%}
.header_2017--mob .side-menu .cont-bot.on .btn-side-share img {top: auto; bottom: 0;}
.header_2017--mob .side-menu .cont-bot .sns-btns {position: absolute; left: 0;  bottom: 0; margin-bottom: 15.38%; width: 15.38%; height: 0; overflow: hidden}
.header_2017--mob .side-menu .cont-bot.on .sns-btns {height: auto}
.header_2017--mob .side-menu .cont-bot .sns-btns a {display: block; margin-top: 39.47%; width:100%;}
.header_2017--mob .side-menu .cont-bot .sns-btns a:first-child {margin-top: 0}
.header_2017--mob .side-menu .cont-bot .sns-btns a span {}
.header_2017--mob .side-menu .cont-bot .sns-btns a span img {display: block; width: 100%}
.header_2017--mob .side-menu .cont-bot .lang-btns {position: absolute; bottom:2%; right:6%;}
.header_2017--mob .side-menu .cont-bot .lang-btns a {display:inline-block; padding: 0.5em 0.5em; font: 1.75rem/1 'GenesisSansHead'; color: #555;}
.header_2017--mob .side-menu .cont-bot .lang-btns a.on {color: #fff;}
.header_2017--mob .side-menu .btn-close-menu {display:block; position:fixed; top:0; left: 100%; width: 50px; }
.header_2017--mob .side-menu.opened .btn-close-menu {}
.header_2017--mob .side-menu .btn-close-menu span.tb-lines {display: block; width: 50px; height: 50px; background: #fff}
.header_2017--mob .side-menu .btn-close-menu span.tb-lines .ctr-line {display: block; position: absolute; top: 50%; left: 50%; width: 20px; height: 2px; margin: -1px 0 0 -10px; background: #000; transition: all 0.5s }
.header_2017--mob .side-menu .btn-close-menu span.tb-lines:before {display: block; position: absolute; top: 17px; left: 50%; width: 20px; margin: 0 0 0 -10px; height: 2px; background: #000; content: ''; transition: all 0.5s cubic-bezier(.42, 0, .15, 1);}
.header_2017--mob .side-menu .btn-close-menu span.tb-lines:after {display: block; position: absolute; bottom: 17px;left: 50%; width: 20px; margin: 0 0 0 -10px; height: 2px; background: #000; content: ''; transition: all 0.5s cubic-bezier(.42, 0, .15, 1);}
.header_2017--mob .side-menu.opened .btn-close-menu span.tb-lines .ctr-line {opacity: 0;}
.header_2017--mob .side-menu.opened .btn-close-menu span.tb-lines:before {top: 24px; left: 50%; -webkit-transform:rotate(45deg); -moz-transform:rotate(45deg); transform:rotate(45deg);}
.header_2017--mob .side-menu.opened .btn-close-menu span.tb-lines:after {bottom: 24px; left: 50%; -webkit-transform:rotate(-45deg); -moz-transform:rotate(-45deg); transform:rotate(-45deg);}
.header_2017--mob .side-menu .btn-close-menu img{width:100%;}

/* build & price .header_2017 */
.header_2017--mob .common-menu.pop {height:100%}
.header_2017--mob .common-menu.pop .inner-wrap {height:100%}
.header_2017--mob .common-menu.pop .right-menus {position:absolute;top:0;right:0;height:100%}
.header_2017--mob .common-menu.pop .right-menus a {display:block;height:100%}
.header_2017--mob .common-menu.pop .right-menus a img {height:100%}

/* 개선 / lhj */
header.header_2017--mob .right-menus .btn-open-menu2 {background:
        linear-gradient(to bottom,
        transparent 0,
        transparent 45%,
        rgba(255,255,255,1) 46%,
        rgba(255,255,255,1) 54%,
        transparent 55%,
        transparent 100%);
    transition: background .3s;
}
header.header_2017--mob {position:fixed; top:0; z-index: 100;  width:100%; height:50px; background: rgba(0,0,0,.95);}
header.header_2017--mob .common-menu2 {margin: 0 auto;}
header.header_2017--mob .common-menu2 .logo {float: left; padding-left:4.68%; width: 60px; position: relative; z-index: 10;}
header.header_2017--mob .common-menu2 .logo a {display: block; padding:14px 0 0;}
header.header_2017--mob .common-menu2 .logo a span{display: block; height:25px; overflow: hidden;}
header.header_2017--mob .common-menu2 .logo a img {display: block; width:100%;}
header.header_2017--mob .common-menu2 a {display:block; color:#fff; text-transform:uppercase; word-break:break-word;}
header.header_2017--mob .right-menus {display:inline-block; z-index:10; float:right;}
header.header_2017--mob .right-menus .btn-open-menu2 {display:block; width:21px; height:18px; margin:16px 17px 14px;}
header.header_2017--mob .right-menus .btn-open-menu2 span {position:relative; display:block; height:100%; text-indent:-999em; overflow:hidden;}
header.header_2017--mob .right-menus .btn-open-menu2 span::before,
header.header_2017--mob .right-menus .btn-open-menu2 span::after {content:""; position:absolute; width:21px; height:2px; background:#fff; transition: 0.2s all;}
header.header_2017--mob .right-menus .btn-open-menu2 span::before {left:0; top:0;}
header.header_2017--mob .right-menus .btn-open-menu2 span::after {left:0; top:16px;}
header.header_2017--mob .right-menus .btn-open-menu2.on span::before {
    top:8px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
header.header_2017--mob .right-menus .btn-open-menu2.on {
    background:
            linear-gradient(to bottom,
            transparent 0,
            transparent 45%,
            rgba(255,255,255,0) 46%,
            rgba(255,255,255,0) 54%,
            transparent 55%,
            transparent 100%);
}
header.header_2017--mob .right-menus .btn-open-menu2.on span::after {
    top:8px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

header.header_2017--mob .acc-tag {
    font-size: 0 !important;
    position: absolute !important;
    left: -9999px !important;
    top: -9999px !important;
    text-indent: -9999px !important;
    visibility: hidden !important;
    overflow: hidden !important;
}
header.header_2017--mob .right-menus .gnb-menu {transform: none !important;position:fixed; right:-100%; top:50px; width:100%; height:100%; padding:7.813% 9.375% 50px; box-sizing:border-box; transition: 0.5s all; -webkit-overflow-scrolling:touch;}
header.header_2017--mob .right-menus .gnb-menu.opened {position:fixed;right:0; transform: none !important;}
header.header_2017--mob .gnb-menu .gnb-background {position:absolute; display:block; left:0; top:0; width:100%; height:100%; background: rgba(0,0,0,95); opacity:0.95; z-index:-1;}
header.header_2017--mob .gnb-menu .cont-btns {position:relative; height:100%;}
header.header_2017--mob .gnb-menu .input-wrap {z-index:20; position:relative; width:100%; height:60px; padding-bottom:32px; box-sizing:border-box;}
header.header_2017--mob .gnb-menu .input-wrap input {padding-left:16px; width: 100%; height:1.8rem; font:2.3rem/1 "GenesisSansHead"; background:transparent; color:#fff; padding-bottom:10px; border:none; border-bottom:1px solid #3e3e3e;}
header.header_2017--mob .gnb-menu .input-wrap input:focus {border-bottom: 1px solid #fff !important; height: 3.2rem; outline: 0; box-sizing: border-box}
header.header_2017--mob .gnb-menu .input-wrap input:-webkit-autofill{-webkit-box-shadow: 0 0 0 1000px inset; -webkit-text-fill-color: #fff !important;}
header.header_2017--mob .gnb-menu .input-wrap input::-webkit-input-placeholder {color:#fff}
header.header_2017--mob .gnb-menu .input-wrap input:focus::-webkit-input-placeholder {color:#000; visibility: hidden}
header.header_2017--mob .gnb-menu .input-wrap img {position:absolute; top:2px; left:0; height:12px; width:auto;}
header.header_2017--mob .gnb-menu .input-wrap a.btn-search {text-decoration:none !important;display:none; position:absolute; top:0; right:0; margin-top:0; font-size: 1.375rem; line-height:1; color: #c4c6ca;}
header.header_2017--mob .gnb-menu .input-wrap.has-txt a.btn-search {display: block}
header.header_2017--mob .gnb-menu .input-wrap input:focus + img + a.btn-search {display: block}

header.header_2017--mob .gnb-menu .nav-high-priority .hoverable {width:50%; margin-top:10%; list-style: none;} /*26px*/
header.header_2017--mob .gnb-menu .nav-high-priority .hoverable:first-of-type {margin-top:0;} /*26px*/
header.header_2017--mob .gnb-menu .nav-high-priority .hoverable > a {position:relative;font-weight: 100 !important; font:2.1rem/1 GenesisSansHead, sans-serif;text-decoration: none;}
header.header_2017--mob .gnb-menu .sub-menu {position:absolute; top:0; left:50%; height:85%; padding-left:5%; border-left:1px solid #353535; overflow-y:auto; box-sizing:border-box;}
header.header_2017--mob .gnb-menu .nav-high-priority .depth-2 li {list-style: none;}
header.header_2017--mob .gnb-menu .nav-high-priority .depth-2 a {font-size: 1.5rem; line-height:1.1;
    text-decoration: none;}
header.header_2017--mob .gnb-menu .nav-high-priority .hoverable.models li {padding-top:30px; border-top:1px solid #353535; margin-top:30px;}
header.header_2017--mob .gnb-menu .nav-high-priority .hoverable.models li:first-child {padding-top:0; border-top:0; margin-top:0;}
header.header_2017--mob .gnb-menu .nav-high-priority .hoverable.models li strong {
    font-weight: 400; display:block; font:1.875rem/1 "GenesisSansHead", sans-serif;}

header.header_2017--mob .gnb-menu .nav-high-priority .hoverable.models li img {
    margin-top: 20px;
}
header.header_2017--mob .gnb-menu .nav-high-priority .hoverable.models li:nth-child(1) img {
    width: 85.26%;
}
header.header_2017--mob .gnb-menu .nav-high-priority .hoverable.models li:nth-child(2) img {
    width: 91.45%;
}
header.header_2017--mob .gnb-menu .nav-high-priority .hoverable.models li:nth-child(3) img {
    width: 94.66%;
}
header.header_2017--mob .gnb-menu .nav-high-priority .hoverable.models li:nth-child(4) img {
    width: 100%;
}


header.header_2017--mob .gnb-menu .nav-high-priority .hoverable.models li p {font:1.2rem/1 "GenesisSansHead-light"; margin-top:10px;}
header.header_2017--mob .gnb-menu .nav-low-priority {margin-top:19.235%;} /*50px*/
header.header_2017--mob .gnb-menu .nav-low-priority .hoverable {width:50%; margin-top:7.695%; list-style: none;} /* 20px */
header.header_2017--mob .gnb-menu .nav-low-priority .hoverable > a {position:relative; font-size:1.75rem;top: 0.5rem;text-decoration: none;}
header.header_2017--mob .gnb-menu .nav-low-priority .depth-2 a {font-size:1.5rem;}
header.header_2017--mob .gnb-menu .hoverable .arr-con {
    /*display: none;*/
    position:absolute;
    right:5px;
    top:50%;
    display:inline-block;
    width:.9rem;
    height:.9rem;
    margin-top:-0.65rem;
    border-top:1px solid transparent;
    border-right:1px solid transparent;
    -webkit-transform:rotate(45deg);
    -ms-transform:rotate(45deg);
    transform:rotate(45deg);
}
header.header_2017--mob .gnb-menu .nav-low-priority .hoverable .arr-con {right:5px; border-top:1px solid #fff; border-right:1px solid #fff;}
header.header_2017--mob .gnb-menu .hoverable:hover .arr-con,
header.header_2017--mob .gnb-menu .hoverable.on .arr-con {border-top:1px solid #a36b4f; border-right:1px solid #a36b4f;}
header.header_2017--mob .gnb-menu .hoverable a:active,
header.header_2017--mob .gnb-menu .hoverable.on > a {color:#a36b4f;}
header.header_2017--mob .gnb-menu .sub-menu {display:none;}
header.header_2017--mob .gnb-menu .depth-2 > li {margin-top:20px; line-height:1;list-style: none;}
header.header_2017--mob .gnb-menu .depth-2 > li a {text-decoration: none;}
header.header_2017--mob .gnb-menu .depth-2 > li:first-child {margin-top:0;}
header.header_2017--mob .gnb-menu .depth-2 > li:last-child {margin-bottom:30px;}


header.header_2017--mob .right-menus .input-wrap input,
header.header_2017--mob .right-menus .input-wrap input::-webkit-input-placeholder,
header.header_2017--mob .common-menu2 a span {
    font-family: GenesisSansHead, sans-serif;
    font-weight: 100;
}
header.header_2017--mob .common-menu2 .quicklink-btns ul a,
header.header_2017--mob .common-menu2 .depth-2 a {
    font-family: "GenesisSansText", sans-serif;
    font-weight: 400;
}
header.header_2017--mob .common-menu2 .depth-2 a strong {
    font-family: "GenesisSansHead", sans-serif;
    color: white;
}
header.header_2017--mob .gnb-menu .nav-low-priority .hoverable > a {
    font-family: GenesisSansHead, sans-serif;
    font-weight: 100;
}

h1.main-tit {
    font-family: "GenesisSansHead", sans-serif;
    font-weight: 100;
    letter-spacing: 0.06em;
}

@media only screen and (min-width:640px) and  (max-width:767px){
    html, html body{font-size: 1em;}
}

@media only screen and (min-width:600px) and  (max-width:639px){
    html, html body {font-size: 0.938em;}
}

@media only screen and (min-width:560px) and  (max-width:599px){
    html, html body {font-size: 0.875em;}
}

@media only screen and (min-width:520px) and  (max-width:559px){
    html, html body {font-size: 0.813em;}
}

@media only screen and (min-width:480px) and  (max-width:519px){
    html, html body {font-size: 0.75em;}
}

@media only screen and (min-width:440px) and  (max-width:479px){
    html, html body {font-size: 0.65em;}
}

@media only screen and (min-width:400px) and  (max-width:439px){
    html, html body {font-size: 0.65em;}
}

@media only screen and (min-width:360px) and  (max-width:399px){
    html, html body {font-size: 0.663em;}
}

@media only screen and (max-width:359px) {
    html, html body {font-size: 0.65em;}
}
@media (min-width: 0)
{
    .breed-screen {
        height: calc(100vh - 80px);
        margin-top: 0;
    }
}
.layout__content {
    position: relative;
}
@media screen and (min-width: 1024px){
    .layout--page {
        padding-top: 0;
    }
}
.layout__content:before {
    content: '';
    display: block;
    width: 100%;
    height: 80px;
    position: absolute;
    left: 0;
    top: -80px;
    background-color: black;
}

@media (min-width:1024px){
    .header_2017--mob {
        position: absolute;
        left: -30000px;
    }
}
@media (max-width:1024px){
    .header_2017 {
        position: absolute;
        left: -30000px;
    }
}
header.header_2017--mob .right-menus .input-wrap a.btn-search span,
header.header_2017 .right-menus .input-wrap a.btn-search span {
    font-family: GenesisSansHead, sans-serif;
    font-weight: 100;
}
header.header_2017--mob a,
header.header_2017--mob a span {
    letter-spacing: 0.06em !important;
}
header.header_2017 a,
header.header_2017 a span {
    letter-spacing: 0.06em !important;
}
header.header_2017 .right-menus .quicklink-btns > a,
header.header_2017 .right-menus .lang-btns > a {
    padding-left: 20px;
}

/* Footer */
footer {position: relative; width: 100%; /*overflow: hidden;*/}
footer .inner-wrap {max-width: 1920px; margin: 0 auto}
footer .footer-share {background: #000000;padding: 60px 0 50px}
footer .footer-share h3 {
    font-family: "GenesisSansHead", sans-serif;
    font-weight: 100;
    font-size: 18px;
    color: white;
    text-align: center;
}
footer .footer-share ul {
    margin-top: 25px;
    text-align: center;
}
footer .footer-share li a img {
    max-width: 100%;
    display: inline-block;
}
footer .footer-share li {
    display: inline-block;
}
footer .footer-share li a [alt="youtube"]{
    height: 50px;
    margin-top: 3px;
}
footer .footer-share li a {
    display: inline-block;
    max-width: 64px;
    vertical-align: middle;
}
footer .footer-top {background: #dbdbdb;}
footer .footer-top ul {margin: 0 auto; padding: 30px 0 20px; max-width: 1920px; text-align: center; font-size: 0; box-sizing: border-box;}
footer .footer-top ul li {display: inline-block; padding: 0 4.4875%; text-align: center; font-size: 12px; line-height: 1;}
footer .footer-top ul li.first {padding-left: 0;}
footer .footer-top ul li.last {padding-right: 0;}
footer .footer-top ul li a {
    margin-bottom: -5px;
    font-size:12px;display: inline-block; color: #666; text-transform: uppercase; text-decoration: none;}
/*footer .footer-top > ul > li:nth-child(4) > a {font-weight:bold;}*/
footer .footer-bot {background: #e6e6e6;}
footer .footer-bot .bot-content {margin: 0 auto; padding: 22px 0 0; width: 100%; max-width: 1920px;}
footer .footer-bot .country-select {float: left;  margin-left: 10px;}
footer .footer-bot .country-select {float: left; position: relative; margin-left: 10px; transition: 0.5s all; transition-delay: 0.3s;}
footer .footer-bot .country-select .selected {position: relative; z-index: 2; font: 18px/1 'HyundaiSansHead-Light','wFontKrUL';}
footer .footer-bot .country-select a {display: block; position: relative; width: 160px; padding: 20px 54px 20px 68px;}
footer .footer-bot .country-select a.choose {border-top: 1px solid #e6e6e6;}
footer .footer-bot .country-select a span {display: block; position: absolute; left: 20px; top:21px; width: 23px; height: 13px; overflow: hidden;}
footer .footer-bot .country-select a span img {display: block;}
footer .footer-bot .country-select a span.arr {width: 13px; height: 7px; left: auto; right: 20px; top: 24px;}
footer .footer-bot .country-select a span.arr img {margin-top: -7px;}
footer .footer-bot .country-select.opened a span.arr img {margin-top: 0px;}
footer .footer-bot .country-select .lang-wrap {position: absolute; bottom: 59px; left: 0; width: 100%; height: 0; overflow: hidden;}
footer .footer-bot .country-select .lang-wrap .inner-wrap {display: inline-block; width: 100%; height: 0; box-sizing: border-box;}
footer .footer-bot .country-select .lang-wrap .opt-list {padding: 10px 0; width: 100%; box-sizing: border-box; background: #fff;}
footer .footer-bot .country-select .lang-wrap .opt-list li {position: relative; font: 18px/1 'HyundaiSansHead-Light','wFontKrUL';}
footer .footer-bot .country-select .lang-wrap .opt-list li span {display: block; position: absolute; left: 20px; top:10px; width: 23px; height: 13px; overflow: hidden;}
footer .footer-bot .country-select .lang-wrap .opt-list li a {width:100%; display: block; padding: 9px 0 5px 68px; box-sizing: border-box; color: #888;}
footer .footer-bot .country-select.opened {background: #fff; transition-delay: 0s;}
footer .footer-bot .country-select.opened .lang-wrap {height: 0}
footer .footer-bot .country-select.opened .lang-wrap .inner-wrap {height: auto}
footer .footer-bot p.copy {float: right; margin-right: 49px; font-size: 10px; line-height: 58px; color: #666;}

footer .footer-bot .bot-content .btn{float:left; width:50%;padding-left:30px;font:18px/1 'HyundaiSansHead-Light';}
footer .footer-bot .bot-content .btn a{display:inline-block;padding:21px 0px 0px; margin-right:20px;}
footer .footer-bot .bot-content .btn a:hover{/*text-decoration:underline;*/ border-bottom:1px solid #000; padding-bottom:5px;}
footer .footer-bot .bot-content .btn a:last-child{margin-right:0;}
footer .footer-bot .bot-content .btn a > span{display:inline-block;padding-right:10px;}

footer .txt-ww{float:left; width:50%;padding-left:30px;font:18px/1 'HyundaiSansHead-Light';}
footer .txt-ww a{display:inline-block;padding:21px 0px 5px; margin-right:20px;
    border-bottom: 1px solid transparent;
    transition: all .3s;
}
footer .txt-ww a:hover{/*text-decoration:underline;*/ border-bottom:1px solid #000; padding-bottom:5px;}
footer .txt-ww a:last-child{margin-right:0;}

@media screen and (min-width: 1024px) {
    
    .footer__disclaimer {
        padding: 5px 0 15px;
        background: transparent;
    }
    
}
footer .footer-bot .bot-content .btn, footer .txt-ww {
    width: 50%;
    font: 18px/1 HyundaiSansHead-Light;
}
footer {
    font-family: HyundaiSansText-Regular,wFontKrR,'Malgun Gothic',AppleGothicNeoSD,'Apple SD 산돌고딕 Neo','Microsoft NeoGothic','Droid sans',Dotum,돋움,굴림,arial,sans-serif;
}
.footer__disclaimer {
    clear: both;
    padding: 0 30px 30px;
    font-size: 0.6em;
    text-align: justify;
    background: #e6e6e6;
}

/* 20161103S / digitalworks / 정병만 / 개선업무_TASK6 CSS추가 / v1.0 */
footer .footer-top .family-site {display: inline-block; width: 200px; text-align:left; background:#fff;position:relative;}
footer .footer-top .family-site a.selected {display: inline-block; position: relative; margin-top: 18px; padding: 10px 0 9px 10px; width: 200px; box-sizing: border-box; z-index: 2; font-size: 14px; line-height: 1; color: #000;}
footer .footer-top .family-site a.selected span.arr {display: block; position: absolute; right: 10px; top:50%; margin-top: -3px; width: 9px; height: 5px; overflow: hidden}
footer .footer-top .family-site a.selected span.arr img {width: 100%; transition: all 0.3s}
footer .footer-top .family-site.opened a.selected span.arr img {display: block; margin-top: -5px}
footer .footer-top .family-site a:first-child {margin-top: 0;}
footer .footer-top .family-site .opt-list {width: 100%; overflow: hidden; box-sizing: border-box; position:absolute;left:0;top:33px;background:#fff;display:none;}
footer .footer-top .family-site .opt-list ul {padding: 0px; max-height: 102px; overflow: hidden; overflow-y: auto;transition: all 0.3s; }
footer .footer-top .family-site .opt-list ul li{padding:0;}
footer .footer-top .family-site .opt-list a {display: block; padding: 7px 0 3px; width: 200px; box-sizing: border-box; font-size: 12px; line-height: 24px; color: #888;text-align:left;text-indent:10px;}
/* 20161103E / digitalworks / 정병만 / 개선업무_TASK6 CSS추가 / v1.0 */
footer .footer-bot {
    background: #e6e6e6;
}
footer p {
    margin-top: 0;
}
footer .txt-ww a {
    font-size: 23.5px;
    font-family: 'HyundaiSansHead-Light';
    text-decoration: none;
}
.clearfix:after, .clearfix:before {
    content: " ";
    display: table;
    clear: both;
}

@media (max-width: 1024px) {
    
    
    footer .txt-ww a:hover{/*text-decoration:underline;*/ border-bottom:1px solid transparent !important; color: white; padding-bottom:5px;}
    
    footer .footer-share li {
        margin: 1% 0 3.5%;
    }
    footer .footer-share li a {
        display: inline-block;
        padding: 3%;
        font-size: 15px;
    }
    footer .footer-share i:before {
        color: black;
        font-size: 25px;}
    
    footer .footer-share h3 {
        padding-top: 7%;
        color: #4d4d4d;
        font-size: 18px;
        text-align: center;
    }
    .page-share .sns-btns a {
        margin: 0 1rem;
    }
    footer .footer-share {
        background: #dbdbdb;
        padding: 0;
    }
    footer .footer-top {
        background-color: transparent;
    }
    
    footer .footer-top ul:after, footer .footer-top ul:before,
    footer .footer-bot:after, footer .footer-bot:before,
    footer .footer-top:after, footer .footer-top:before {
        content: " ";
        display: table;
        clear: both;
    }
    footer .footer-top ul {
        padding: 5% 9.375%;
    }
    footer .footer-top ul li {
        float: left;
        width: 50%;
        padding: 3% 0;
        font: 18rem/2.2 HyundaiSansText-Regular;
    }
    footer .footer-top ul li a {
        text-align: left;
        font-size: 16px;
        display: block;
        text-transform: none;
        color: #fff;
    }
    footer .footer-share ul {
        margin-top: 2%;
        padding-bottom: 3%;
    }
    footer .footer-bot  {
        
        margin-bottom: 60px;
    }
    footer .footer-bot .bot-content {
        background-color: #303030;
        font-size: 0;
        box-sizing: border-box;
        padding: 3% 9.375% 5%;
        position: relative;
    }
    footer .footer-bot .bot-content .btn {
        padding: 0;
    }
    footer .footer-bot p.copy {
        position: absolute;
        padding: 0 !important;
        left: 9.375%;
        font-size: 14px !important;
        bottom: -40px;
        margin: 0 !important;
    }
    footer .txt-ww a {
        display: inline-block;
        height: 50px;
        width: 50%;
        float: left;
        text-align: left;
        font-size: 20px;
        color: #fff;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        margin: 0;
    }
    footer .txt-ww {
        padding: 0;
        width: 100%;
    }
    footer .footer-bot p.copy {
        padding: 7.8% 9.375% 3%;
        font: 1.125rem/1.4em HyundaiSansText-Regular;
        color: #888;
        letter-spacing: -.02em;
    }
    footer .footer__disclaimer {
        padding: 0 9.375% 50px;
        color: #888;
        background-color: transparent;
    }
    footer {
        position: relative;
        width: 100%;
        background: #191919;
    }
    .page__content {
        padding-bottom: 75px;
    }
}

.top-btn:before {
    content: '';
    display: block;
    width: 100%;
    height: 30px;
    position: absolute;
    left: 0;
    bottom: -30px;
}
.top-btn:after {
    content: '';
    display: block;
    width: 1px;
    height: 30px;
    background-color: #a36b4f;
    position: absolute;
    left: 50%;
    bottom: -30px;
}
.top-btn.show {
    opacity: 1;
    pointer-events: all;
}
.top-btn {
    transition: opacity .3s;
    opacity: 0;
    pointer-events: none;
    position: fixed;
    bottom: 50px;
    right: 4px;
    color: #a36b4f;
    text-transform: uppercase;
    font-size: 11px;
    z-index: 100;
    cursor: pointer;
}