/* ------------------------------------------------------------------
  *  last date: 2016.06.16
 * ------------------------------------------------------------------ */


@font-face {
    font-family: 'wFontKrUL';
    src: url('../../fonts/GenesisSansHeadKROTFLight.eot'); /* IE9 Compat Modes */
    src: url('../../fonts/GenesisSansHeadKROTFLight.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    local(※), url('../../fonts/GenesisSansHeadKROTFLight.woff') format('woff'), /* Modern Browsers */
    url('../../fonts/GenesisSansHeadKROTFLight.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../../fonts/GenesisSansHeadKROTFLight.svg#GenesisSansHeadKROTFLight') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'wFontKrR';
    src: url('../../fonts/GenesisSansTextKROTFRegular.eot'); /* IE9 Compat Modes */
    src: url('../../fonts/GenesisSansTextKROTFRegular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    local(※), url('../../fonts/GenesisSansTextKROTFRegular.woff') format('woff'), /* Modern Browsers */
    url('../../fonts/GenesisSansTextKROTFRegular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../../fonts/GenesisSansTextKROTFRegular.svg#GenesisSansTextKROTFRegular') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'HyundaiSansHead-Light';
    src: url('../../fonts/GenesisSansHeadKROTFLight.eot');
    src: url('../../fonts/GenesisSansHeadKROTFLight.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/GenesisSansHeadKROTFLight.woff') format('woff'),
    url('../../fonts/GenesisSansHeadKROTFLight.ttf') format('truetype'),
    url('../../fonts/GenesisSansHeadKROTFLight.svg#GenesisSansHeadKROTFLight') format('svg');
    font-weight: normal;
    font-style: normal;
    
}


@font-face {
    font-family: 'HyundaiSansText-Regular';
    src: url('../../fonts/GenesisSansTextKROTFRegular.eot');
    src: url('../../fonts/GenesisSansTextKROTFRegular.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/GenesisSansTextKROTFRegular.woff') format('woff'),
    url('../../fonts/GenesisSansTextKROTFRegular.ttf') format('truetype'),
    url('../../fonts/GenesisSansTextKROTFRegular.svg#GenesisSansTextKROTFRegular') format('svg');
    font-weight: normal;
    font-style: normal;
    
}

@font-face {
    font-family: 'GenesisSansHead';
    src: url("../../fonts/GenesisSansHead-Light.eot");
    src: url("../../fonts/GenesisSansHead-Light.eot?#iefix") format('embedded-opentype'),
    url("../../fonts/GenesisSansHead-Light.woff") format('woff'),
    url("../../fonts/GenesisSansHead-Light.woff2") format('woff2'),
    url("../../fonts/GenesisSansHead-Light.ttf") format('truetype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'GenesisSansHead';
    src: url("../../fonts/GenesisSansHead-Regular.eot");
    src: url("../../fonts/GenesisSansHead-Regular.eot?#iefix") format('embedded-opentype'),
    url("../../fonts/GenesisSansHead-Regular.woff") format('woff'),
    url("../../fonts/GenesisSansHead-Regular.woff2") format('woff2'),
    url("../../fonts/GenesisSansHead-Regular.ttf") format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'GenesisSansText';
    src: url("../../fonts/GenesisSansText-Regular.eot");
    src: url("../../fonts/GenesisSansText-Regular.eot?#iefix") format('embedded-opentype'),
    url("../../fonts/GenesisSansText-Regular.woff") format('woff'),
    url("../../fonts/GenesisSansText-Regular.woff2") format('woff2'),
    url("../../fonts/GenesisSansText-Regular.ttf") format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'icomoon';
    src:  url('../../fonts/icomoon.eot?gs5xd8');
    src:  url('../../fonts/icomoon.eot?gs5xd8#iefix') format('embedded-opentype'),
    url('../../fonts/icomoon.ttf?gs5xd8') format('truetype'),
    url('../../fonts/icomoon.woff?gs5xd8') format('woff'),
    url('../../fonts/icomoon.svg?gs5xd8#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
    content: "\ea90";
}
.icon-youtube:before {
    content: "\ea9d";
}
.icon-instagram:before {
    content: "\ea92";
}
.icon-instagram:before {
    content: "\ea92";
}

.icon-instagram,
.icon-youtube,
.icon-facebook {
    font-size: 36px;
    color: white;
    
    transition: color .3s ease;
}
footer .footer-share li a:hover .icon {
    color: #a36b4f;
}
footer .footer-share li a {
    margin: 0 15px;
}