//@mixin remD {
//	@media only screen and (min-width: 1900px) and (min-height: 750px) {
//		@content;
//	}
//}
html, body {
	font-size: 14px;
	color: #888;
	font-family: 'GenesisSansTextKROTFRegular', sans-serif;
	line-height:140%;
}
.tablet body {
	position: relative;
	height: 100%;
	width: 100%;
}
html.tablet {
	position: relative;
	height: 100%;
	width: 100%;
}
// _app.scss:786
.text--sm {
	font-size: 14px;
}
.text--uppercase {
	text-transform: uppercase;
}
.text--light {
	color: #888;
}
.text--center {
	text-align: center;
}
.link__icon {
	display: inline;
}
.link--summary-list-item-heading,
.link--uppercase-primary {
	display: inline;
}
.list {
	margin-top: 25px;
}
.list--unstyled {
	display: block;
	padding-top: 0;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 0;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0;
	list-style: none;
	margin-top: 20px;
}
.list--bullets {
	display: block;
}
.button {
	background-color: #000;
	display: inline-block;
	border: 1px solid #000;
	padding-top: 0;
	padding-right: 30px;
	padding-bottom: 0;
	padding-left: 30px;
	text-decoration: none;
	cursor: pointer;
	outline: none;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	height: 47px;
	line-height: 47px;
	-webkit-transition: ease 0.25s;
	transition: ease 0.25s;
}
.button__text,
.button__icon {
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
}
.button__text *,
.button__icon * {
	color: #fff;
	text-decoration: none;
}
.button__icon--graphic-item-hamburger {
	position: relative;
	top: 4px;
}
.button:hover,
.button:active {
	background-color: #fff;
	border-color: #f3f3f3;
}
.button:hover .button__text,
.button:active .button__text,
.button:hover .button__icon,
.button:active .button__icon {
	color: #000;
	text-decoration: none;
}
.button:hover .button__text *,
.button:active .button__text *,
.button:hover .button__icon *,
.button:active .button__icon * {
	color: #000;
	text-decoration: none;
}
.button--danger {
	border-color: #666;
	background-color: #666;
}
.button--danger:hover,
.button--danger:active {
	background-color: #fcfcfc;
}
.button--navigation-close {
	background-color: transparent !important;
	border-color: transparent !important;
	width: 100%;
	height: 100%;
	text-align: center;
	padding-top: 0;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 0;
	color: #fff;
	font-size: 30px;
	-webkit-transition: color 0.4s;
	transition: color 0.4s;
}
.button--navigation-close .line-wrap {
	display: block;
	position: absolute;
	top: 50%;
	left: -9px;
	width: 30px;
	height: 25px;
	overflow: hidden;
}
@media screen and (max-width: 1024px) {
	.button--navigation-close .line-wrap {
		width: 50px;
		height: 50px;

		.mobile:not(.landscape) & {
			width: 5rem;
			height: 5rem;
		}
	}
}
.button--navigation-close .line-wrap:hover .tb-lines:after,
.button--navigation-close .line-wrap:hover .tb-lines:before {
	background: #804033;
}
.button--navigation-close .tb-lines {
	color: #999;
}
.button--navigation-close .tb-lines:before {
	display: block;
	position: absolute;
	top: 12px;
	left: 0;
	width: 36px;
	margin-right: -18px;
	height: 1px;
	background: #fff;
	content: '';
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-transition: all 0.3s;
	transition: all 0.3s;

	.mobile:not(.landscape) & {
		top: 1.2rem;
		width: 3.6rem;
		margin-right: -1.8rem;
	}
}
@media screen and (max-width: 1024px) {
	.button--navigation-close .tb-lines:before {
		top: 23px;
		width: 50px;
		.mobile:not(.landscape) & {
			top: 2.3rem;
			width: 5.0rem;
		}
	}
}
.button--navigation-close .tb-lines:after {
	display: block;
	position: absolute;
	bottom: 12px;
	left: 0;
	width: 36px;
	margin-right: -18px;
	height: 1px;
	background: #fff;
	content: '';
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-transition: all 0.3s;
	transition: all 0.3s;

	.mobile:not(.landscape) & {
		bottom: 1.2rem;
		width: 3.6rem;
		margin-right: -1.8rem;
	}
}
@media screen and (max-width: 1024px) {
	.button--navigation-close .tb-lines:after {
		bottom: 25px;
		width: 50px;

		.mobile:not(.landscape) & {
			bottom: 2.5rem;
			width: 5.0rem;
		}
	}
}
.button--navigation-close .fa-close {
	-webkit-transition: color 0.4s;
	transition: color 0.4s;
	font-size: 30px !important;
}
.button--navigation-close .fa-close:before {
	content: "";
}
.button--navigation-close:hover .fa-close,
.button--navigation-close:active .fa-close {
	color: #804033 !important;
	border-color: transparent;
	background-color: transparent;
}
.button--full-width {
	width: 100%;
}
.button--has-icon-left {
	padding-left: 12px;
}
.button--has-icon-left .button__icon {
	margin-right: 12px;
}
.button--has-icon-right {
	padding-right: 12px;
}
.button--has-icon-right .button__icon {
	margin-left: 12px;
}
.button--transparent {
	padding-top: 0;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 0;
	border: none;
	height: auto;
	background-color: transparent;
}
.button--transparent:hover,
.button--transparent:active {
	background-color: transparent;
	border-color: transparent;
}
.button--user-navigation {
	padding-right: 0;
}
.button--user-navigation .button__icon {
	margin-left: 0;
	font-size: 34px;
}
@media screen and (min-width: 1024px) {
	.button--user-navigation .button__icon {
		margin-left: 12px;
	}
}
.button--user-navigation .button__icon padding-top 55px {
	 font-size: 20px;
 }
.button--user-navigation .button__text {
	display: none;
}
@media screen and (min-width: 1024px) {
	.button--user-navigation .button__text {
		display: inline;
		font-size: 16px;
	}
}
.button--link {
	min-width: 130px;
	text-align: right;
	border-color: transparent;
	border-bottom: 1px solid #fff;
	background-color: transparent;
	padding-right: 0;
	padding-left: 0;
	margin-top: 25px;
}
.button--link .fa-caret-right {
	-webkit-transition: ease 0.25s;
	transition: ease 0.25s;
	margin-left: 10px;
	font-size: 24px;
	top: 3px;
	position: relative;
}
.button--link:hover {
	background-color: transparent;
	border-color: transparent;
	border-bottom: 1px solid #9a4835;
	text-decoration: none;
}
.button--link:hover .fa-caret-right {
	color: #9a4835 !important;
}
.button--link:hover .button__text {
	color: #9a4835;
	text-decoration: none;
}
.button--link .button__text {
	font-size: 24px;
	font-family: 'GenesisSansHeadKROTFLight';
	-webkit-transition: ease 0.25s;
	transition: ease 0.25s;
}
@media screen and (max-width: 1023px) {
	.button--link .button__text {
		font-size: 34px;
	}
}
.button--link-dark {
	min-width: 130px;
	text-align: right;
	border-color: transparent;
	border-bottom: 1px solid #000;
	background-color: transparent;
	padding-right: 0;
	padding-left: 0;
}
.button--link-dark .button__text {
	font-size: 24px;
	font-family: 'GenesisSansHeadKROTFLight';
	color: #000;
}
.button--link-dark:hover {
	background-color: transparent;
	border-color: transparent;
	border-bottom: 1px solid #9a4835;
	text-decoration: none;
}
.button--link-dark:hover .button__text {
	color: #9a4835;
	text-decoration: none;
}
.button--link-inverted .button__icon,
.button--link-inverted .button__text {
	color: #ccc;
}
.button--link-inverted .button__icon *,
.button--link-inverted .button__text * {
	color: #ccc;
}
.button--link-inverted:hover .button__icon,
.button--link-inverted:active .button__icon,
.button--link-inverted:hover .button__text,
.button--link-inverted:active .button__text {
	color: #9a4835;
}
.button--link-inverted:hover .button__icon *,
.button--link-inverted:active .button__icon *,
.button--link-inverted:hover .button__text *,
.button--link-inverted:active .button__text * {
	color: #9a4835;
}
.button--link-inverted:hover .button__icon--graphic-item-hamburger .graphic-item-hamburger *,
.button--link-inverted:active .button__icon--graphic-item-hamburger .graphic-item-hamburger *,
.button--link-inverted:hover .button__icon--graphic-item-hamburger .graphic-item-hamburger:before,
.button--link-inverted:active .button__icon--graphic-item-hamburger .graphic-item-hamburger:before,
.button--link-inverted:hover .button__icon--graphic-item-hamburger .graphic-item-hamburger:after,
.button--link-inverted:active .button__icon--graphic-item-hamburger .graphic-item-hamburger:after {
	background-color: #9a4835;
}
.button--scroll-up a {
	text-decoration: none;
	color: #000;
}
.button--scroll-up .button {
	display: block;
}
.button--scroll-up .button__text,
.button--scroll-up .button__icon {
	display: block;
	text-align: center;
}
.button--scroll-up .button__icon {
	margin-top: 5px;
}
.button--scroll-up .button__icon .graphic-item-line-vertical {
	margin-right: auto;
	margin-left: auto;
}
.button--scroll-up .button__text {
	font-size: 12px;
	color: #242424;
	line-height: 150%;
}
.button--scroll-up:hover .button__text {
	color: #9a4835;
}
.button--scroll-up:hover .button__icon .graphic-item-line-vertical {
	background-color: #9a4835;
}
.button--scroll-up-inverted .button__text,
.button--scroll-up-inverted .button__icon {
	color: #fff;
}
.button--scroll-up-inverted .button__icon .graphic-item-line-vertical {
	background-color: #fff;
}
.button--sm .button__text,
.button--sm .button__icon {
	color: #000;
}
.button--sm .button__text *,
.button--sm .button__icon * {
	color: #000;
}
.button--sm .button__text {
	font-size: 12px;
	text-transform: uppercase;
}
.button--sm .button__icon {
	margin-right: 5px;
}
.button--model-right-options {
	width: 100%;
	position: relative;
	line-height: 47px;
}
.button--model-right-options .button__icon {
	display: inline-block;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}
.button--model-right-options-left .button__icon {
	position: absolute;
	top: 50%;
	left: 20px;
}
.button--model-right-options-right .button__icon {
	position: absolute;
	top: 50%;
	right: 20px;
}
.button--summary-heading {
	display: inline-block;
}
.button--filter * {
	color: #ccc;
	font-size: 10px;
	text-transform: uppercase;
}
.button--filter-asccending .button__icon {
	border-top: 7px solid #804033;
	border-right: 7px solid transparent;
	display: inline-block;
	width: 0;
	height: 0;
	margin-right: 7px;
}
.button--send {
	min-width: 150px;
	padding-right: 50px;
	padding-left: 50px;
}
.button--gallery-images-share {
	padding-right: 15px;
	padding-left: 15px;
}
.button--gallery-images-share .button__icon {
	font-size: 14px;
}
.button--gallery-images-share:first-child {
	margin-right: 10px;
}
.button--gallery-images-share:first-child .button__icon {
	font-size: 18px;
	margin-right: 10px;
}
.button--gallery-images-share:last-child {
	margin-left: -5px;
}
.slick-buttons:hover .button__text,
.slick-buttons:active .button__text,
.slick-buttons:hover .button__icon,
.slick-buttons:active .button__icon {
	color: #9a4835;
}
.slick-buttons:hover .button__text *,
.slick-buttons:active .button__text *,
.slick-buttons:hover .button__icon *,
.slick-buttons:active .button__icon * {
	color: #9a4835;
}
.interier-g90 {
	min-width: 250px;
}
.button-topmenu {
	-webkit-transition: color 0.8s;
	transition: color 0.8s;
	border: 0;
	padding-right: 0;
	padding-left: 0;
}
.button-topmenu:hover {
	background-color: transparent;
	border: 0;
	color: #9a4835;
}
.button-topmenu:hover .button-topmenu__text {
	color: #9a4835;
}
.button-topmenu:hover .button-topmenu__icon span {
	border-bottom: 2px solid #9a4835;
}
.button-topmenu:hover .button-topmenu__icon span:first-child {
	top: 14px;
}
.button-topmenu:hover .button-topmenu__icon span:last-child {
	top: 28px;
}
.button-topmenu .button-topmenu__text {
	display: block;
	float: left;
	color: #ccc;
	-webkit-transition: color 0.8s;
	transition: color 0.8s;
	.mobile.landscape & {
		font-size: 14px;
	}
	.mobile & {
		font-size: 1.8rem;
	}
}
.button-topmenu .button-topmenu__icon {
	display: block;
	float: left;
	position: relative;
	width: 36px;
	height: 100%;
	margin-left: 10px;
}
.button-topmenu .button-topmenu__icon span {
	-webkit-transition: 0.3s all;
	transition: 0.3s all;
	border-bottom: 2px solid #fff;
	position: absolute;
	width: 100%;
	left: 0;
}
.button-topmenu .button-topmenu__icon span:first-child {
	top: 9px;
}
.button-topmenu .button-topmenu__icon span:nth-child(2) {
	top: 21px;
}
.button-topmenu .button-topmenu__icon span:last-child {
	top: 33px;
}
.mobile:not(.landscape) {
	.button-topmenu .button-topmenu__icon {
		width: 4.8rem;
		margin-left: 1.2rem;
		height: 5rem;
		margin-top: 1.5rem;
	}
	.button-topmenu .button-topmenu__icon span {
		border-bottom: .2rem solid #fff;
	}
	.button-topmenu .button-topmenu__icon span:first-child {
		top: .9rem;
	}
	.button-topmenu .button-topmenu__icon span:nth-child(2) {
		top: 2.6rem;
	}
	.button-topmenu .button-topmenu__icon span:last-child {
		top: 4.3rem;
	}
}
.link--inverted {
	color: #ccc;
}
.link--inverted:hover,
.link--inverted:active {
	color: #9a4835;
}
.text--uppercase {
	text-transform: uppercase;
}
.text--dark {
	font-size: 14px;
	color: #000;
}
.text--center {
	text-align: center;
}
.text--done {
	font-size: 22px;
	color: #000;
}
.text--md {
	font-size: 16px;
}
.text--sm {
	font-size: 12px;
}
// _app.scss:1332


// _app.scss:7046
.navigation-link {
	text-align: left;
}
.navigation-link__items {
	display: block;
	padding-top: 0;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 0;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0;
	list-style: none;
}
.navigation-link__items--level-2 {
	display: none;
	padding-bottom: 20px;
}
@media screen and (max-width: 1024px) {
	.navigation-link__items--level-2 {
		display: block !important;
	}
}
.navigation-link__item--level-1 {
	padding-top: 0;
	padding-bottom: 0;
	font-size: 20px;
	text-align: left;
	border-bottom: none;
}
@media screen and (orientation: landscape) and (max-width: 768px) {
	.navigation-link__item--level-1 {
		padding-top: 0;
		padding-right: 0;
		padding-bottom: 0;
		padding-left: 0;
	}
}
.navigation-link__item--level-1.on .navigation-link__link--level-1 {
	color: #fff;
}
.navigation-link__item--level-1-smaller {
	border-bottom: none;
	margin-top: 10px;
}
.navigation-link__item--level-1-smaller .navigation-link__link--level-1 {
	font-size: 16px;
	text-align: left;
	padding-top: 0;
	padding-bottom: 0;
}
.navigation-link__item--level-1-smaller-first {
	margin-top: 20px;
}
.navigation-link__item--level-1-open .navigation-link__icon span:first-child {
	display: none;
}
.navigation-link__item--level-1-open .navigation-link__icon span:last-child {
	display: inline;
}
.navigation-link__item--level-1-open .navigation-link__items--level-2 {
	display: none;
	padding-bottom: 0;
}
@media screen and (min-width: 1024px) and (max-width: 1024px) {
	.navigation-link__item--level-1-open .navigation-link__items--level-2 {
		display: block !important;
	}
}
.navigation-link__item--level-2 {
	padding-left: 80px;
	font-size: 18px;

	.mobile:not(.landscape) & {
		font-size: 1.8rem;
		padding-left: 8rem;
	}
}
.navigation-link__item--level-2-active {
	padding-left: 80px;
	position: relative;

	.mobile:not(.landscape) & {
		padding-left: 8rem;
	}
}
.navigation-link__item--level-2-active:before {
	content: '';
	position: absolute;
	top: 40%;
	left: 0;
	-webkit-transform: translateY(-60%);
	transform: translateY(-60%);
	width: 69px;
	height: 1px;
	background-color: #9a4835;
	display: block;
	width: 59px;

	.mobile:not(.landscape) & {
		width: 5.9rem;
	}
}
.navigation-link__link {
	display: block;
	text-transform: uppercase;
	color: #999;
	text-decoration: none;
	position: relative;
	-webkit-transition: ease 0.25s;
	transition: ease 0.25s;
}
.navigation-link__link:active,
.navigation-link__link:hover {
	text-decoration: none;
	color: #fff;
}
@media screen and (max-width: 1024px) {
	.navigation-link__link:active,
	.navigation-link__link:hover {
		text-decoration: none;
	}
}
.navigation-link__link--level-1 {
	padding-top: 10px;
	padding-bottom: 5px;
	font-size: 16px;
	color: #fff;
	line-height: 28px;
	.mobile:not(.landscape) & {
		padding-top: 1.0rem;
		padding-bottom: .5rem;
		font-size: 1.6rem;
		line-height: 2.8rem;
	}
}
@media screen and (orientation: landscape) and (max-width: 768px) {
	.navigation-link__link--level-1 {
		padding-top: 5px;
		padding-right: 0;
		padding-bottom: 0px;
		padding-left: 0;
		font-size: 14px;
		line-height: 18px;
	}
}
.navigation-link__link--level-2 {
	padding-top: 0;
	padding-bottom: 0;
	font-size: 18px;
	color: #888;
	line-height: 140%;
	.mobile:not(.landscape) & {
		font-size: 1.8rem;
	}
}
@media screen and (max-width: 1024px) {
	.navigation-link__link--level-2 {
		font-size: 16px;
	}
}
@media screen and (orientation: landscape) and (max-width: 768px) {
	.navigation-link__link--level-2 {
		padding-top: 0;
		padding-right: 0;
		padding-bottom: 0;
		padding-left: 0;
		font-size: 13px;
		line-height: 20px;
	}
}
.navigation-link__icon {
	position: absolute;
	top: 50%;
	right: 0;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	display: none;
}
.navigation-link__icon * {
	font-size: 30px;
	color: #fff;
}
.navigation-link__icon span:last-child {
	display: none;
}
.navigation {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: inherit;
	z-index: 300;
	-webkit-transition: 0.3s transform;
	-webkit-transition: 0.3s -webkit-transform;
	transition: 0.3s -webkit-transform;
	transition: 0.3s transform;
	transition: 0.3s transform, 0.3s -webkit-transform;
	-webkit-transform: translate(100%, 0);
	transform: translate(100%, 0);
	width: 470px;
}
@media screen and (max-width: 1024px) {
	.navigation {
		width: 350px;
	}
}
@media screen and (max-width: 470px) {
	.navigation {
		width: 100%;
	}
}
.mobile:not(.landscape) {
	.navigation {
		width: 100%;
	}
}
.navigation.show {
	-webkit-transform: translate(0%, 0);
	transform: translate(0%, 0);
}
.navigation__overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 99;
	background-color: rgba(0,0,0,0.8);
	-webkit-transition: 0.3s all;
	transition: 0.3s all;
	visibility: hidden;
	-webkit-opacity: 0;
	-moz-opacity: 0;
	-ms-opacity: 0;
	-o-opacity: 0;
	opacity: 0;
}
.navigation__overlay.show {
	-webkit-opacity: 1;
	-moz-opacity: 1;
	-ms-opacity: 1;
	-o-opacity: 1;
	opacity: 1;
	visibility: visible;
}
.navigation__overlay--level-2 {
	display: none;
	z-index: 101;
}
.navigation__close,
.navigation__wrapper {
	z-index: 101;
	position: absolute;
}
.navigation__close {
	top: 0;
	left: 0;
	width: 90px;
	height: 90px;
	z-index: 200;
	right: 0;
	top: 0;
	left: auto;
	.mobile:not(.landscape) & {
		width: 9rem;
		height: 9rem;
	}
}
@media screen and (min-width: 1024px) {
	.navigation__close {
		top: 30px;
		right: 30px;
		left: auto;
		z-index: 102;
		width: 30px;
		height: 30px;
	}
}
.navigation__wrapper {
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #000;
	height: 100%;
}
@media screen and (min-width: 1024px) {
	.navigation__wrapper {
		left: 0;
	}
}
.navigation__options,
.navigation__search {
	padding-right: 30px;
	padding-left: 30px;
}
@media screen and (min-width: 1024px) {
	.navigation__options,
	.navigation__search {
		padding-left: 60px;
	}
}
.navigation__search {
	padding-top: 10px;
	padding-right: 60px;
	height: 80px;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
}
@media screen and (min-width: 1024px) {
	.navigation__search {
		height: 100px;
	}
}
.navigation__links {
	position: relative;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	padding-top: 40px;
	padding-right: 40px;
	padding-bottom: 40px;
	padding-left: 40px;
	height: 100%;
	overflow: auto;
	.mobile:not(.landscape) & {
		padding-top: 4rem;
		padding-right: 4rem;
		padding-bottom: 4rem;
		padding-left: 4rem;
	}
}
.navigation__options {
	height: 50px;
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
}
.navigation__share {
	float: left;
	display: none;
	position: relative;
	z-index: 102;
	margin-left: 15px;
}
.navigation__share-open-close * {
	font-size: 28px;
}
@media screen and (min-width: 1024px) {
	.navigation__share-open-close .button {
		display: none !important;
	}
}
.navigation__share-open-close .button:last-child {
	display: none;
}
.navigation__share-open-close--open {
	position: relative;
	z-index: 102;
}
.navigation__share-open-close--open .button:first-child {
	display: none;
}
.navigation__share-open-close--open .button:last-child {
	display: inline-block;
}
.navigation__share-open-close--open + .navigation__share-links {
	display: block;
}
.navigation__share-links {
	position: absolute;
	bottom: 60px;
	left: -25px;
	z-index: 102;
}
@media screen and (min-width: 1024px) {
	.navigation__share-links {
		position: static;
		bottom: auto;
		left: auto;
	}
}
.navigation__share-links .button {
	margin-bottom: 30px;
	background-color: #fff;
	text-align: center;
	border-radius: 50%;
	width: 73px;
	height: 73px;
}
@media screen and (min-width: 1024px) {
	.navigation__share-links .button {
		margin-bottom: 0;
		background-color: transparent;
		border-radius: 0;
		width: auto;
		height: auto;
		margin-left: 13px;
		float: right;
	}
	.navigation__share-links .button:last-child {
		margin-left: 0;
	}
	.navigation__share-links .button:hover {
		color: #fff;
	}
	.navigation__share-links .button:hover * {
		color: #fff;
	}
}
.navigation__share-links .button * {
	color: #000;
	font-size: 40px;
}
@media screen and (min-width: 1024px) {
	.navigation__share-links .button * {
		color: #888;
		font-size: 14px;
	}
}
.navigation__languages {
	display: none;
	float: right;
}
.navigation__languages-item {
	font-family: 'GenesisSansHeadKROTFLight';
	font-size: 28px;
	margin-left: 50px;
	color: #666;
	text-decoration: none;
	text-transform: uppercase;
}
@media screen and (min-width: 1024px) {
	.navigation__languages-item {
		font-size: 14px;
		margin-left: 10px;
	}
}
.navigation__languages-item--active {
	color: #fff;
}
.navigation--open .navigation {
	display: block;
}
.navigation--open .navigation__overlay {
	display: block;
}
@media screen and (min-width: 1024px) {
	.navigation--open .navigation__overlay {
		display: none;
	}
}
// _app.scss:7466


// _app.scss:10211
.header {
	background-color: #000;
	padding-right: 30px;
	padding-left: 30px;
	height: 100%;
	text-align: center;
	position: relative;
	//@include remD {
	//	padding-right: 3rem;
	//	padding-left: 3rem;
	//}
}
.mobile {
	&.landscape .header {
		padding-right: 30px;
		padding-left: 30px;
	}
	& .header {
		padding-right: 4rem;
		padding-left: 4rem;
	}
}
@media screen and (min-width: 1024px) {
	.header {
		background-color: rgba(0,0,0,0.867);
	}
}
.header__logo {
	width: 120px;
	height: 50px;
	overflow: hidden;
	//@include remD {
	//	width: 12rem;
	//	height: 5rem;
	//	a {
	//		width: 100%;
	//		img {
	//			width: 100%;
	//		}
	//	}
	//}
}
.mobile {
	&.landscape .header__logo {
		width: 120px;
		height: 50px;
	}
	& .header__logo {
		width: 13rem;
		height: 5.5rem;
		img {
			width: 100%;
		}
	}
}
@media screen and (max-width: 768px) {
	.header__logo {
		width: 100px;
		height: 42px;
	}
}
.header__logo,
.header__user-navigation {
	position: relative;
	top: 50%;
	-webkit-transform: translate(0, -50%);
	transform: translate(0, -50%);
}
.header__user-navigation {
	height: 47px;
}
.header__logo {
	float: left;
}
.header__brand {
	display: inline-block;
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);

	.mobile.landscape & {
		.button__text {
			font-size: 14px;
		}
	}
	.mobile & {
		.button__text {
			font-size: 1.8rem;
		}
	}
}
@media screen and (min-width: 1024px) {
	.header__brand .button__text {
		font-size: 16px;

		//@include remD {
		//	font-size: 1.6rem;
		//}
	}
}
.header__user-navigation {
	float: right;
}
.header__user-navigation .user-navigation__button .button-topmenu {
	height: 35px;
}
.layout {
	text-align: left;
	min-width: 480px;
	position: relative;
	//max-width: 1888px;
	margin-right: auto;
	margin-left: auto;

	.tablet & {
		min-width: 0;
		width: 100%;
		margin: 0;
	}
}
@media screen and (min-width: 1024px) {
	.layout {
		//max-width: 1920px;
		min-width: 1024px;
		padding-bottom: 0;
		-ms-box-sizing: border-box;
		-o-box-sizing: border-box;
		box-sizing: border-box;
	}
}
.layout__header {
	height: 100px;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 98;
	-webkit-opacity: 1;
	-moz-opacity: 1;
	-ms-opacity: 1;
	-o-opacity: 1;
	opacity: 1;
	background-color: #000;
	.tablet.landscape-wide & {
		width: 120rem;
	}
	.tablet.landscape & {
		width: 102.4rem;
	}
	.tablet & {
		height: 70px;
		width: 102.4rem;
		box-sizing: border-box;
	}

	.mobile.landscape & {
		height: 80px;
	}
	.mobile & {
        height: 8rem;
        width: 100%;
        box-sizing: border-box;
	}
}
@media screen and (min-width: 1024px) {
	.layout__header {
		height: 80px;
		-webkit-opacity: 1;
		-moz-opacity: 1;
		-ms-opacity: 1;
		-o-opacity: 1;
		opacity: 1;
        //
		//@include remD {
		//	height: 8rem;
		//}
	}
}
@media screen and (max-width: 768px) {
	.layout__header {
		height: 60px;
	}
}
.layout__breadcrumb {
	display: none;
	position: fixed;
	top: 100px;
	right: 0;
	left: 0;
	width: 100%;
	z-index: 3;
	-webkit-opacity: 0.9;
	-moz-opacity: 0.9;
	-ms-opacity: 0.9;
	-o-opacity: 0.9;
	opacity: 0.9;
	background-color: #e6e6e6;
}
@media screen and (min-width: 1024px) {
	.layout__breadcrumb {
		display: block;
		top: 80px;
		height: 40px;
	}
}
.layout__content {
	min-height: calc(100vh - 210px);
}
@media screen and (min-width: 1024px) {
	.layout__footer {
		background-color: #e6e6e6;
		position: absolute;
		right: 0;
		left: 0;
		z-index: 1;
	}
	.layout__footer--has-share {
		height: 330px;
	}
}
@media screen and (max-width: 1023px) {
	.layout__footer {
		margin-top: -8px;
	}
}
@media screen and (max-width: 1023px) {
	.layout__content #intro {
		padding-top: 100px;
		background: #000;
	}
}
@media screen and (max-width: 768px) {
	.layout__content #intro {
		padding-top: 60px;
		background: #000;
	}

}
.layout__logo {
	position: absolute;
	top: 60px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}
.layout__wrapper {
	padding-right: 60px;
	padding-left: 60px;
}
.layout__wrapper::after {
	clear: both;
	content: "";
	display: block;
}
.layout__wrapper.view360 {
	padding-top: 0;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 0;
}
@media screen and (min-width: 1024px) {
	.layout__wrapper {
		max-width: 964px;
		margin-top: 0;
		margin-right: auto;
		margin-bottom: 0;
		margin-left: auto;
		padding-right: 0;
		padding-left: 0;
	}
}
@media screen and (max-width: 1023px) {
	.layout__wrapper {
		padding-left: 40px;
		padding-right: 40px;
	}
}
.layout__360wrapper {
	max-width: 1100px !important;
}
.layout--empty {
	padding-bottom: 0;
}
@media screen and (min-width: 1024px) {
	.layout--page {
		padding-top: 80px;
	}
}
#mobileDetector {
	width: 0;
	height: 0;
	display: block;
}
@media screen and (min-width: 1024px) {
	#mobileDetector {
		display: none;
	}
}
[data-slide="0"] .title {
	top: -20px;
	position: relative;
}
[data-slide="0"] {
	padding-top: 18px;
	.mobile &,
	.tablet & {
		padding-top: 0;
	}
}
// _app.scss:10428



