/*------------------------------------------------------------------
[Asside Stylesheet]

Project:    Genesis
Version:    0.1
Last change:    02/08/2017 [..., az]
Assigned to:    Albert Zhivulin (az)
Assigned to:    Albert Zhivulin (az)
Primary use:    Asside elements
-------------------------------------------------------------------*/
@mixin delay ($variable) {
    -webkit-transition-delay: $variable;
    transition-delay: $variable;
}

@mixin animated ($variable) {
    -webkit-transition: all $variable ease-out;
    transition: all $variable ease-out;
}

$fixHeight: 800px;
$fixHeightTwo: 720px;


/*------------------------------------------------------------------
[Table of contents]

1. 
    1.2. 
-------------------------------------------------------------------*/
@include remD {
    .asside {
        max-width: 101.6rem;
        &--top-lg {
            margin-top: 10.3rem;
        }

        // [Close button]
        &--btn-close {
            width: 3.6rem;
            height: 3.6rem;
            right: 1.6rem;
            top: 2.0rem;

            &::before,
            &::after {
                height: .2rem;
                width: 3.0rem;
                top: 1.7rem;
                left: .3rem;
            }

        }

        // [Layout]
        &--wrap {
            margin-left: 14.7rem;
            padding-top: 13.0rem;
            padding-bottom: 2.0rem;

            &-head {
                top: 1rem;

                .asside--col {
                    width: 100%;
                }

                @media (max-height: $fixHeight) {
                    top: 3.4rem;
                }

                @media (max-height: $fixHeightTwo) {
                    top: 1.5rem;
                }
            }
        }

        // [2 columb]
        &--dual {
            &::before {
                width: 45.3rem;
            }

            .asside--col {
                &:nth-child(2) {
                    padding-left: 4.0rem;
                    padding-right: 3.6rem;
                }
            }
        }
        &--col {
            padding-right: 3.9rem;
            padding-bottom: 2rem;
            //width: 41.7rem;

            &:nth-child(2) {
                width: 45.3rem;
                padding-left: 2.4rem;
                padding-right: 5.2rem;
            }
        }

        // [Header]
        &--header {
            font-size: 4.4rem;
            margin-bottom: 1.8rem;
            letter-spacing: 0.04rem;

            &-small {
                font-size: 1.4rem;
                margin-bottom: .8rem;
                padding-top: .3rem;
            }
        }

        // [Form]
        &--form {
            margin-bottom: 4.2rem;

            @media (max-height: $fixHeightTwo) {
                margin-bottom: 3.2rem;
            }

            &-sm {
                margin-bottom: 3.1rem;
            }

            &-xs {
                margin-bottom: 4.1rem;
            }

            &-lg {
                margin-bottom: 6.7rem;

                @media (max-height: $fixHeightTwo) {
                    margin-bottom: 4.5rem;
                }

                > .image {
                    margin-right: 1.4rem;
                    padding-top: 2.2rem;
                    padding-bottom: 1.7rem;
                    min-height: 15.2rem;
                }
            }

            &-ls {
                margin-bottom: 10.6rem;
            }

        }

        // [group]
        &--group {
            margin-bottom: -.6rem;
            margin-top: -.2rem;

            &-label {
                font-size: 1.2rem;
                padding-top: 1.3rem;
                padding-bottom: 1.5rem;
            }

            &-item {
                margin-bottom: .6rem;
                min-height: 2.3rem;
            }
        }

        // [Hidden]


        // [Asside]
        .customScroll {

            &.full-height {
                height:64rem;
            }

            .mCSB_dragger_bar {
                line-height: 3rem;
            }

            .mCSB_scrollTools {
                right: .6rem;
            }
        }

        &--sm {
            max-width: 66rem;

            .asside--wrap {
                margin-left: 14.4rem;
            }

            .asside--col {
                padding-right: 13.9rem;
            }
        }

        &--block {
            .image {
                width: 48rem;
                padding-top: 2.3rem;
                padding-bottom: 2.4rem;
            }
        }

        &--single {
            .asside--col {
                padding-right: 6rem;
            }

            .mCSB_scrollTools {
                right: 2.8rem !important;
            }
        }

        .dropdown {
            &-wrap--gray {
                > .dropdown-title {
                    font-size: 2rem !important;

                    padding: .4rem 0 !important;
                    height: 4rem;

                }
            }

            &-title {
                padding-left: 7rem !important;
                font-size: 1.5rem !important;
                letter-spacing: .02rem !important;

                &::before,
                &::after {
                    left: 2.6rem !important;
                    top: .7rem !important;
                    width:  2.7rem !important;
                    height: 2.7rem !important;
                }
            }
        }
    }

    .dropdown-wrap {
        padding-bottom: 1.5rem;
        &--gray {
            > .dropdown-title {
                padding: 1.8rem 2rem 1.6rem;
                font-size: 2rem;
                height: 5.3rem;

                &:after {
                    right: 1.5rem;
                    top: 1.8rem;
                    width: 3.1rem;
                    height: 2.0rem;
                }
            }
            > .dropdown {
                .dropdown-title {
                    padding-left: 6.7rem;
                    font-size: 1.6rem;
                    padding-bottom: 1.0rem;
                    padding-top: 1.0rem;
                    &:before {
                        left: 1.5rem;
                        top: .6rem;
                        width: 2.8rem;
                        height: 2.8rem;
                    }
                    &:after {
                        left: 1.5rem;
                        top: .6rem;
                        width: 2.8rem;
                        height: 2.8rem;
                    }
                }
                .dropdown {
                    padding-left: 67px;
                    p {
                        font-size: 1.4rem;
                        padding: .5rem 0 .3rem;
                    }
                }
            }
        }
    }

    .car-header {
        padding-bottom: .7rem;

        &--head {
            font-size: 3.8rem;

            &-sub {
                font-size: 2.0rem;
                padding-left: 5.9rem;
                letter-spacing: -.08rem;
            }
        }

        &--price {
            font-size: 2.6rem;

            &-small {
                font-size: 1.4rem;
            }
        }
    }

    .character-group {
        padding-bottom: 1.2rem;

        &--header {
            font-size: 2.0rem;
            padding-top: .3rem;
            padding-bottom: 1.5rem;
            margin-bottom: 1.2rem;
        }
        &--item {
            font-size: 1.4rem;
            letter-spacing: .006rem;
            padding-top: .2rem;
            padding-bottom: .4rem;

        }

    }
}

.tablet {
    .asside {
        max-width: 102.4rem;
        &--top-lg {
            margin-top: 10.3rem;
        }

        // [Close button]
        &--btn-close {
            width: 3.6rem;
            height: 3.6rem;
            right: 1.6rem;
            top: 2.0rem;

            &::before,
            &::after {
                height: .2rem;
                width: 3.0rem;
                top: 1.7rem;
                left: .3rem;
            }

        }

        // [Layout]
        &--wrap {
            margin-left: 14.7rem;
            padding-top: 11.0rem;
            padding-bottom: 2.0rem;

            &-head {
                top: 1rem;

                .asside--col {
                    width: 100%;
                }

                @media (max-height: $fixHeight) {
                    top: 3.4rem;
                }

                @media (max-height: $fixHeightTwo) {
                    top: 1.5rem;
                }
            }
        }

        // [2 columb]
        &--dual {
            &::before {
                width: 45.3rem;
            }

            .asside--col {
                &:nth-child(2) {
                    padding-left: 4.0rem;
                    padding-right: 3.6rem;
                }
            }
        }
        &--col {
            padding-right: 3.9rem;
            padding-bottom: 2rem;
            //width: 41.7rem;

            &:nth-child(2) {
                width: 45.3rem;
                padding-left: 2.4rem;
                padding-right: 5.2rem;
            }
        }

        // [Header]
        &--header {
            font-size: 4.4rem;
            margin-bottom: 1.8rem;
            letter-spacing: 0.04rem;

            &-small {
                font-size: 1.4rem;
                margin-bottom: .8rem;
                padding-top: .3rem;
            }
        }

        // [Form]
        &--form {
            margin-bottom: 4.2rem;

            @media (max-height: $fixHeightTwo) {
                margin-bottom: 3.2rem;
            }

            &-sm {
                margin-bottom: 3.1rem;
            }

            &-xs {
                margin-bottom: 4.1rem;
            }

            &-lg {
                margin-bottom: 6.7rem;

                @media (max-height: $fixHeightTwo) {
                    margin-bottom: 4.5rem;
                }

                > .image {
                    margin-right: 1.4rem;
                    padding-top: 2.2rem;
                    padding-bottom: 1.7rem;
                    min-height: 15.2rem;
                }
            }

            &-ls {
                margin-bottom: 10.6rem;
            }

        }

        // [group]
        &--group {
            margin-bottom: -.6rem;
            margin-top: -.2rem;

            &-label {
                font-size: 1.2rem;
                padding-top: 1.3rem;
                padding-bottom: 1.5rem;
            }

            &-item {
                margin-bottom: .6rem;
                min-height: 2.3rem;
            }
        }


        // [Asside]
        .customScroll {

            .mCSB_dragger_bar {
                line-height: 3rem;
            }

            .mCSB_scrollTools {
                right: .6rem;
            }
        }

        &--sm {
            max-width: 54rem;

            .asside--wrap {
                margin-left: 8.4rem;
            }

            .asside--col {
                padding-right: 8.4rem;
            }
        }

        &--block {
            .image {
                width: 48rem;
                padding-top: 2.3rem;
                padding-bottom: 2.4rem;
            }
        }

        &--single {
            .asside--col {
                padding-right: 6rem;
            }

            .mCSB_scrollTools {
                right: 2.8rem !important;
            }
        }

        .dropdown {
            &-wrap--gray {
                > .dropdown-title {
                    font-size: 2rem !important;

                    padding: .4rem 0 !important;
                    height: 4rem;

                }
            }

            &-title {
                padding-left: 7rem !important;
                font-size: 1.5rem !important;
                letter-spacing: .02rem !important;

                &::before,
                &::after {
                    left: 2.6rem !important;
                    top: .7rem !important;
                    width:  2.7rem !important;
                    height: 2.7rem !important;
                }
            }
        }
    }

    .dropdown-wrap {
        padding-bottom: 1.5rem;
        &--gray {
            > .dropdown-title {
                padding: 1.8rem 2rem 1.6rem;
                font-size: 2rem;
                height: 5.3rem;

                &:after {
                    right: 1.5rem;
                    top: 1.8rem;
                    width: 3.1rem;
                    height: 2.0rem;
                }
            }
            > .dropdown {
                .dropdown-title {
                    padding-left: 6.7rem;
                    font-size: 1.6rem;
                    padding-bottom: 1.0rem;
                    padding-top: 1.0rem;
                    &:before {
                        left: 1.5rem;
                        top: .6rem;
                        width: 2.8rem;
                        height: 2.8rem;
                    }
                    &:after {
                        left: 1.5rem;
                        top: .6rem;
                        width: 2.8rem;
                        height: 2.8rem;
                    }
                }
                .dropdown {
                    padding-left: 67px;
                    p {
                        font-size: 1.4rem;
                        padding: .5rem 0 .3rem;
                    }
                }
            }
        }
    }

    .car-header {
        padding-bottom: .7rem;

        &--head {
            font-size: 3.8rem;

            &-sub {
                font-size: 2.0rem;
                padding-left: 5.9rem;
                letter-spacing: -.08rem;
            }
        }

        &--price {
            font-size: 2.6rem;

            &-small {
                font-size: 1.4rem;
            }
        }
    }

    .character-group {
        padding-bottom: 1.2rem;

        &--header {
            font-size: 2.0rem;
            padding-top: .3rem;
            padding-bottom: 1.5rem;
            margin-bottom: 1.2rem;
        }
        &--item {
            font-size: 1.4rem;
            letter-spacing: .006rem;
            padding-top: .2rem;
            padding-bottom: .4rem;

        }

    }
}
























