/*------------------------------------------------------------------
[Asside Stylesheet]

Project:    Genesis
Version:    0.1
Last change:    02/08/2017 [..., az]
Assigned to:    Albert Zhivulin (az)
Primary use:    Asside elements
-------------------------------------------------------------------*/
@mixin delay ($variable) {
    -webkit-transition-delay: $variable;
    transition-delay: $variable;
}

@mixin animated ($variable) {
    -webkit-transition: all $variable ease-out;
    transition: all $variable ease-out;
}

$fixHeight: 800px;
$fixHeightTwo: 720px;


/*------------------------------------------------------------------
[Table of contents]

1. 
    1.2. 
-------------------------------------------------------------------*/
.asside {
    position: fixed;
    display: flex;
    align-items: center;

    z-index: 200;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    max-width: 1016px;
    background-color: #fff;
    opacity: 1;
    visibility: visible;

    .mobile & {
        bottom: 0;
        left: 0;
        right: 0;
        top: auto;
        height: 100%;
        max-width: none;

        .left-nav-bar {
            display: none;
        }

        .mobile-dept {
            margin-bottom: -12.0rem;
        }
    }
/*
    > .asside--btn-close {
        display: none;
    }
*/
    @include animated(.5s);

    * {
        box-sizing: border-box;
    }

    &--top-lg {
        margin-top: 103px;
    }

    // [Close button]
    &--btn-close {
        position: absolute;
        z-index: 2;
        width: 36px;
        height: 36px;
        border: 0 none;
        right: 16px;
        top: 20px;
        background-color: transparent;
        outline: none;
        cursor: pointer;

        &::before,
        &::after {
            content: '';
            height: 2px;
            width: 30px;
            position: absolute;
            top: 17px;
            left: 3px;

            background-color: #000;
        }
        .mobile & {
            width: 3.6rem;
            height: 3.6rem;
            right: 1.6rem;
            top: 2.0rem;

            &::before,
            &::after {
                height: .2rem;
                width: 3.0rem;
                top: 1.7rem;
                left: .3rem;
            }
        }

        &::before {
            transform: rotate(45deg);
        }

        &::after {
            transform: rotate(-45deg);
        }
    }

    // [Layout]
    &--wrap {
        display: flex;
        width: 100%;
        margin-left: 147px;
        //padding-top: 230px;
        position: relative;
        z-index: 1;

        max-height: 100%;
        padding-top: 130px;
        padding-bottom: 20px;

        .asside--btn-close {
            display: none;
        }

        @include animated(.5s);

        @media (max-height: $fixHeight) {
            //padding-top: 125px;
        }

        @media (max-height: $fixHeightTwo) {
            //padding-top: 81px;
        }


        .mobile & {
            padding-top: 5rem !important;
            padding-bottom: 0;
            &:last-child {
                margin-bottom: 3rem;
            }
            .asside--header {
                margin-bottom: 0;
            }

            .asside--btn-close {
                top: 14.2rem;
                right: 5.4rem;
            }
        }

        &-head {
            position: absolute;
            top: 10px;
            left: 0;

            @include animated(.5s);

            @media (max-height: $fixHeight) {
                top: 34px;
            }

            @media (max-height: $fixHeightTwo) {
                top: 15px;
            }
        }
    }

    // [2 columb]
    &--dual {
        &::before {
            content: '';
            background-color: #f7f7f7;
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            width: 453px;
        }

        .asside--col {
            &:nth-child(2) {
                padding-left: 40px;
                padding-right: 36px;
            }
        }
    }

    &--row {
        width: 100%;
        display: flex;
    }

    &--col {
        width: 100%;
        padding-right: 39px;
        //padding-top: 130px;

        padding-bottom: 20px;

        .mobile &:not(:last-child) {
            margin-bottom: 0;
        }

        &:nth-child(2) {
            //background-color: #f7f7f7;
            width: 453px;
            flex-shrink: 0;
            padding-left: 24px;
            padding-right: 52px;
        }
    }


    // [Header]
    &--header {
        display: block;
        color: #804033;
        font-size: 44px;
        line-height: 1.2;
        font-family: "GenesisSansHead", sans-serif;
        font-weight: 100;
        letter-spacing: 0.4px;
        margin-bottom: 18px;

        .mobile & {
            margin-bottom: 3.5rem;
            font-size: 4.5rem;
            letter-spacing: 0.04rem;
        }

        &-small {
            color: #8a8e95;
            line-height: 1.2;
            font-family: "GenesisSansHead", sans-serif;
            font-weight: 100;
            font-size: 14px;
            display: block;
            text-transform: uppercase;
            margin-bottom: 8px;
            padding-top: 3px;

            .mobile & {

                font-size: 1.8rem;
                font-weight: 400;
                margin-bottom: 1.4rem;
            }
        }
    }


    // [Form]
    &--form {
        margin-bottom: 42px;

        @include animated(.5s);

        .mobile & {
            margin-bottom: 4.2rem;
        }

        @media (max-height: $fixHeightTwo) {
            margin-bottom: 32px;
        }

        &-sm {
            margin-bottom: 31px;

            .mobile & {
                margin-bottom: 2rem;
            }
        }

        &-xs {
            margin-bottom: 41px;
        }

        &-lg {
            margin-bottom: 67px;

            @include animated(.5s);

            @media (max-height: $fixHeightTwo) {
                margin-bottom: 45px;
            }


            .mobile & {
                margin-bottom: 0;

                > .image {

                }
            }

            >.image {
                margin-right: 14px;
                padding-top: 22px;
                padding-bottom: 17px;
                min-height: 152px;

                .tablet &,
                .mobile & {
                    margin-right: 1.4rem;
                    padding-top: 2.2rem;
                    padding-bottom: 1.7rem;
                    min-height: 15.2rem;
                }
            }
        }

        &-ls{
            margin-bottom: 106px;
        }

    }

    // [group]
    &--group {
        padding-left: 0;
        list-style: none;
        margin: 0;
        margin-bottom: -6px;
        margin-top: -2px;

        .mobile & {
            margin-top: 0px;
            margin-bottom: 0;
            padding-top: 2px;
        }

        &-label {
            font-family: GenesisSansText;
            font-size: 12px;
            line-height: 1.4;
            padding-top: 13px;
            padding-bottom: 15px;
            color: rgb(68, 68, 68);
            display: none;

            .mobile & {
                font-size: 1.5rem;
                line-height: 1.2;
                padding-top: 1.1rem;
            }
        }

        &-item {
            margin-bottom: 6px;
            min-height: 23px;

            &:last-child {
                margin-bottom: 0;
            }

            &.open {
                .asside--group-label {
                    display: block;
                }
            }
            .mobile & {
                margin-bottom: 1.2rem;
                min-height: 2.3rem;
            }
        }
    }

    // [Hidden]
    &__hidden {
        left: -100%;
        opacity: 0;
        visibility: hidden;

        transition: all .5s ease-out;

        .toolbar {
            display: none;
        }

        .mobile & {
            bottom: -100%;
        }
    }

    .toolbar {
        margin-top: -40px;
        transition: all 0.7s ease;

        @media (max-height: 900px) {
            margin-top: -20px;
        }

        @media (max-height: 800px) {
            margin-top: -60px;
        }
    }

    // Overlay
    &--overlay {
        position: fixed;
        z-index: 99;
        top: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: #fff;
        opacity: 0;
        display: block;

        @include animated(.8s);

        &.asside__hidden {
            display: none;
            //            left: -100%;
            //            opacity: 1;
            //
            //            @include animated(0s);
        }
    }

    // [Asside]
    .customScroll {
        width: 100%;

        .MSIE & {
            max-height: calc(100vh - 130px);
            @include remD {
                max-height: calc(100vh - 13rem);
            }
        }

        .mCSB_container {
            margin-right: 0;
        }

        .mCSB_dragger_bar {
            line-height: 30px;
            background-color: rgba(0, 0, 0, 0.25) !important;
        }

        .mCSB_draggerRail {
            background-color: transparent;
        }

        .mCSB_scrollTools {
            right: 6px;
        }
    }

    &--inverse {
        background-color: #f7f7f7;

        .select2-selection--single {
            background-color: #f7f7f7;
        }
    }

    &--sm {
        max-width: 660px;

        .mobile & {
            max-width: none;
        }

        .asside--wrap {
            margin-left: 144px;
        }

        .asside--col {
            padding-right: 139px;
        }
    }


    &--block {
        .image {
            width: 480px;
            padding-top: 23px;
            padding-bottom: 24px;
        }

        .mobile & {
            .image {
                width: 100%;
                padding-top: 5.0rem;
                padding-bottom: 3.6rem;
            }
        }
    }

    &--single {
        .asside--col {
            padding-right: 46px;
        }

        .mCSB_scrollTools {
            right: 28px!important;
        }
    }


    .dropdown {
        &-wrap--gray {
            >.dropdown-title {
                font-size: 20px!important;
                font-weight: 500;
                letter-spacing: -.01em!important;

                padding: 4px 0!important;
                background-color: transparent!important;

                font-family: 'GenesisSansText', sans-serif;

                height: 40px;

                &::after {
                    display: none;
                }

                .mobile & {
                    font-size: 2rem !important;
                    margin: 0 -6.2rem;
                    height: 4rem;
                    background-color: #f7f7f7!important;
                    padding: 2.0rem 8.3rem 3.9rem!important;

                    &::after {
                        display: block;
                        left: auto !important;
                        top: 1.5rem !important;
                        right: 7.7rem;
                        width: 2.7rem !important;
                        height: 2.7rem !important;
                    }

                }
            }
        }

        &-title {
            padding-left: 70px!important;
            font-size: 15px!important;
            letter-spacing: .2px!important;

            &::before,
            &::after {
                left: 26px!important;
                top: 7px!important;
                width: 27px!important;
                height: 27px!important;
            }

            .mobile & {
                padding-left: 7rem!important;
                font-size: 1.5rem!important;
                letter-spacing: .02rem!important;
                padding-bottom: 1.2rem!important;
                padding-top: 1.2rem!important;

                &::before,
                &::after {
                    left: 2.6rem!important;
                    top: .7rem!important;
                    width: 2.7rem!important;
                    height: 2.7rem!important;
                }
            }
        }


        &-wrap {
            padding-bottom: 0!important;
        }
    }
}



.overflow-hidden {
    overflow: hidden;
}


.dropdown-wrap {
    width: 100%;
    padding-bottom: 15px;
    ul {
        padding: 0;
    }
    li {
        list-style: none;
        padding-left: 0;
    }
    > .dropdown {
        display: none;
    }
    &--gray {
        > .dropdown-title {
            padding: 18px 20px 16px;
            font-size: 20px;
            height: 53px;
            box-sizing: border-box;
            background-color: $color-light-gray;
            color: black;
            position: relative;
            cursor: pointer;
            margin-bottom: 1px;

            &:after {
                @include pseudo;
                @include background('/svg/arrow.svg');
                background-size: 55%;
                right: 15px;
                top: 18px;
                width: 31px;
                height: 20px;
                cursor: pointer;
                transform: rotate(0);
                transition: transform .3s ease;
            }
        }
        &.open {
            > .dropdown-title {
                &:after {
                    transform: rotate(180deg);
                }
            }
        }
        .dropdown-wrap {
            &.open {
                .dropdown-title {
                    &:before {
                        opacity: 1;
                    }
                    &:after {
                        opacity: 0;
                    }
                }
            }
        }
        > .dropdown {
            .dropdown-title {
                position: relative;
                padding-left: 67px;
                cursor: pointer;
                font-size: 16px;
                color: black;
                padding-bottom: 10px;
                padding-top: 10px;
                &:before {
                    @include pseudo;
                    @include background('/svg/minus.svg');
                    background-size: contain;
                    left: 15px;
                    top: 6px;
                    width: 28px;
                    height: 28px;
                    cursor: pointer;
                    opacity: 0;
                }
                &:after {
                    @include pseudo;
                    @include background('/svg/plus.svg');
                    background-size: contain;
                    left: 15px;
                    top: 6px;
                    width: 28px;
                    height: 28px;
                    cursor: pointer;
                }
            }
            .dropdown {
                padding-left: 67px;
                .mobile & {
                    padding-left: 6.7rem;
                }
                li {
                    border-bottom: 1px solid #e8e8e8;
                    display: table;
                    width: 100%;
                    &:last-child {
                        border: 0;
                    }
                }
                p {
                    font-size: 14px;
                    color: #4d4d4d;
                    padding: 5px 10px 3px 0;
                    margin: 0;
                    display: table-cell;

                    .mobile & {
                        font-size: 1.4rem;
                        padding: .5rem 0 .3rem;
                    }
                    &.pull-right {
                        display: table-cell;
                        text-align: right;
                        padding-right: 0;
                    }
                }
            }
        }

        .mobile & {
            margin-bottom: .2rem;
        }
    }
    &.open {
        > .dropdown {
            display: block;
        }
    }
}


.car-header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 7px;

    .mobile & {
        padding-bottom: 1.0rem;

    }

    &--head {
        font-family: "GenesisSansHead", sans-serif;
        font-weight: 100;
        font-size: 38px;
        color: #000;
        line-height: 1.7;
        flex-shrink: 0;

        .mobile & {
            width: 100%;
            font-size: 3.8rem;
            display: flex;
            justify-content: space-between;
            align-items: baseline;
        }

        &-sub {
            font-family: 'GenesisSansTextKROTFRegular', sans-serif;
            font-size: 20px;
            padding-left: 59px;
            letter-spacing: -.8px;

            .mobile & {
                font-size: 2.0rem;
                padding-left: 5.9rem;
                letter-spacing: -.08rem;
            }
        }
    }

    &--price {
        color: #804033;
        font-family: "GenesisSansText", sans-serif;
        font-size: 26px;
        text-align: right;
        line-height: 1;

        &-small {
            display: block;
            font-size: 14px;
            color: #484848;
        }

        .mobile & {
            display: none;
        }
    }
}


.character-group {
    list-style: none;
    padding-left: 0;
    font-family: 'GenesisSansText', sans-serif;
    color: #000;
    border-bottom: 1px solid #9c6847;
    padding-bottom: 12px;

    .mobile & {
        margin-bottom: 4.9rem;

    }

    &--header {
        font-size: 20px;
        font-weight: 500;
        letter-spacing: -.01em;
        border-bottom: 1px solid #9c6847;
        padding-top: 3px;
        padding-bottom: 15px;
        margin-bottom: 12px;

        .mobile & {
            font-size: 2.0rem;
            padding-top: .3rem;
            padding-bottom: 1.5rem;
            margin-bottom: 1.2rem;
        }
    }
    &--item {
        font-size: 14px;
        letter-spacing: .06px;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #ececec;

        padding-top: 2px;
        padding-bottom: 4px;

        .mobile & {
            font-size: 1.4rem;
            letter-spacing: .006rem;
            padding-top: .2rem;
            padding-bottom: .4rem;
        }

        &:last-child {
            border-bottom: 0 none;
        }
    }

}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: $color-gray;
}

























