.btn-default {
    background-color: transparent;
    font-family: $font-text;
    font-size: 14px;
    line-height: 1;
    text-transform: uppercase;
    height: 35px;
    padding: 10px 17px 8px;
    border: 1px solid $color-heading;
    display: inline-block;
    text-align: center;
    text-decoration: none;

    outline: 0;
    color: black;
    box-sizing: border-box;
    transition: opacity .3s ease;
    +.btn-default {
        margin-left: 14px;
    }
    &:hover {
        cursor: pointer;
        opacity: 0.7;
    }
    &--gray {
        background-color: $color-price;
        border-color: $color-price;
        color: white;
    }
    &--brown {
        background-color: $color-heading;
        border-color: $color-heading;
        color: white;
    }

  @include remD {
    font-size: 1.4rem;
    height: 3.5rem;
    padding: 1rem 1.7rem .8rem;
    +.btn-default {
      margin-left: 1.4rem;
    }
  }
  .mobile & {
    font-size: 1.4rem;
    height: 3.5rem;
    padding: 1rem 1.7rem .8rem;
    +.btn-default {
      margin-left: 1.4rem;
    }
  }
}

.btn {

    &--lg {
        height: 42px;
        padding-top: 12px;
        font-family: "GenesisSansHead", sans-serif;
        font-weight: 100;
        font-size: 14px;

        .mobile & {
            font-weight: 500;
            height: 7rem;
            padding-top: .9rem;
        }

        @include remD {
            height: 4.2rem;
            padding-top: 1.2rem;
            font-size: 1.4rem;
        }
    }

    &--block {
        width: 100%;
    }
}