.car-slider {
	height: calc(100vh - 80px);

	&.drag {
		.ms-sl-selected {
			&:hover {
				transition: background 0.2s !important;
				background-color: transparent !important;
			}
		}
	}

	/*.car-slide--wrap {
		cursor:pointer;
	}*/

	&.wait {
		.car-slide.ms-sl-selected,
		.car-slide--wrap {
			cursor: wait;
		}
	}

	.mobile & {
		height: auto;
		min-height: 0;
	}
	.tablet & {
		height: auto;
		min-height: 0;
	}

	@media (max-height: 900px) {
		min-height: 100vh;
	}
	&__wrap {
		position: relative;
		width: 100%;
		min-width: 102.4rem;
		padding-left: 50% !important;
		padding-right: 0 !important;
		box-sizing: border-box;
		z-index: -1;
		overflow: hidden;
		height: calc(100vh - 80px);
		min-height: 650px !important;
		//max-width: 1280px;

		&.opacity {
			.car-slide {
				opacity: 0 !important;
			}
		}
		@include remD {
			height: 100vh;
			margin-top: -80px;
		}
		.tablet & {
			height:auto;
			min-height: 0;
			margin-top: -80px;
		}

		@media (max-width: 1024px) {
			.desktop & {
				padding-left: 512px !important;
			}
		}
		&.container--wide {
			margin-top: -255px;
			z-index: 1;

			@media (min-height: 900px){
				margin-top: -245px;
			}
			@media (max-height: 800px){
				margin-top: -215px;
			}
			@media (max-height: 750px){
				padding-top: 0;
				//min-height: 650px !important;
			}

			@include remD {
				margin-top: -27.9rem !important;
				height: 100vh;
			}
			.tablet.landscape & {
				margin-top: calc(-18.8rem - 70px) !important;
				//height:auto;
				//min-height: 100vh;

			}
			.tablet.landscape-wide & {
				//height:auto;
				//min-height: 100vh;
			}
			.tablet & {
				margin-top: calc(-18.8rem - 70px) !important;
				height:auto;
				min-height: 0 !important;

			}
			@media (min-height: 900px) and (min-width: 1440px) {
				margin-top: -27.9rem !important;
			}
		}

		.btn-block {
			.tablet.landscape-wide &,
			.tablet.landscape & {
				bottom: 2.5rem;
				top: auto !important;
			}
			.tablet & {
				position: absolute;
				left: 3rem;
				bottom: auto;
				top: 75rem !important;
				margin-left: 0;
				width: 25rem;

				.btn-default {
					margin-top: 2rem;
					margin-left: 0;
					min-width: 19rem;
					font-size: 1.4rem;
					height: 3.5rem;
					padding: 1rem .2rem .8rem;
				}
			}
		}
	}

	.ms-slide {
		html.MSIE &,
		html.Edge & {
			overflow: hidden;
		}
	}
	.ms-view {
		min-height: 630px;
		min-width: 500px !important;
		//html.MSIE &,
		.tablet & {
			min-height: 0;
			min-width: 51.2rem !important;
			width: 50vw !important;
		}
		html.Edge & {
			//  for ie
			.car-slide {
				perspective: 1500px;
				perspective-origin: 20% 12%;
			}
			@include remD {
				perspective: 150rem;
			}
		}
	}

	.car-slide {
		float: left;
		width: 100% !important;
		padding-left: 60px;
		padding-top: 240px !important;
		padding-right: 100px !important;
		min-height: 1000px !important;
		transition: background-color .4s ease;
		box-sizing: border-box;
		background-color: transparent;
		border-left: 0 solid transparent;
		@include remD {
			padding-left: 6rem;
			padding-top: 28rem !important;
			padding-right: 10rem !important;
			min-height: 100rem !important;
		}
		html.tablet.landscape-wide:not(.MSIE):not(.Edge) &,
		html.tablet.landscape:not(.MSIE):not(.Edge) & {
			padding-top:24.5rem !important;
			//padding-top: 26.4rem !important;
		}
		html.tablet:not(.MSIE):not(.Edge) & {
			padding-left: 1rem;
			padding-top: 40.4rem !important;
			padding-right: 3rem !important;
			min-height: 82rem !important;
			height: auto;

			perspective: 200rem;
			perspective-origin: -34% 50%;
		}
		html.mobile:not(.MSIE):not(.Edge) & {
			padding-left: 6rem !important;
			padding-top: 3rem !important;
			padding-right: 6.4rem !important;
			width: 100%;
			min-height: 0 !important;
			height: auto;

			perspective: 0;
			perspective-origin: 0;
		}
		&--wrap {
			cursor: pointer;
		}
		html:not(.MSIE):not(.Edge) & {
			perspective: 2000px;
			perspective-origin: 50% -30%;

			@include remD {
				perspective: 200rem;
			}

			@media (max-width: 1500px) {
				perspective: 3000px;
				perspective-origin: 25% -30%;
			}

			@media (max-width: 1400px) {
				perspective: 2000px;
				perspective-origin: -30% 5%;
			}
			@media (max-width: 1200px) {
				perspective: 2000px;
				perspective-origin: -30% 0;
			}

			@media (min-width: 1500px) {
				perspective: 3000px;
				perspective-origin: 30% -10%;

				@include remD {
					perspective: 300rem;
					@media (max-height: 700px) {
						perspective: 500rem;
					}
				}
			}
		}

		@media (max-width: 1200px) {
			padding-left: 50px;
			padding-right: 50px !important;
		}
		@media (max-height: 900px) {
			padding-top: calc(100vh - 570px) !important;
		}
		@media (max-height: 800px) {
			padding-top: 193px !important;
		}
		@media (max-height: 800px) and (min-width: 1024px) {
			padding-top: 31.3rem !important;
		}

		@media (max-height: 700px) {
			padding-top: 210px !important;
			//padding-top: 163px !important;
		}

		@media (max-height: 700px) and (min-width: 1024px) {
			padding-top: 30rem !important;
			html:not(.MSIE):not(.Edge) & {
				perspective-origin: 0 -10%;
			}
		}
		@media (max-height: 650px) and (min-width: 1024px) {
			padding-top: 23.3rem !important;
			padding-right: 20rem;

			html:not(.MSIE):not(.Edge) & {
				perspective: 1500px;
				perspective-origin: 0% 13%;
			}
		}

		.image {
			width: 100%;
			max-width: 540px;
			height: 170px;
			position: relative;
			margin-bottom: 10px;
			@include remD {
				max-width: 54rem;
				height: 17rem;
				margin-bottom: 1rem;
			}
			.tablet & {
				max-width: 47.5rem;
				height: 15rem;
				margin-bottom: 2rem;
				margin-top: 1rem;
			}
			.mobile & {
				max-width: 100%;
			}
			@media (max-height: 900px) {
				margin-top: 17px;
				margin-bottom: 10px;
			}
			.animated-car {
				width: 100%;
				position: absolute;
				bottom: 0;
				left: 0;
			}
		}

		.will-hide {
			position: relative;
			opacity: 0;
			transform: translateY(20px);
			pointer-events: none;
			transition: opacity .7s ease, transform .7s ease;

			.mobile & {
				width: 100%;
				transform: translateY(0);
			}
			.specs.spec-hidden {
				opacity: 0;
				pointer-events: none;
				//position: absolute;
			}
			&.animate {
				opacity: 1;
				transform: translateY(0);
				pointer-events: all;
			}
		}
		.pull-right {
			width: 100%;
			display: block;
			clear: both;
			margin-bottom: 20px;
			text-align: right;
			@include remD {
				margin-bottom: 2rem;
			}
			.tablet.landscape-wide & {
				margin-bottom: 1rem;
			}
			.mobile &,
			.tablet & {
				margin-bottom: 2rem;
			}
		}
		.dotted-bottom {
			font-size: 14px;
			color: $color-heading;
			font-family: $font-text;
			line-height: 0.9;
			display: inline-block;
			font-weight: 400;
			text-decoration: none;
			border-bottom: 1px dotted $color-heading;
			@include remD {
				font-size: 1.4rem;
			}
			.mobile &,
			.tablet & {
				font-size: 1.4rem;
			}
			&:hover {
				border-color: transparent;
			}
		}
		.btn-right {
			float: right;
		}
		.price-block {
			margin-top: 0;
			float: left;
			.tablet.landscape &,
			.tablet.landscape-wide & {
				top: 0.3rem;
				position: relative;
			}
			.tablet & {
				top: 0;
				position: relative;
			}
			p {
				font-family: $font-text;
				font-size: 14px;
				font-weight: 400;
				color: $color-price;
				margin-top: 0;
				clear: both;
				@include remD {
					font-size: 1.4rem;
				}
				.tablet & {
					font-size: 1.4rem;
				}
				.mobile & {
					font-size: 1.4rem;
				}
				&.price-block__total {
					width: 205px;
					font-size: 18px;
					color: black;
					margin-bottom: 0;
					b {
						font-weight: 400;
						float: right;
						font-size: 26px;
						color: $color-heading;
						margin-top: -7px;
                      margin-bottom: -0.4em;
					}
					@include remD {
						width: 20.5rem;
						font-size: 1.8rem;
						b {
							font-size: 2.6rem;
							margin-top: -.7rem;
						}
					}
					.mobile &,
					.tablet & {
						width: 20.5rem;
						font-size: 1.8rem;
						b {
							font-size: 2.6rem;
							margin-top: -.7rem;
						}
					}
				}
			}

		}
		.bottom-nav {
			width: 100%;
			max-width: 540px;
			position: absolute;
			top: 194px;
			.desktop & {
				@media (max-height: 900px) {
					top: 164px;
				}
				@media (max-height: 800px) {
					top: 114px;
				}
				@media (max-height: 700px) {
					top: 100px;
				}
			}
			@include remD {
				max-width: 54.0rem;
				top: 15.4rem;
			}
			.tablet & {
				//position: fixed;
				max-width: 54.0rem;
				top: auto;
				bottom: -26rem !important;
			}
			.mobile & {
				//position: fixed;
				max-width: 51.6rem !important;
				top: 0;
				bottom: calc(-100vh + 68rem);
			}
			.tablet.landscape-wide & {
				bottom: -26rem !important;
			}
			.tablet.landscape & {
				bottom: -26rem !important;
			}
		}
		.specs {
			position: absolute;
			width: calc(100% + 30px);
			max-width: 570px;
			padding-right: 30px;
			height: 160px;
			overflow: hidden;
			display: block;
			border-collapse: collapse;
			box-sizing: border-box;
			margin-bottom: 5px;
			.desktop & {
				@media (max-height: 800px) {
					height: 95px;
				}
				@media (max-height: 700px) {
					height: 80px;
				}
			}
			.mobile & {
				height: auto;
				position: relative;
				width: 100%;
				padding-right: 0;
				&.spec-hidden {
					//position: absolute !important;
				}
			}
			+ .specs {
				max-height: 37rem;
				overflow: hidden;

				.mobile & {
					width: 100%;
					padding-right: 0;
					overflow: auto;
					top: 0;
					position: absolute;
					max-height: 100%;
				}
			}
			&.mCustomScrollbar {
				&:before,
				&:after {
					opacity: 0;
					content: '';
					display: block;
					position: absolute;
					bottom: 0;
					left: 0;
					height: 20px;
					width: 100%;
					pointer-events: none;
					transition: opacity .4s;
				}
				&:before {
					z-index: 1;
					top: 0;
					bottom: auto;
				}
			}

			tr {
				border-bottom: 1px solid #e8e8e8;
				width: calc(100% - 30px);
				display: inline-table;
				&:last-child {
					border: 0;
				}
			}

			td {
				font-family: $font-text;
				font-size: 14px;
				color: black;
				font-weight: 400;
				height: 30px;
				padding-top: 0;
				padding-bottom: 0;

				@media (max-height: 800px) {
					height: 25px;
				}

				&:last-child {
					text-align: right;
				}
				&:first-child {
					text-align: left;
					padding-right: 20px;
				}


			}
			.mCustomScrollBox {
				width: calc(100% + 30px);
				max-width: calc(100% + 30px);
			}
			.mCSB_scrollTools {
				margin-right: 5px;
			}
			.mCSB_inside > .mCSB_container {
				margin-right: 0;
			}
			.mCSB_scrollTools .mCSB_draggerRail {
				background-color: transparent;
			}
			.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
				background-color: #e5e5e5;
				width: 4px;
			}

			@include remD {
				width: calc(100% + 3rem);
				max-width: 57rem;
				padding-right: 3rem;
				height: 16rem;
				&.mCustomScrollbar {
					&:before,
					&:after {
						height: 2rem;
					}
				}

				tr {
					width: calc(100% - 3rem);
				}

				td {
					font-size: 1.4rem;
					height: 3.0rem;
					&:first-child {
						padding-right: 2rem;
					}
				}
				.mCustomScrollBox {
					width: calc(100% + 3rem);
					max-width: calc(100% + 3rem);
				}
				.mCSB_scrollTools {
					margin-right: .5rem;
				}
				.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
					width: .4rem;
				}
			}

			.tablet.landscape-wide & {
				height: 16rem;
			}
			.tablet.landscape & {
				height: 16rem;
			}
			.mobile &,
			.tablet & {
				width: calc(100% + 3rem);
				max-width: 57rem;
				padding-right: 3rem;
				height: calc(100vh - 83rem);
				&.mCustomScrollbar {
					&:before,
					&:after {
						height: 2rem;
					}
				}

				tr {
					width: calc(100% - 3rem);
				}

				td {
					font-size: 1.4rem;
					height: 3.0rem;
					&:first-child {
						padding-right: 2rem;
					}
				}
				.mCustomScrollBox {
					width: calc(100% + 3rem);
					max-width: calc(100% + 3rem);
				}
				.mCSB_scrollTools {
					margin-right: .5rem;
				}
				.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
					width: .4rem;
				}
			}
			.mobile & {
				height: auto;
				.mCSB_inside > .mCSB_container {
					margin-right: 3rem;
				}
				.mCustomScrollBox {
					width: 100%;
					max-width: 100%;
				}
			}
			.tablet & {
				height: 16rem;
			}
		}
		&__info {
			margin-top: 0;
			max-width: 540px;
			&:after {
				content: '';
				display: table;
				clear: both;
			}

			h3 {
				font-family: $font-head;
				color: black;
				font-weight: 100;
				font-size: 38px;
				width: 20%;
				float: left;
				margin-top: 0;
				margin-bottom: 5px;
				line-height: 1;
				white-space: nowrap;
			}

			p {
				width: 80%;
				font-family: $font-text;
				font-size: 20px;
				margin-top: 14px;
				margin-bottom: 8px;
				float: left;
				color: black;
				text-align: right;
				white-space: nowrap;
			}
			@media (max-height: 700px) {
				h3 {
					margin-bottom: 0;
				}

				p {
					margin-bottom: 0;
				}
			}
			@include remD {
				max-width: 54rem;
				h3 {
					font-size: 3.8rem;
					margin-bottom: .5rem;
				}

				p {
					font-size: 2.0rem;
					margin-top: 1.4rem;
					margin-bottom: .8rem;
				}
			}
			.tablet & {
				max-width: 54rem;
				h3 {
					font-size: 3.8rem;
					margin-bottom: .5rem;
				}

				p {
					font-size: 2.0rem;
					margin-top: 1.4rem;
					margin-bottom: .8rem;
				}
			}
			.mobile & {
				max-width: 54rem;
				h3 {
					width:40%;
					font-size: 3.8rem;
					margin-bottom: .5rem;
				}

				p {
					width:45%;
					font-size: 2.0rem;
					margin-top: 1.4rem;
					margin-bottom: .8rem;
				}

				.icon-down {
					display: block;
					float: right;
					width: 15%;
					height: 4rem;
					background-image: url(../images/svg/arrow-down.svg);
					fill: #dadada;
					margin-top: 0rem;
					/* background-size: cover; */
					background-repeat: no-repeat;
					background-position: 50%;

					@include transition(transform .4s ease);

					&.reverse {
						transform: rotate(180deg);
					}
				}
			}
		}
		&__price {
			max-width: 540px;
			font-family: $font-text;
			font-size: 18px;
			font-weight: 500;
			color: $color-price;
			padding-bottom: 13px;
			margin-bottom: 10px;
			border-bottom: 1px solid $color-heading;
			@media (max-height: 700px) {
				padding-bottom: 5px;
				margin-bottom: 5px;
			}
			@include remD {
				max-width: 54.0rem;
				font-size: 1.8rem;
				padding-bottom: 1.3rem;
				margin-bottom: 1.0rem;
			}
			.mobile &,
			.tablet & {
				max-width: 54.0rem;
				font-size: 1.8rem;
				padding-bottom: 1.3rem;
				margin-bottom: 1.0rem;
			}
		}

		&.ms-sl-selected {

			.car-slide--wrap {
				cursor: default;
			}
			.image {
				cursor: pointer;
			}
			.desktop &:hover {
				background-color: $color-light-gray;
				.specs {
					&.mCustomScrollbar {
						&:after {
							opacity: 1;
							background-image: linear-gradient(bottom, $color-light-gray, rgba(247, 247, 247, .2) 50%, rgba(247, 247, 247, 0));
						}
						&:before {
							opacity: 1;
							top: 0;
							bottom: auto;
							background-image: linear-gradient(top, $color-light-gray, rgba(247, 247, 247, .2) 50%, rgba(247, 247, 247, 0));
						}
					}
				}
			}
			.will-hide {
				height: auto;
			}
		}
	}
	.btn-block {
		position: absolute;
	}
	.afterNext-slide {
		opacity: 0;
	}
	.next-slide {
		//transform: translateZ(0) translateX(0) translateY(0) rotateY(0) !important;
	}
}
.car-slider--arrow {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: 134px;
	margin-left: -143px;
	z-index: 50;
	.ms-nav-next {
		@include background('/svg/arrow-right.svg');
		width: 28px;
		height: 60px;
		margin-left: 15px;
		float: right;
		cursor: pointer;
		opacity: 0.5;
		transition: opacity .3s ease;
	}
	.ms-nav-count {
		position: absolute;
		color: black;
		font-size: 18px;
		font-family: $font-head;
		font-weight: 100;
		right: -32px;
		top: 50%;
		margin-top: -11px;

	}
	.ms-nav-prev {
		@include background('/svg/arrow-left.svg');
		width: 28px;
		height: 60px;
		margin-right: 15px;
		float: left;
		cursor: pointer;
		opacity: 0.5;
		transition: opacity .3s ease;
	}
	.ms-nav-next,
	.ms-nav-prev {
		&:hover {
			opacity: 1;
		}
	}
	@include remD {
		margin-top: 13.4rem;
		margin-left: -14.3rem;
		.ms-nav-next {
			width: 2.8rem;
			height: 6.0rem;
			margin-left: 1.5rem;
		}
		.ms-nav-count {
			font-size: 1.8rem;
			right: -3.2rem;
			margin-top: -1.1rem;

		}
		.ms-nav-prev {
			width: 2.8rem;
			height: 6.0rem;
			margin-right: 1.5rem;
		}
	}
	.tablet.landscape &,
	.tablet.landscape-wide & {
		margin-bottom:0;
		top: 50%;
		bottom: auto;
	}
	.tablet & {
		/*margin-top: 8rem;*/
		top: 50rem;
		bottom:auto;
		margin-bottom:0;
		margin-left: -21.6rem;
		.ms-nav-next {
			width: 2.8rem;
			height: 6.0rem;
			margin-left: 1.5rem;
		}
		.ms-nav-count {
			font-size: 1.8rem;
			right: -3.2rem;
			margin-top: -1.1rem;

		}
		.ms-nav-prev {
			width: 2.8rem;
			height: 6.0rem;
			margin-right: 1.5rem;
		}
	}
}
.ms-view {
	overflow: visible;
	background-color: transparent;
}
