.car-container {
	position:relative;
}

.car-transition {
	@include transition-duration(1s);
	@include transition-property(all);
	@include transition-timing-function(cubic-bezier(0.250, 0.100, 0.250, 1));
}

.car-transition-preview {
	@include transition-duration(1s);
	@include transition-property(all);
	@include transition-timing-function(cubic-bezier(0.750, 0, 0.750, 0.9));
}
html body [data-slide="0"] .animated-car.g70-preview {
	background-image: url('../images/car/g70/car.png');
}

.animated-car {
	&.g70,&.g80, &.g80-red, &.g90, &.g90l,&.g70-preview, &.g80-preview, &.g90-preview, &.g90l-preview, &.g80-ultimate {
		position:relative;
		width:auto;

		background-repeat: no-repeat;
		background-position: 0 0;
		background-size: 100%;

		.wheel-front,
		.wheel-rear,
		.support-front,
		.support-rear {
			position:absolute;
			background-repeat: no-repeat;
			background-position: 0 0;
			background-size: 100% 100%;
		}

		.wheel-front,
		.wheel-rear {
			z-index: 2;
			//display:none;
		}

		.support-front,
		.support-rear {
			z-index:1;
		}
	}


	&.g80 {
		background-image: url('../images/car/g80/body.png');
	}
	&.g80-red {
		background-image: url('../images/car/g80/body_red.png');
	}
	&.g70, &.g70-preview {
		$width: 929;
		$height: 282;
		padding-bottom: percentage($height/$width);
		background-image: url('../images/car/g70/body.png');

		.wheel-front {
			width: percentage(105/$width);
			height: percentage(105/$height);
			left: percentage(721/$width);
			top: percentage(157/$height);
			background-image: url('../images/car/g70/front.png');
		}

		.wheel-rear {
			width: percentage(105/$width);
			height: percentage(104/$height);
			left: percentage(160/$width);
			top: percentage(157/$height);
			background-image: url('../images/car/g70/back.png');
		}
	}

	&.g80, &.g80-red {
		$width: 878;
		$height: 308;
		padding-bottom: percentage($height/$width);
		//background-image: url('../images/car/g80/body.png');

		.wheel-front {
			width: percentage(104/$width);
			height: percentage(102/$height);
			left: percentage(692/$width);
			top: percentage(170/$height);
			background-image: url('../images/car/g80/wheel-front.png');
		}

		.wheel-rear {
			width: percentage(97/$width);
			height: percentage(100/$height);
			left: percentage(130/$width);
			top: percentage(165/$height);
			background-image: url('../images/car/g80/wheel-rear.png');
		}

		.support-front {
			width: percentage(102/$width);
			height: percentage(101/$height);
			left: percentage(693/$width);
			top: percentage(170/$height);
			background-image: url('../images/car/g80/support-front.png');
		}

		.support-rear {
			width: percentage(97/$width);
			height: percentage(98/$height);
			left: percentage(130/$width);
			top: percentage(166/$height);
			background-image: url('../images/car/g80/support-rear.png');
		}
	}

	&.g90 {
		$width: 926;
		$height: 309;
		padding-bottom: percentage($height/$width);

		.wheel-front {
			width: percentage(99/$width);
			height: percentage(99/$height);
			left: percentage(722/$width);
			top: percentage(173/$height);
			background-image: url('../images/car/g90/wheel-front.png');
		}

		.wheel-rear {
			width: percentage(94/$width);
			height: percentage(94/$height);
			left: percentage(133/$width);
			top: percentage(171/$height);
			background-image: url('../images/car/g90/wheel-rear.png');
		}

		.support-front {
			width: percentage(85/$width);
			height: percentage(72/$height);
			left: percentage(725/$width);
			top: percentage(174/$height);
			background-image: url('../images/car/g90/support-front.png');
		}

		.support-rear {
			width: percentage(80/$width);
			height: percentage(76/$height);
			left: percentage(140/$width);
			top: percentage(173/$height);
			background-image: url('../images/car/g90/support-rear.png');
		}
	}

	&.g90 {
		background-image: url('../images/car/g90/body.png');
	}
	&.g90l, &.g90l-preview {
		background-image: url('../images/car/g90l/body.png');
	}

	&.g80-ultimate {
		$width: 935;
		$height: 315;
		padding-bottom: percentage($height/$width);
		background-image: url('../images/car/g80-ultimate/body.png');

		.wheel-front,
		.wheel-rear {
			width: percentage(99/$width);
			height: percentage(100/$height);
			background-image: url('../images/car/g80-ultimate/wheel.png');
		}

		.wheel-front {
			left: percentage(722/$width);
			top: percentage(172/$height);
		}

		.wheel-rear {
			left: percentage(159/$width);
			top: percentage(167/$height);
		}
	}


	&.g80-preview {
		$width: 602;
		$height: 188;
		padding-bottom: percentage($height/$width);
		background-image: url('../images/car/g80-preview/body.png');

		.wheel-front {
			width: percentage(68/$width);
			height: percentage(68/$height);
			left: percentage(476/$width);
			top: percentage(109/$height);
			background-image: url('../images/car/g80-preview/wheel-front.png');
		}

		.wheel-rear {
			width: percentage(68/$width);
			height: percentage(68/$height);
			left: percentage(97/$width);
			top: percentage(108/$height);
			background-image: url('../images/car/g80-preview/wheel-rear.png');
		}

		.support-front {
			width: percentage(63/$width);
			height: percentage(63/$height);
			left: percentage(479/$width);
			top: percentage(112/$height);
			background-image: url('../images/car/g80-preview/support-front.png');
		}

		.support-rear {
			width: percentage(63/$width);
			height: percentage(63/$height);
			left: percentage(99/$width);
			top: percentage(111/$height);
			background-image: url('../images/car/g80-preview/support-rear.png');
		}
	}

	&.g90-preview {
		$width: 617;
		$height: 185;
		margin-top: percentage(2/$height);
		padding-bottom: percentage($height/$width);
		background-image: url('../images/car/g90-preview/body.png');

		.wheel-front {
			width: percentage(68/$width);
			height: percentage(68/$height);
			left: percentage(490/$width);
			top: percentage(109/$height);
			background-image: url('../images/car/g90-preview/wheel-front.png');
		}

		.wheel-rear {
			width: percentage(67/$width);
			height: percentage(67/$height);
			left: percentage(100/$width);
			top: percentage(109/$height);
			background-image: url('../images/car/g90-preview/wheel-rear.png');
		}

		.support-front {
			width: percentage(68/$width);
			height: percentage(63/$height);
			left: percentage(491/$width);
			top: percentage(109/$height);
			background-image: url('../images/car/g90-preview/support-front.png');
		}

		.support-rear {
			width: percentage(67/$width);
			height: percentage(61/$height);
			left: percentage(98/$width);
			top: percentage(113/$height);
			background-image: url('../images/car/g90-preview/support-rear.png');
		}
	}

	&.g90l, &.g90l-preview {
		$width: 973;
		$height: 320;
		padding-bottom: percentage($height/$width);
		background-image: url('../images/car/g90l/body.png');

		.wheel-front,
		.wheel-rear {
			background-image: url('../images/car/g90l/wheel.png');
		}
		.support-front,
		.support-rear {
			background-image: url('../images/car/g90l/support.png');
		}

		.wheel-front,
		.support-front {
			width: percentage(103/$width);
			height: percentage(100/$height);
			left: percentage(763/$width);
			top: percentage(173/$height);
		}

		.wheel-rear,
		.support-rear{
			width: percentage(95/$width);
			height: percentage(97/$height);
			left: percentage(126/$width);
			top: percentage(166/$height);
		}
	}

	/*
	&.g90l-preview {
		$width: 662;
		$height: 191;
		margin-top: percentage(4/$height);
		padding-bottom: percentage($height/$width);
		background-image: url('../images/car/g90l-preview/body.png');

		.wheel-front {
			width: percentage(69/$width);
			height: percentage(67/$height);
			left: percentage(535/$width);
			top: percentage(113/$height);
			background-image: url('../images/car/g90l-preview/wheel-front.png');
		}

		.wheel-rear {
			width: percentage(66/$width);
			height: percentage(66/$height);
			left: percentage(102/$width);
			top: percentage(114/$height);
			background-image: url('../images/car/g90l-preview/wheel-rear.png');
		}

		.support-front {
			width: percentage(64/$width);
			height: percentage(62/$height);
			left: percentage(538/$width);
			top: percentage(118/$height);
			background-image: url('../images/car/g90l-preview/support-front.png');
		}

		.support-rear {
			width: percentage(63/$width);
			height: percentage(63/$height);
			left: percentage(104/$width);
			top: percentage(118/$height);
			background-image: url('../images/car/g90l-preview/support-rear.png');
		}
	}
	*/
}
