.exterior-360 {
	opacity:0;
	visibility:hidden;

	@include transition(opacity 1s ease);

	&.visible {
		opacity:1;
		visibility:visible;
	}


}

.car-360 {
  opacity:0;
  visibility:hidden;

  //@include transition(opacity 1s ease);

  /*&.visible {
	  opacity:1;
	  visibility:visible;
  }*/

  &.top {
	opacity:1;
	visibility:visible;
	z-index:7 !important;
  }
  &.bottom {
	opacity:1;
	visibility:visible;
	z-index:6 !important;
  }

}

.threesixty {
	.spinner {
		position: absolute;
		top: 50%;
		left: 50%;
		margin-left: -30px;
		margin-top: -15px;
		z-index:5;
	}

	.threesixty_images {
		visibility: visible;
		opacity: 1;
		@include transition(opacity 1s ease);

		&.hidden {
			visibility: hidden;
			opacity: 0;
		}
		img {
			left: 0;

			/*&.previous-image {
				visibility: hidden;
				//z-index: -999;
			}
			&.current-image {
				visibility: visible;
			}*/
		}
	}
}