.fancybox-inner {
	h2 {
		font-family: "GenesisSansHead", sans-serif;
		font-weight: 300;
		text-align:center;
		font-size: 4.4rem;
		color: #804033;
		line-height:1.2;
	}

	p {
		font-family: "GenesisSansText", sans-serif;
		font-size: 1.6rem;
		color:#000;
	}

	.layout__content {
		min-height:0;
		padding: 40px;
	}
	.layout__wrapper {
		padding:0;
	}
}
.fancybox-slide > * {
	margin:0;
}