@font-face {
	font-family: 'GenesisSansTextKROTFRegular';
	src: url("../fonts/GenesisSansTextKROTFRegular.eot");
	src: url("../fonts/GenesisSansTextKROTFRegular.eot?#iefix") format('embedded-opentype'), url("../fonts/GenesisSansTextKROTFRegular.woff") format('woff'), url("../fonts/GenesisSansTextKROTFRegular.ttf") format('truetype'), url("../fonts/GenesisSansTextKROTFRegular.svg#GenesisSansTextKROTFRegular") format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'PTRub';
	src: url("../fonts/PT Rouble Sans.eot");
	src: url("../fonts/PT Rouble Sans.eot?#iefix") format('embedded-opentype'),
	url("../fonts/PT Rouble Sans.woff") format('woff'),
	url("../fonts/PT Rouble Sans.woff2") format('woff2'),
	url("../fonts/PT Rouble Sans.ttf") format('truetype'),
	url("../fonts/PT Rouble Sans.svg#PT Rouble Sans") format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'GenesisSansHead';
	src: url("../fonts/GenesisSansHead-Light.eot");
	src: url("../fonts/GenesisSansHead-Light.eot?#iefix") format('embedded-opentype'),
	url("../fonts/GenesisSansHead-Light.woff") format('woff'),
	url("../fonts/GenesisSansHead-Light.woff2") format('woff2'),
	url("../fonts/GenesisSansHead-Light.ttf") format('truetype');
	font-weight: 100;
	font-style: normal;
}
@font-face {
	font-family: 'GenesisSansHead';
	src: url("../fonts/GenesisSansHead-Regular.eot");
	src: url("../fonts/GenesisSansHead-Regular.eot?#iefix") format('embedded-opentype'),
	url("../fonts/GenesisSansHead-Regular.woff") format('woff'),
	url("../fonts/GenesisSansHead-Regular.woff2") format('woff2'),
	url("../fonts/GenesisSansHead-Regular.ttf") format('truetype');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'GenesisSansText';
	src: url("../fonts/GenesisSansText-Regular.eot");
	src: url("../fonts/GenesisSansText-Regular.eot?#iefix") format('embedded-opentype'),
	url("../fonts/GenesisSansText-Regular.woff") format('woff'),
	url("../fonts/GenesisSansText-Regular.woff2") format('woff2'),
	url("../fonts/GenesisSansText-Regular.ttf") format('truetype');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'GenesisSansText';
	src: url("../fonts/GenesisSansText-Medium.eot");
	src: url("../fonts/GenesisSansText-Medium.eot?#iefix") format('embedded-opentype'),
	url("../fonts/GenesisSansText-Medium.woff") format('woff'),
	url("../fonts/GenesisSansText-Medium.woff2") format('woff2'),
	url("../fonts/GenesisSansText-Medium.ttf") format('truetype');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'GenesisSansText';
	src: url("../fonts/GenesisSansText-Bold.eot");
	src: url("../fonts/GenesisSansText-Bold.eot?#iefix") format('embedded-opentype'),
	url("../fonts/GenesisSansText-Bold.woff") format('woff'),
	url("../fonts/GenesisSansText-Bold.woff2") format('woff2'),
	url("../fonts/GenesisSansText-Bold.ttf") format('truetype');
	font-weight: 600;
	font-style: normal;
}
.pt-rub {
	font-family: $font-rub !important;
	font-weight: 400 !important;
	font-style: normal !important;
}