/*------------------------------------------------------------------
[Forms Stylesheet]

Project:    Genesis
Version:    0.1
Last change:    02/08/2017 [..., az]
Assigned to:    Albert Zhivulin (az)
Primary use:    theme
-------------------------------------------------------------------*/



/*------------------------------------------------------------------
[Table of contents]

1. 
    1.2. 
-------------------------------------------------------------------*/
@include remD {
    .form-element {
        // [label]
        &--label {
            font-size: 1.4rem;
            margin-bottom: .8rem;
            padding-top: .3rem;
        }

        // [input]
        &--input {
            font-size: 1.6rem;
            height: 4.2rem;
            padding-top: .2rem;
            padding-left: 1.4rem;
            padding-right: 1.4rem;

        }

        // [checkbox]
        &--checkbox {
            font-size: 1.4rem;

            // Checkbox
            &::before {
                width: 1.8rem;
                height: 1.8rem;
            }

            &::after {
                left: 0;
                top: 0;
                width: 1.8rem;
                height: 1.8rem;
                border-width: 0.6rem;
            }

            &-sub {
                /*padding-top: .2rem;*/
                position: absolute;
                top: 0;
                right: 2.8rem;
            }

            // [options]

            &-options {
                &::before {
                    top: .3rem;
                }
                &::after {
                    right: 0;
                    top: .3rem;
                    left: auto;
                }
            }

            // Header
            &-header {
                font-size: 1.6rem;
                bottom: -.2rem;
                margin-right: 12rem;

                &-wrap {
                    width: calc(100% - 8rem);
                    span {
                        font-size: 1.6rem;
                        bottom: -.6rem;
                        margin-bottom: .5rem;
                    }
                }
            }
        }

        //[Select]
        &--select {

            &-img {

                .select2 {
                    &-selection {

                        &--single {
                            height: 5.8rem !important;
                        }
                    }
                }

            }
        }

        // Select2 modifycators
        .select2 {
            &-container {
                //width: 100% !important;
            }
            &-selection {
                &--single {

                    font-size: 1.5rem;
                    height: 4.2rem;
                    padding-top: .8rem;
                    padding-left: 1.4rem;
                    padding-right: 1.4rem;

                    .select2-selection__rendered {
                        height: 5rem;
                        line-height: 2.8rem;
                    }
                }

                &__arrow {
                    width: 4.0rem !important;
                    height: 4.0rem !important;

                    &::before,
                    &::after {
                        width: .6rem;
                        top: 2.0rem;
                    }

                    &::before {
                        left: 1.6rem;
                    }

                    &::after {
                        left: 2.0rem;
                    }

                }

                &__image {
                    height: 3.5rem;
                    padding-top: .5rem;
                    img {
                        width: 50%;
                    }
                }

                &__caption {
                    font-size: 1.2rem;
                    padding-bottom: .7rem;
                    padding-right: 0;
                    letter-spacing: -.03rem;

                    padding-left: 1.5rem;
                    top: .5rem;
                    width: calc(100% - 7.5rem);
                }
            }

        }

        &--select-img {
            .select2-selection--single {
                height: 5.8rem !important;
            }

            .select2-selection__rendered {
                margin-left: -.2rem;
            }

            .select2-selection__arrow {
                top: 1.0rem !important;
                right: 0 !important;
            }

            &-selection__caption {

                padding-left: 7.4rem;
                padding-top: .4rem;
            }
        }

        // [range]
        &--range {
            &.noUi-target {
                margin-top: -.7rem;
                margin-bottom: -1.1rem;

                &::before {
                    height: 0;
                    top: .6rem;
                }
                .noUi-base {
                    margin-right: .8rem;
                    margin-left: .7rem;
                }

                .noUi-handle {
                    width: 1.5rem;
                    height: 1.5rem;
                    transform: translateX(1.0rem);
                    top: -.1rem;

                }

                .noUi-tooltip {
                    font-size: 1.4rem;
                    bottom: -2.5rem;
                }
            }

            &-lable {
                font-size: 1.4rem;
                bottom: -1.6rem;
            }

            .noUi-pips {
                height: 2.0rem;
                right: 1.6rem;

                .noUi-value {
                    top: -.5rem;
                    font-size: 1.4rem;
                }
            }
        }
    }

    // Select2 modifycators
    .select2 {

        &-results__option {
            padding: 1.1rem 1.4rem .9rem;
        }

        &-selection__image {
            top: 1.3rem;
            left: 1.2rem;
            width: 6rem;
            img {
                width: 50%;
            }
        }

        &-selection__caption {
            font-size: 1.2rem;
            padding-left: 7.5rem;
            padding-top: .7rem;
            padding-right: 1.5rem;
            letter-spacing: -.03rem;
        }
    }

    .select2-selection__image {
        height: 3.5rem;
        padding-top: .5rem;
        left: 0;
        top: 0;
    }

    .select2-selection__caption {
        padding-left: 1.5rem;
        padding-top: .3rem;
        padding-right: 0;
        width: calc(100% - 7.5rem);
    }

    .list-value {
        li {
            font-size: 1.8rem;
            margin-bottom: 2.0rem;
        }

        &--sub {
            font-size: 2.6rem;
            margin-top: -.5rem;
            margin-right:2.8rem;

            .pt-rub {
                padding-left: .7rem;
                margin-top: -.8rem;
                font-size: 2.5rem;
            }
        }
    }
}
.tablet {
    .form-element {
        // [label]
        &--label {
            font-size: 1.4rem;
            margin-bottom: .8rem;
            padding-top: .3rem;
        }

        // [input]
        &--input {
            font-size: 1.6rem;
            height: 4.2rem;
            padding-top: .2rem;
            padding-left: 1.4rem;
            padding-right: 1.4rem;

        }

        // [checkbox]
        &--checkbox {
            font-size: 1.4rem;

            // Checkbox
            &::before {
                width: 1.8rem;
                height: 1.8rem;
            }

            &::after {
                right: 0;
                top: 0.3rem;

                width: 1.8rem;
                height: 1.8rem;
            }

            &-sub {
                padding-top: .2rem;
            }

            // [options]

            &-options {
                padding-right: 3.9rem;

                &::before {
                    top: .3rem;
                }
                &::after {
                    right: 0;
                    top: 0.3rem;

                    left: auto;
                }
            }

            // Header
            &-header {
                font-size: 1.6rem;
                bottom: -.6rem;
            }
        }

        //[Select]
        &--select {

            &-img {

                .select2 {
                    &-selection {

                        &--single {
                            height: 5.8rem !important;
                        }
                    }
                }

            }
        }

        // Select2 modifycators
        .select2 {
            &-container {
                //width: 100% !important;
            }
            &-selection {
                &--single {

                    font-size: 1.5rem;
                    height: 4.2rem;
                    padding-top: .8rem;
                    padding-left: 1.4rem;
                    padding-right: 1.4rem;

                    .select2-selection__rendered {
                        height: 5rem;
                        line-height: 2.8rem;
                    }
                }

                &__arrow {
                    width: 4.0rem !important;
                    height: 4.0rem !important;

                    &::before,
                    &::after {
                        width: .6rem;
                        top: 2.0rem;
                    }

                    &::before {
                        left: 1.6rem;
                    }

                    &::after {
                        left: 2.0rem;
                    }

                }

                &__image {
                    top: 0;
                    width: 6rem;
                    img {
                        width: 50%;
                    }
                }

                &__caption {
                    top: 0;
                    font-size: 1.2rem;
                    padding-left: 1rem;
                    padding-top: 0;
                    padding-right: 1.5rem;
                    letter-spacing: -.03rem;

                }
            }

        }

        &--select-img {
            .select2-selection--single {
                height: 5.8rem !important;
            }

            .select2-selection__rendered {
                margin-left: -.2rem;
            }

            .select2-selection__arrow {
                top: 1.0rem !important;
                right: 0 !important;
            }

            &-selection__caption {

                padding-left: 7.4rem;
                padding-top: .4rem;
            }
        }

        // [range]
        &--range {
            &.noUi-target {
                margin-top: -.7rem;
                margin-bottom: -1.1rem;

                &::before {
                    height: 0;
                    top: .6rem;
                }
                .noUi-base {
                    margin-right: .8rem;
                    margin-left: .7rem;
                }

                .noUi-handle {
                    width: 1.5rem;
                    height: 1.5rem;
                    transform: translateX(1.0rem);
                    top: -.1rem;

                }

                .noUi-tooltip {
                    font-size: 1.4rem;
                    bottom: -2.5rem;
                }
            }

            &-lable {
                font-size: 1.4rem;
                bottom: -1.6rem;
            }

            .noUi-pips {
                height: 2.0rem;
                right: 1.6rem;

                .noUi-value {
                    top: -.5rem;
                    font-size: 1.4rem;
                }
            }
        }
    }

    // Select2 modifycators
    .select2 {

        &-results__option {
            padding: 1.1rem 1.4rem .9rem;
        }

        &-selection__image {
            top: 0;
            left: 0;
            width: 6rem;
            img {
                width: 50%;
            }
        }

        &-selection__caption {
            top: 0;
            font-size: 1.2rem;
            padding-left: 1rem;
            padding-top: 0;
            padding-right: 1.5rem;
            letter-spacing: -.03rem;
            width: calc(100% - 8.5rem);
        }
    }

    .list-value {
        li {
            font-size: 1.8rem;
            margin-bottom: 2.0rem;
        }

        &--sub {
            font-size: 2.6rem;
            margin-top: -.5rem;

            .pt-rub {
                padding-left: .7rem;
                margin-top: -.8rem;
                font-size: 2.5rem;
            }
        }
    }
}




































