/*------------------------------------------------------------------
[Forms Stylesheet]

Project:    Genesis
Version:    0.1
Last change:    02/08/2017 [..., az]
Assigned to:    Albert Zhivulin (az)
Primary use:    theme
-------------------------------------------------------------------*/



/*------------------------------------------------------------------
[Table of contents]

1. 
    1.2. 
-------------------------------------------------------------------*/
.form-element {

    position:relative;

    input.error + span + label {
        color:red;

        &:before {
            border-color: red;
        }
    }

    // [label]
    &--label {
        color: #8a8e95;
        line-height: 1.2;
        font-family: "GenesisSansHead", sans-serif;
        font-weight: 100;
        font-size: 14px;
        display: block;
        text-transform: uppercase;
        margin-bottom: 8px;
        padding-top: 3px;
    }
    
    // [input]
    &--input {
        font-family: "GenesisSansText", sans-serif;
        font-weight: 400;
        border: 1px solid #c2c2c2;
        font-size: 16px;
        height: 42px;
        width: 100%;
        padding-top: 2px;
        padding-left: 14px;
        padding-right: 14px;
        outline: inherit;
        box-sizing: border-box;
        background-color: transparent;
        
        &:focus,
        &:active {
           border: 1px solid #804033; 
        }
        
        // Placeholder
        &:-ms-input-placeholder {
            color: #8a8e95;
        }
        &:-moz-placeholder {
            color: #8a8e95;
        }
        &::-moz-placeholder {
            color: #8a8e95;
        }
        &::-webkit-input-placeholder {
            color: #8a8e95;
        }
    }

    // [checkbox]
    &--checkbox {
        font-family: "GenesisSansText", sans-serif;
        font-size: 14px;
        padding-left: 56px;
        display: block;
        box-sizing: border-box;
        cursor: pointer;
        /*position: relative;*/
        line-height: 1.3;

        a {
            &,
            &:active {
                color: #804033;
            }
            
            &:hover,
            &:focus {
                
            }
        }

        .mobile & {
            font-size: 1.6rem;
            padding-left: 5.6rem;
            color: black;
        }
        
        // Checkbox
        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 18px;
            height: 18px;
            @include background('/svg/check-border.svg');

            .mobile & {
                width: 1.8rem;
                height: 1.8rem;
            }
        }
        
        &::after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 18px;
            height: 18px;
            @include background('/svg/check-active.svg');
            opacity: 0;
            z-index: -1;

            .mobile & {
                left: 0;
                top: 0;
                display: block;
                width: 2.4rem;
                height: 2.4rem;
            }
        }
        
        
        // Input 
        &-input {
            display: none;
            &:checked~.form-element--checkbox {
                &::after {
                    opacity: 1;
                }
            }
        }

        &-header {
            line-height: 1.4;
        }

        &-sub {
            padding-top: 2px;
            //display: inline-block;
            position: absolute;
            top: 0;
            right: 3.5rem;
        }
        
        
        // [options]
        
        &-options {
            padding-left: 0;
           /* padding-right: 39px;*/
            /*text-align: right;*/
            
            &::before {
                left: auto;
                right: 0;
                top: 3px;
            }
            &::after {
                left: auto;
                right: 0;
                top: 3px;
            }

            .mobile &.form-element--checkbox {
                padding-right: 3.9rem;
                padding-left: 0;
                text-align: right;

                &::before {
                    left: auto;
                    right: 0;
                    top: 0;
                }
                &::after {
                    left: auto;
                    right: 0;
                    top:0;
                }
            }
        }
        
        // Header
        &-header {
            font-family: "GenesisSansText", sans-serif;
            font-size: 16px;
            color: #000;
            position: relative;
            display:block;
            margin-right:12rem;

            &-text {
                border-bottom: 1px dotted #000;
                display:inline;
            }

           /* &-wrap {
                width: calc(100% - 80px);
                span {
                    font-family: "GenesisSansText", sans-serif;
                    font-size: 16px;
                    float: left;
                    color: #000;
                    border-bottom: 1px dotted #000;
                    line-height: 0.9;
                    display: block;
                    position: relative;
                    bottom: -6px;
                    margin-bottom: 5px;
                }
            }*/
        }
    }
    
    // [inverse]
    &__inverse {
        .form-element {
            &--input {
                border: 1px solid #804033; 
            }
        }
    }
    
    //[Select]
    &--select {
        width: 100%;

        &-img {

            .select2 {
                &-selection {

                    &--single {
                        height: 58px !important;
                    }
                }
            }


        }
    }
    
    
    // Select2 modifycators
    .select2 {
        &-container {
            //width: 100% !important;
        }
        &-selection {
            outline: none;
            
            &--single {
                border-radius: 0;
                border: 1px solid #804033;

                font-size: 15px;
                height: 42px;
                width: 100%;
                padding-top: 8px;
                padding-left: 14px;
                padding-right: 14px;
            }

            &__rendered {
                padding: 0 !important;
                text-overflow: inherit;
                display: block !important;
                color: #000;
                position: relative;

                .mobile & {
                    min-height: 4.2rem;
                    line-height: 2.8rem;
                }

                .select2-selection__image {
                    left: 0;
                }
            }
            
            
            &__arrow {
                display: block;
                width: 40px !important;
                height: 100% !important;
                
                &::before,
                &::after {
                    content: '';
                    position: absolute;
                    height: 1px;
                    width: 6px;
                    background-color: #000;
                    transform: rotate(45deg);
                    top: 52%;
                }
                
                &::before {
                    transform: rotate(45deg);
                    left: 16px;
                }
                
                &::after {
                    transform: rotate(-45deg);
                    left: 20px;
                }
                
                
                b {
                    display: none;
                }
            }
            
            &__image {
                position: relative;
                display: inline-block;
                vertical-align: middle;
                height: 35px;
                top: 0;
                padding-top: 5px;
                .mobile & {
                    height: 3.5rem;
                    padding-top: .5rem;
                    top: 0;
                    left: 2px;
                    width: 8rem;
                    img {
                        width: 50%;

                    }
                }
            }

            &__caption {
                display: inline-block;
                vertical-align: middle;
                white-space: normal;
                font-family: GenesisSansText;
                font-size: 12px;
                line-height: 1.4;
                padding-left: 15px;
                top: 5px;
                padding-top: 0;
                position: relative;
                padding-right: 15px;
                letter-spacing: -.03px;
                width: calc(100% - 60px);

                .mobile & {
                    font-size: 1.6rem;
                    padding-bottom: .7rem;
                    padding-right: 0;
                    letter-spacing: -.03rem;

                    padding-left: 1.5rem;
                    top: .5rem;
                    width: calc(100% - 7.5rem);
                }
            }
        }
        
        
        
        &-container--focus {
            outline: inherit;
        }

        
    }

    &--select-img {
        .select2-selection--single {
            height: 58px !important;
        }

        .select2-selection__rendered {
            margin-left: -2px;
        }

        .select2-selection__arrow {
            top: 0!important;
            right: 0!important;
            height: 100%;
        }

        &-selection__caption {

            padding-left: 74px;
            padding-top: 4px;
        }
    }


    // [range]
    &--range {
        &.noUi-target {
            border: 0 none;
            background-color: transparent;
            box-shadow: none;
            border-radius: 0;
            margin-top: -7px;
            margin-bottom: -11px;

            &::before {
                content: '';
                width: 100%;
                position: absolute;
                height: 0px;
                border-top: 1px solid #804033;
                top: 6px;
            }
            .noUi-base {
                margin-right: 8px;
                margin-left: 7px;
                width: auto;
                cursor: pointer;
            }

            .noUi-handle {
                outline: none;
                z-index: 4;
                border: 0 none;
                box-shadow: none;
                background-color: #804033;
                width: 15px;
                height: 15px;
                border-radius: 50%;
                transform: translateX(10px);
                top: -1px;

                &::before,
                &::after {
                    display: none;
                }
            }

            .noUi-tooltip {
                font-family: "GenesisSansText", sans-serif;
                background-color: transparent;
                border: 0 none;
                font-size: 14px;
                bottom: -25px;
                transform: translate(-40%,0);
                cursor: pointer;
                color: #5c5c5c;
            }

            .mobile & {
                margin-top: -.7rem;
                margin-bottom: -1.1rem;

                &::before {
                    top: .6rem;
                }
                .noUi-base {
                    margin-right: .8rem;
                    margin-left: .7rem;
                }

                .noUi-handle {
                    width: 2.4rem;
                    height: 2.4rem;
                    transform: translateX(0);
                    top: -.6rem;
                    left: -1rem;
                }

                .noUi-tooltip {
                    font-size: 1.6rem;
                    bottom: -2.2rem;
                    padding-left: 6rem;
                }
                .noUi-tooltip {
                    font-size: 1.4rem;
                    bottom: -1.9rem;
                }
            }
        }

        &-wrap {
            position: relative;
        }

        &-lable {
            font-family: "GenesisSansText", sans-serif;
            background-color: transparent;
            font-size: 14px;
            color: #5c5c5c;
            position: absolute;
            display: inline-block;
            bottom: -16px;
            left: 0;

            .mobile & {
                font-size: 1.4rem;
                bottom: -1.6rem;
            }
        }

        .noUi-pips {
            height: 20px;
            right: 16px;
            width: auto;

            .noUi-marker {
                display: none;
            }

            .noUi-value {
                top: -5px;
                bottom: auto;
                font-family: "GenesisSansText", sans-serif;
                color: #5c5c5c;
                font-size: 14px;
                transform: none;
            }
            .mobile & {
                height: 2.0rem;
                right: 1.6rem;
                .noUi-value {
                    top: -.5rem;
                    font-size: 1.4rem;
                }
            }
        }
    }

    span.error {
        display:none !important;
    }

    input {
        border-radius: 0;
    }
    input.error, textarea.error {
        border-color:red;
        color:red;
    }
}

// Select2 modifycators
.select2 {

    &-price-value {
        font-size: 0.9em;
        color: #9a9a9a;
        float: right;
        margin-right: 2rem;
        line-height: 2.2rem;
    }

    &-search {
        &--dropdown {
            display: none;
        }
    }
    
    &-dropdown {
        border-radius: 0;
        border: 1px solid #804033;
    }
    
    &-results__option {
        padding: 11px 14px 9px;
        position: relative;

        .mobile & {
            padding: 1.1rem 1.4rem .9rem;
        }
    }

    &-selection__image {
        position: absolute;
        top: 13px;
        left: 12px;
        width: 60px;
        img {
            width: 50%;
        }
    }

    &-selection__caption {
        display: block;
        white-space: normal;
        font-family: GenesisSansText;
        font-size: 12px;
        line-height: 1.4;
        padding-left: 75px;
        padding-top: 7px;
        padding-right: 15px;
        letter-spacing: -.03px;
    }
}
.select2-selection__image {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    height: 35px;
    top: 0;
    left: 0;
    padding-top: 5px;
}

.select2-selection__caption {
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
    font-family: GenesisSansText;
    font-size: 12px;
    line-height: 1.4;
    padding-left: 15px;
    top: 0;
    padding-top: 3px;
    position: relative;
    padding-right: 0;
    letter-spacing: -.03px;
    width: calc(100% - 75px);
}
.mobile {
    .select2-selection__image {
        height: 3.5rem;
        padding-top: 0;
        width: 8rem;
        left: 0;
        top: 0 !important;
    }

    .select2-selection__caption {
        font-size: 1.6rem;
        padding-left: 1.5rem !important;
        padding-top: .3rem;
        padding-bottom: 0 !important;
        padding-right: 0;
        width: calc(100% - 9.5rem);
    }
}

.list-value {
    padding-left: 0;
    list-style: none;
    
    li {
        font-family: "GenesisSansText", sans-serif;
        font-size: 18px;
        color: #000000;
        font-weight: 300;
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 20px;

        .mobile & {
            font-size: 1.8rem;
            font-weight: 400;
            margin-bottom: 2.0rem;
        }
    }
    
    &--sub {
        font-family: "GenesisSansText", sans-serif;
        font-size: 26px;
        color: #804033;
        font-weight: 300;
        display: flex;
        align-items: center;
        margin-top: -5px;

        .pt-rub {
            padding-left: 7px;
            margin-top: -8px;
            font-size: 25px;
        }

        .mobile & {
            font-size: 2.6rem;
            margin-top: -.5rem;

            .pt-rub {
                padding-left: .7rem;
                margin-top: -.8rem;
                font-size: 2.5rem;
            }
        }
    }
}

// [Mobile]
.mobile {
    .form-element {

        // [Label]
        &--label {
            font-size: 1.8rem;
            font-weight: 400;
            margin-bottom: 1.4rem;
        }

        &--checkbox {
            &-header {
                font-size: 1.8rem;
            }

            &-sub {
                font-size: 1.8rem;
                padding-top: 0;
                margin-top: -.1rem;
            }

            &-options {
                padding-right: 4.2rem;
            }

            &::before {
                width: 2.4rem;
                height: 2.4rem;
                top: 0;
            }

            &::after {
                left: 0;
                top: 0;
                height: 2.4rem;
                width: 2.4rem;
            }
        }

        &--select-img .select2-selection--single {
            height: 8.0rem !important;
        }

        &--input {
            height: 5.0rem;
            font-size: 1.8rem;
            padding-top: .4rem;
            font-weight: 400;
        }

        &--range .noUi-pips .noUi-value {
            top: -.3rem;
        }
    }



    // [Select]
    .select2 {
        &-selection {
            &--single {
                height: 5.0rem;
                font-size: 1.7rem;
                padding-top: 1.3rem;
                padding-left: 1.4rem;
                padding-right: 1.4rem;
            }

            &__arrow {
                width: 4.5rem !important;
                height: 100% !important;

                &::before,
                &::after {
                    top: 50%;
                    left: 2rem;
                    height: 0.1rem;
                    width: .6rem;
                }
                &:before {
                    left: 1.6rem;
                }
            }

        }

        &-results__option {
            .select2-selection__caption {
                padding-bottom: 1.3rem;
            }

            .select2-selection__image {
                top: 2.2rem;
            }
        }
    }


    .list-value {
        padding-top: 4.3rem;
        padding-bottom: 1.3rem;

        li {
            padding-left: 16.0rem;
            letter-spacing: -.02rem;
        }
    }
}




































