.indicator {
	color: $color-bg;
	list-style-type: none;
	@include cf;
	z-index: 55;
	position: relative;
	white-space: nowrap;
	width: 400px;
	pointer-events: all;
	@media (max-height: 800px) {
		position: fixed;
	}
	.tablet & {
		position: absolute;
		width: 40rem;
	}
	@include remD {
		position: absolute;
		width: 40rem;
	}
	li{
		display:block;
		float:left;
		min-width:40px;
		padding: 0 9px 0 13px;
		height:40px;
		max-width: 40px;
		line-height:42px;
		box-sizing: border-box;
		margin-right:1px;
		background-color: $color-gray;
		text-align: center;
		cursor: pointer;
		overflow: hidden;

		@include remD {
			min-width:4.0rem;
			padding: 0 .9rem 0 1.3rem;
			height:4.0rem;
			font-size: 1.5rem;
			max-width: 4.0rem;
			line-height:4.2rem;

		}
		.tablet & {
			min-width:4.0rem;
			padding: 0 .9rem 0 1.3rem;
			height:4.0rem;
			font-size: 1.5rem;
			max-width: 4.0rem;
			line-height:4.2rem;
		}
		.mobile & {
			min-width:6.0rem;
			font-size: 1.5rem;
			padding: 0 .9rem 0 1.3rem;
			height:6.0rem;
			max-width: 6.0rem;
			line-height:6.2rem;
		}
		@include transition(all .4s ease);

		&.disable {
			background-color: lighten($color-gray, 5%);
			cursor:default;
		}

		/*&:hover {
			background-color: lighten($color-gray, 5%);
		}*/
		.desktop &:last-child {
			&:hover span {
				width: 146px;

				@include remD {
					width: 14.6rem;
				}
			}
		}
		.desktop &:hover {
			max-width: 100%;
			i {
				//margin-right: 0;
				color: transparent;
				font-size: 0;
				transition-delay: 0s;
			}
			span {
				font-size: 15px;
				width: 118px;

				@include remD {
					font-size: 1.5rem;
					width: 11.8rem;
				}
			}
		}
		i {
			font-style: normal;
			transition: all 0s;
			transition-delay: 0.3s;
			//margin-right: -5px;

			.mobile & {
				font-size: 2.4rem;
			}
		}
		span {
			width: 0;
			display: inline-block;
			overflow: hidden;
			vertical-align: top;
			white-space: nowrap;
			transition: all .3s;
			line-height: 40px;
			//background-color: $color-gray;
			margin-left: 0;
			margin-right: 0;
			padding: 0 0;
			text-align: left;
			box-sizing: border-box;
			@include remD {
				line-height: 4rem;
			}
			.tablet & {
				line-height: 4rem;
			}
		}
		&.active {
			background-color: $color-dark-gray;
			span {
				background-color: $color-dark-gray;
			}
		}
	}
}