html, body {
	padding:0;
	margin:0;
}

.layout__content {
	&.configurator {
		height: calc(100vh - 100px);
		padding-top:$header-height;

		@media (max-width: 1024px) {
			height: calc(100vh - 120px);
			padding-top: 60px;
		}
		@media (max-width: 768px) {
			padding-top: 60px;
		}

		.tablet.landscape-wide & {
			min-height: 55rem;
			min-width: 120rem;
		}
		.tablet & {
			padding-top: 80px;
			height: 100vh;
			min-height: 55rem;
			box-sizing: border-box;
			min-width: 102.4rem;
		}
		.mobile.landscape & {
			padding-top: 80px;
		}
		.mobile & {
			padding-top: 8rem;
			height: auto;
			bottom: auto !important;
			box-sizing: border-box;
			min-width: 64rem;
		}
		> .container:first-child {
			pointer-events: none;
		}
	}
}

.container {
	width:auto;
	max-width:1206px;
	margin-left:auto;
	margin-right:auto;
	box-sizing: border-box;

	&.top-position {
		position:relative;
		z-index:10;
	}

	@media (max-width: 1280px) {
		padding-left: 35px;
		padding-right: 35px;
	}
}