.mobile-panel {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 150;
    display: none;

    background-color: #804033;
    height: 11.6rem;

    &--list {
        list-style: none;
        padding-left: 0;
        display: flex;
        justify-content: space-between;
        color: #fff;
        cursor: pointer;
        padding-top: 0.5rem;
    }

    &--item {
        position: relative;
        width: 100%;
        
        a {
            color: white;
        }
    }

    &--icon {
        display: block;
        position: relative;
        height: 2.9rem;

        &::after {
            right: 50%;
            transform: translate(50%, -50%);
        }
    }

    &--head {
        display: block;
        font-family: "GenesisSansHead", sans-serif;
        font-weight: 100;
        display: block;
        text-align: center;
        color:#fff;
        text-decoration:none;

        font-size: 1.6rem;
        letter-spacing: -.006rem;
        padding-top: 1.6rem;
        line-height: 1.14;
    }
}

.mobile-dept {
    background-color: #c2c2c2;
    margin: auto -6.2rem;
    display: none;
    margin-top: 5rem;

    &__normall {
        margin: auto 0;
    }

    &--wrap {
        width: 100%;
        text-align: right;
        padding-right: 6rem;
        padding-top: 2.3rem;
        padding-bottom: 2.0rem;
        box-sizing: border-box;
    }

    &--btn {
        width: 50%;
        display: flex;
        float: left;
        height: 8rem;
        line-height: 1.4;
        font-size: 1.6rem;
        font-weight: 400;
        background-color: #888888;
        border: 0;
        vertical-align: middle;
        flex-shrink: 0;
        border-right: 1px solid #c2c2c2;
        box-sizing: border-box;
        text-transform: uppercase;
        + .mobile-dept--btn {
            border: 0;
        }

        align-items: center;
        justify-content: center;
        text-align: center;

        &,
        &:hover,
        &:focus,
        &:active {
            color: #fff;
            text-decoration: none;
        }
    }

    &--price{
        color: #fff;
        font-size: 1.6rem;
        display: block;
        font-family: 'GenesisSansText', sans-serif;
        font-weight: 400;
        line-height: .92;

        &-sub {
            font-size: 1.8rem;
            width: 28%;
            display: inline-block;
        }

        &-full {
            font-size: 1.4rem;
            color: #484848;
            font-weight: 400;
            font-family: 'GenesisSansText', sans-serif;

            &-head {
                font-size: 1.8rem;
                padding-top: .8rem;
                margin-bottom: -.3rem;
            }

            &-sub {
                color: #804033;
                font-size: 2.6rem;
                padding-left: .8rem;
            }
        }
    }

}

.mobile {
    // Fix
    .layout__content.configurator {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: hidden;

        body {
            overflow: hidden;
        }
    }

    &.landscape {
        .slide {
            top: 80px;
        }
    }
    .slide {
        position: fixed;
        top: 8rem;
        left: 0;
        right: 0;
        bottom: auto;
        overflow-y: scroll;
        height: auto;

        -webkit-overflow-scrolling: touch;

        &[data-slide="0"],
        &[data-slide="1"] {
            bottom: auto;
        }
    }



    .left-nav-bar.animate-item {
        display: none;
    }

    .mobile-dept {
        display: block;
    }

    .layout__header {
        //height: 8.0rem;
        z-index: 200;
    }

    //.header {
    //    padding-right: 39px;
    //    padding-left: 39px;
    //
    //    &__logo {
    //        width: 124px;
    //        height: 55px;
    //    }
    //
    //    &__user-navigation {
    //        height: 66px;
    //    }
    //
    //    &__brand {
    //        margin-top: -2px;
    //    }
    //
    //    .button {
    //        &--transparent {
    //            font-size: 22px;
    //            font-family: "GenesisSansHead", sans-serif;
    //            font-weight: 400;
    //        }
    //
    //        &-topmenu {
    //            height: 60px;
    //
    //            &__text {
    //                font-size: 20px;
    //                font-family: "GenesisSansHead", sans-serif;
    //                font-weight: 400;
    //                line-height: 3.2;
    //            }
    //
    //            &__icon {
    //                width: 48px;
    //
    //                span {
    //                    border: 0 none;
    //                    background-color: #fff;
    //                    height: 4px;
    //                    border-radius: 2px;
    //
    //                    &:first-child {
    //                        top: 13px;
    //                    }
    //
    //                    &:nth-child(2) {
    //                        top: 29px;
    //                    }
    //
    //                    &:last-child {
    //                        top: 45px;
    //                    }
    //                }
    //            }
    //        }
    //    }
    //}

    .asside {


        &--dual {
          display: block;
            &::before {
                display: none;
            }
        }



        &--row {
            flex-direction: column;
        }

        & > .asside--btn-close {
            top:9.5rem;
            /*display: none;*/
        }

        &--wrap {
            margin-left: 0;
            margin-right: 0;

            padding-left: 6.2rem;
            padding-right: 6.2rem;
            padding-top: 12.7rem;

            display: block;
            width: 100%;


            position: absolute;
            bottom: 8.0rem;
            top: 8.1rem;
            overflow-y: scroll;
            -webkit-overflow-scrolling: touch;

            &-head {
                position: relative;
            }



            .asside--btn-close {
                display: block;
                position: absolute !important;
                right: 6rem;
                top: 8rem;
            }
        }

        &--col {
            padding-left: 0;
            padding-right: 0;

            &:nth-child(2) {
                padding-left: 0;
                padding-right: 0;

                width: 100%;
            }
        }
    }


    &-header {
        margin: 0 6.0rem;
        margin-top: 7rem;

        display: none;

        &--head {
            display: flex;
            justify-content: space-between;
            align-items: baseline;

            font-family: "GenesisSansHead", sans-serif;
            font-weight: 100;
            font-size: 4.5rem;
            color: #804033;
            text-transform: uppercase;
            line-height: 1;

            margin-bottom: 2.0rem;
            margin-top: 7rem;

            position: relative;
            z-index: 10;

            &:before {
                content: '';
                display: block;
                position: absolute;
                height: 18.7rem;
                left: -6.4rem;
                right: -6.4rem;
            }

            &-sub {
                font-size: 2.0rem;
                font-family: "GenesisSansText", sans-serif;
                color: #000;
                font-weight: 400;
                margin-bottom: 0;
            }
        }

        &--price {
            font-size: 1.8rem;
            font-family: "GenesisSansText", sans-serif;
            font-weight: 500;
            color: #888888;
        }

        &--pay {
            font-size: 1.4rem;
            font-family: "GenesisSansText", sans-serif;
            font-weight: 400;
            color: #000;

            padding-bottom: 48rem;

            &-sub {
                font-size: 1.8rem;
                color: #804033;
                font-weight: 500;
                padding-left: .4rem;
                cursor: pointer;
            }
        }

        &--icon {
            font-size: 1.5rem;
            position: relative;
            display: inline-block;
            top: -.1rem;
            margin-left: .4rem;
        }


    }

    .mobile-header {
        display: block;
    }
    .exterior .mobile-header {
        display: none;
    }
}

















