.slide-items {

	position:relative;

	.slide {
		position:absolute;
		width:100%;
		height:100%;
		z-index:1;
		opacity: 0;
		transition: opacity .4s ease;

		&.top {
			z-index:50;
			opacity: 1;
		}

		.title {
			//display:none;
		}
	}

}

.animate-item {
  visibility:hidden;
  opacity:0;
  @include transition(all .7s ease);

  &.slide-top {
	@include transform(translateY(-100px));
  }
  &.slide-bottom {
	@include transform(translateY(100px));
  }
  &.slide-left {
	@include transform(translateX(-100px));
  }
  &.slide-right {
	@include transform(translateX(100px));
  }

  &.show {
	visibility:visible;
	opacity:1;

	&.slide-top, &.slide-bottom {
	  @include transform(translateY(0));
	}
	&.slide-left, &,slide-right {
	  @include transform(translateX(0));
	}
  }
}

h2.title {
	width: calc(100% - 100px);
}