.slide-4 {
	position: absolute;
	min-height: 610px;
	height: calc(100vh - 80px);
	top: -40px;
	left: 0;
	width: 100%;
	max-width: 100%;
	min-width: 1024px;
	overflow: hidden;
	z-index: 1;

	@media (max-width: 1024px) {
		.desktop & > .container {
			padding-left: 0;
		}
	}
	@include remD {
		top: 0;
		min-height: 570px;
	}
	.tablet.landscape-wide & {
		min-width: 0;
		top: 0;
		min-height: 55rem;
	}
	.tablet & {
		min-width: 0;
		top: 0;
		min-height: 55rem;
		height: 55rem;
		padding-left: 0;
		padding-right: 0;
	}

	.container .title {
		padding-top: 70px;

		@include remD {
			padding-top: 14rem;
			margin-bottom: 5rem;
		}
		.tablet & {
			padding-top: 15rem;
			margin-bottom: 2rem;
			width: 100%;
		}
	}
	@media (max-height: 650px) and (max-width: 1024px) {
		.desktop & {
			height: calc(100vh - 10.5px);
		}
	}
	.left-side {
		width: 470px;
		padding-right: 65px;
		float: left;
		position: relative;

		@include remD {
			width: 47.0rem;
			padding-right: 6.5rem;
		}
		.tablet.landscape-wide & {
			width: 55rem;
		}
		.tablet & {
			width: 42rem;
			//padding-right: 5rem;
			box-sizing: border-box;
		}

		.image {
			@media (max-height: 650px) and (max-width: 1024px) {
				width: 70%;
			}
			.mobile & {
				width: 100%;
			}
		}
		h4 {
			font-family: $font-text;
			color: black;
			font-weight: 400;
			font-size: 20px;
			margin-top: 0;
			margin-bottom: 18px;
			line-height: 1;

			@include remD {
				font-size: 2.0rem;
				margin-bottom: 1.8rem;
			}
			.tablet & {
				font-size:  1.8rem;
				margin-bottom: 1.8rem;
			}
			.mobile & {
				font-size:  2rem;
				margin-bottom: 1.8rem;
			}
			@media (max-height: 700px) {
				margin-bottom: 10px;
			}
		}
		.car-slide__info {
			margin-top: 50px;
			@media (max-height: 900px) {
				margin-top: 15px;
			}

			@include remD {
				margin-top: 5rem;
				@media (max-height: 900px) {
					margin-top: 1.5rem;
				}
			}
			.tablet & {
				margin-top: 3rem;
			}

			&:after {
				content: '';
				display: table;
				clear: both;
			}

			h3 {
				font-family: $font-head;
				color: black;
				font-weight: 100;
				font-size: 38px;
				width: 50%;
				float: left;
				margin-top: 0;
				margin-bottom: 45px;
				line-height: 1;
				white-space: nowrap;
				@media (max-height: 900px) {
					margin-bottom: 10px;
				}

				@media (max-height: 700px) {
					margin-bottom: 0;
				}

				@include remD {
					font-size: 3.8rem;
					margin-bottom: 4.5rem;
					@media (max-height: 900px) {
						margin-bottom: 1rem;
					}
				}
				.tablet & {
					font-size: 2.6rem;
					margin-bottom: 2rem;
				}
				.mobile & {
					font-size: 3.8rem;
					margin-bottom: 2rem;
				}
			}

			p {
				width: 50%;
				font-family: $font-text;
				font-size: 20px;
				margin-top: 14px;
				margin-bottom: 8px;
				float: left;
				color: black;
				text-align: right;

				@include remD {
					font-size: 2.0rem;
					margin-top: 1.4rem;
					margin-bottom: .8rem;
				}
				.tablet & {
					font-size: 1.6rem;
					margin-top: .7rem;
					margin-bottom: .8rem;
				}
				.mobile & {
					font-size: 2rem;
					margin-top: .7rem;
					margin-bottom: .8rem;
				}
			}
		}
		.specs {

			margin-bottom: 30px;
			position: relative;
			border-collapse: collapse;

			@media (max-height: 900px) {
				margin-bottom: 15px;
				padding: 0;
				margin-top: -5px;
			}

			@include remD {
				padding: 1rem 0;
				margin-bottom: 3rem;
				@media (max-height: 900px) {
					margin-bottom: 1.5rem;
					margin-top: -.5rem;
				}
			}
			.tablet & {
				padding: 1rem 0;
				margin-bottom: 3rem;
			}
			.mobile & {
				padding: 1rem 0;
				margin-bottom: 3rem;
			}
			&:before {
				@include pseudo;
				width: 100%;
				height: 100%;
				left: 0;
				top: 0;
				border-top:    1px solid $color-heading;
				border-bottom: 1px solid $color-heading;
			}
			tr {
				border-bottom: 1px solid #e8e8e8;
				width: 100%;
				display: inline-table;
				&:first-child {
					td {
						padding-top: 10px;
					}
				}
				&:last-child {
					border: 0;
					td {
						padding-bottom: 10px;
					}
				}
			}
			td {
				font-family: $font-text;
				font-size: 14px;
				color: black;
				font-weight: 400;
				height: 25px;
				padding-top: 0;
				padding-bottom: 0;

				&:last-child {
					text-align: right;
					white-space: nowrap;
				}
				&:first-child {
					text-align: left;
					padding-right: 20px;
				}

				@include remD {
					font-size: 1.4rem;
					height: 2.5rem;
					&:first-child {
						padding-right: 2rem;
					}
				}
				.tablet & {
					font-size: 1.4rem;
					height: 2.5rem;
					&:first-child {
						padding-right: 2rem;
					}
				}
				.mobile & {
					font-size: 1.4rem;
					height: 2.5rem;
					&:first-child {
						padding-right: 2rem;
					}
				}
			}
		}
		.price-info {

			.price {
				font-size: 16px;
				line-height: 1.2;
				color: $color-price;
				min-width: 245px;
				float: right;
				clear: both;
				display: table;

				@include remD {
					font-size: 1.6rem;
					min-width: 24.5rem;
				}
				.tablet & {
					font-size: 1.6rem;
					min-width: 24.5rem;
				}
				.mobile & {
					font-size: 1.6rem;
					min-width: 24.5rem;
				}

				> div {
					display: table-cell;
					&:last-child {
						text-align: right;
					}
				}
			}
			.full-price {
				font-size: 18px;
				color: black;
				min-width: 255px;
				margin-top: 5px;
				float: right;
				clear: both;
				white-space: nowrap;
				text-align: right;

				@include remD {
					font-size: 1.8rem;
					min-width: 25.5rem;
					margin-top: .5rem;
				}
				.tablet & {
					font-size: 1.8rem;
					min-width: 25.5rem;
					margin-top: .5rem;
				}
				.mobile & {
					font-size: 1.8rem;
					min-width: 25.5rem;
					margin-top: .5rem;
				}
				small {
					display: block;
					font-size: 14px;
					line-height: 1;
					color: #484848;

					@include remD {
						font-size: 1.4rem;
					}
					.tablet &,
					.mobile & {
						font-size: 1.4rem;
					}
				}
				b {
					font-size: 26px;
					color: $color-heading;

					@include remD {
						font-size: 2.6rem;
					}
					.tablet &,
					.mobile & {
						font-size: 2.6rem;
					}
				}
			}

		}
	}
	.right-side {
		width: calc(100% - 520px);
		padding-right: 15px;
		margin-right: -15px;
		box-sizing: border-box;
		float: left;
		position: relative;



		@media (max-width: 1090px) {
			width: calc(100% - 560px);
		}
		@media (max-width: 1200px) {
			min-height: 435px;
			height: calc(100vh - 339px);
			.btn-default--brown {
				font-size: 12px;
				line-height: 1.1;
			}
		}
		@media (max-width: 1076px) {
			.btn-default--brown {
				padding-top: 5px;
			}
		}

		@include remD {
			width: calc(100% - 52rem);
			padding-right: 1.5rem;
			margin-right: -1.5rem;



			@media (max-width: 1200px) {
				min-height: 43.5rem;
				height: calc(100vh - 33.9rem);
				width: calc(100% - 57rem);
				.btn-default--brown {
					font-size: 1.2rem;
				}
			}
			@media (max-width: 1076px) {
				.btn-default--brown {
					padding-top: .5rem;
				}
			}

			.tablet & {
				width: calc(100% - 47rem);
			}
			.tablet.landscape-wide & {
				width: calc(100% - 41rem);
			}
		}

		.tablet.landscape-wide & {
			width: calc(100% - 53.5rem);
		}
		.tablet & {
			width: calc(100% - 40.5rem);
			//padding-right: 0;
			margin-right: -2.5rem;

			@media (max-width: 1200px) {
				min-height: 43.5rem;
				height: calc(100vh - 33.9rem);
				.btn-default--brown {
					font-size: 1.2rem;
				}
			}
			@media (max-width: 1076px) {
				.btn-default--brown {
					padding-top: .5rem;
				}
			}
		}

		.info-block {
			height: calc(100vh - 174px);
			min-height: 520px;
			//overflow: hidden;
			@media (max-width: 1280px) {
				min-height: 500px;
				height: calc(100vh - 260px);
			}
			.mCustomScrollBox {
				width: calc(100% + 15px);
				max-width: calc(100% + 15px);
				padding-right: 15px;
			}
			.mCSB_scrollTools {
				margin-right: -6px;
			}
			.mCSB_inside > .mCSB_container {
				margin-right: 0;

				> .dropdown-wrap:first-child {
					padding-top: 120px;
				}
			}
			.mCSB_scrollTools .mCSB_draggerRail {
				background-color: transparent;
			}
			.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
				background-color: #e5e5e5;
				width: 4px;
			}
			&.mCustomScrollbar {
				position: relative;
				&:after {
					content: '';
					display: block;
					position: absolute;
					bottom: 0;
					left: 0;
					height: 20px;
					width: calc(100% + 15px);
					pointer-events: none;
					transition: opacity .4s;
					background-image: linear-gradient(bottom, white, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, 0));
				}
			}
			.dropdown-wrap {
				width: 100%;
				padding-bottom: 15px;
				ul {
					padding: 0;
				}
				li {
					list-style: none;
					padding-left: 0;
				}
				> .dropdown {
					display: none;
				}
				&--gray {
					> .dropdown-title {
						padding: 18px 20px 16px;
						font-size: 20px;
						height: 53px;
						box-sizing: border-box;
						background-color: $color-light-gray;
						color: black;
						position: relative;
						cursor: pointer;
						margin-bottom: 1px;

						&:after {
							@include pseudo;
							@include background('/svg/arrow.svg');
							background-size: 55%;
							right: 15px;
							top: 18px;
							width: 31px;
							height: 20px;
							cursor: pointer;
							transform: rotate(0);
							transition: transform .3s ease;
						}
					}
					&.open {
						> .dropdown-title {
							&:after {
								transform: rotate(180deg);
							}
						}
					}
					.dropdown-wrap {
						&.open {
							.dropdown-title {
								&:before {
									opacity: 1;
								}
								&:after {
									opacity: 0;
								}
							}
						}
					}
					> .dropdown {
						.dropdown-title {
							position: relative;
							padding-left: 67px;
							cursor: pointer;
							font-size: 16px;
							color: black;
							padding-bottom: 10px;
							padding-top: 10px;
							&:before {
								@include pseudo;
								@include background('/svg/minus.svg');
								background-size: contain;
								left: 15px;
								top: 6px;
								width: 28px;
								height: 28px;
								cursor: pointer;
								opacity: 0;
							}
							&:after {
								@include pseudo;
								@include background('/svg/plus.svg');
								background-size: contain;
								left: 15px;
								top: 6px;
								width: 28px;
								height: 28px;
								cursor: pointer;
							}
						}
						.dropdown {
							padding-left: 67px;
							li {
								border-bottom: 1px solid #e8e8e8;
								display: table;
								width: 100%;
								&:last-child {
									border: 0;
								}
							}
							p {
								font-size: 14px;
								color: #4d4d4d;
								padding: 5px 0 3px;
								margin: 0;
								display: table-cell;
								&.pull-right {
									display: table-cell;
									text-align: right;
									padding-right: 0;
								}
							}
						}
					}
				}
				&.open {
					> .dropdown {
						display: block;
					}
				}
			}

			@include remD {

				height: calc(100vh - 24rem);
				min-height: 60rem;

				.mCustomScrollBox {
					width: calc(100% + 1.5rem);
					max-width: calc(100% + 1.5rem);
					padding-right: 1.5rem;
				}
				.mCSB_scrollTools {
					margin-right: -.1rem;
				}
				.mCSB_inside > .mCSB_container {
					> .dropdown-wrap:first-child {
						padding-top: 12rem;
					}
				}
				.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
					width: .4rem;
				}
				&.mCustomScrollbar {
					&:after {
						height: 2rem;
						width: calc(100% + 1.5rem);
					}
				}
				.dropdown-wrap {
					padding-bottom: 1.5rem;
					&--gray {
						> .dropdown-title {
							padding: 1.8rem 2rem 1.6rem;
							font-size: 2.0rem;
							height: 5.3rem;

							&:after {
								right: 1.5rem;
								top: 1.8rem;
								width: 3.1rem;
								height: 2.0rem;
							}
						}
						> .dropdown {
							.dropdown-title {
								padding-left: 6.7rem;
								font-size: 1.6rem;
								padding-bottom: 1.0rem;
								padding-top: 1.0rem;
								&:before {
									left: 1.5rem;
									top: .6rem;
									width: 2.8rem;
									height: 2.8rem;
								}
								&:after {
									left: 1.5rem;
									top: .6rem;
									width: 2.8rem;
									height: 2.8rem;
								}
							}
							.dropdown {
								padding-left: 6.7rem;
								p {
									font-size: 1.4rem;
									padding:.5rem 1rem .3rem 0;
									&.pull-right {
										margin-right:0;
									}
								}
							}
						}
					}
				}
			}

			@media only screen and (min-height: 900px) and (min-width: 1280px) {
				height: calc(100vh - 19.4rem);
			}

			.tablet &,
			.mobile & {
				padding-right: 1.5rem;
				height: calc(100vh - 18rem);
				min-height: 53rem;

				.mCustomScrollBox {
					width: calc(100% + 1.5rem);
					max-width: calc(100% + 1.5rem);
					padding-right: 1.5rem;
				}
				.mCSB_scrollTools {
					margin-right: -.1rem;
				}
				.mCSB_inside > .mCSB_container {
					> .dropdown-wrap:first-child {
						padding-top: 8rem;
					}
				}
				.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
					width: .4rem;
				}
				&.mCustomScrollbar {
					&:after {
						height: 2rem;
						width: calc(100% + 1.5rem);
					}
				}
				.dropdown-wrap {
					padding-bottom: 1.5rem;
					&--gray {
						> .dropdown-title {
							padding: 1.8rem 2rem 1.6rem;
							font-size: 1.8rem;
							height: 5.3rem;

							&:after {
								right: 1.5rem;
								top: 1.8rem;
								width: 3.1rem;
								height: 2.0rem;
							}
						}
						> .dropdown {
							.dropdown-title {
								padding-left: 6.7rem;
								font-size: 1.6rem;
								padding-bottom: 1.1rem;
								padding-top: 1.0rem;
								&:before {
									left: 1.5rem;
									top: -.2rem;
									width: 3.4rem;
									height: 3.4rem;
									background-size: 70%;
									background-position: center;
								}
								&:after {
									left: 1.5rem;
									top: -.2rem;
									width: 3.4rem;
									height: 3.4rem;
									background-size: 70%;
									background-position: center;
								}
							}
							.dropdown {
								padding-left: 6.7rem;
								p {
									font-size: 1.4rem;
									padding:.5rem 1rem .3rem 0;
									&.pull-right {
										margin-right:0;
									}
								}
							}
						}
					}
				}
			}
			.tablet & {
				height: auto;
			}
			.mobile & {
				padding-right: 0;
				.dropdown-wrap {
					clear: both;
					.dropdown-wrap {
						padding-bottom: 0;
					}
					&--gray {
						> .dropdown {
							.dropdown {
							}
						}
					}
				}
			}
		}
		.btn-group {
			margin-top: 20px;
			left: 0;
			margin-left: 0;
			@media (max-width: 1280px) {
				.btn-default {
					width: 49%;
					margin-bottom: 10px;
					margin-right: 1%;
					margin-left: 0;
					float: left;
					&:nth-child(even){
						margin-right: 0;
						margin-left: 1%;
					}
				}
			}

			@include remD {
				margin-top: 2rem;
				left: 0;
				margin-left: 0;
			}
			.tablet &,
			.mobile & {
				margin-top: 1rem;
				left: 0;
				margin-left: 0;
				.btn-default {
					height: 4.8rem;
					min-width: 12rem;
					padding: 1rem 1.1rem .8rem;
					font-size: 1.4rem;
					width: auto;
					margin-bottom: 10px;
					margin-right: 1.2rem;
					margin-left: 0;
					float: left;
					&:nth-child(even){
						margin-right: 1.2rem;
						margin-left: 0;
					}
					&:nth-child(3){
						margin-right: 0;
					}
					&:last-child {
						display: none;
					}
				}
			}
		}

	}

	.modal-form {
		display: none;
	}

	.mobile & {

		top: auto;
		overflow: inherit;

		.mCustomScrollBox,
		.mCSB_container {
			overflow: inherit;
		}

		.dropdown-wrap.dropdown-wrap--gray {
			padding-bottom: 0;

			>.dropdown-title {

			}

			.dropdown {
				//margin: 1.9rem 0px -.9rem;
				.dropdown-title {
					padding-bottom: .1rem;
					padding-top: .2rem;

					&::before,
					&::after {
						left: 2.5rem;
						top: -.2rem;
					}
				}
			}
		}

		.btn-group {
			display: none;
		}

		&.container {
			min-width: 0;
			max-width: none;
			width: 100%;
			position: relative;
			height: auto;
			min-height: 0;
			padding-left: 2.7rem;
			padding-right: 2.7rem;

			.container {

				max-width: none;
			}
		}

		.right-side {

			min-height: 0;
			height: auto;
			width: 100%;
			padding-right: 0;
			margin-right: 0;

			.info-block {
				min-height: 0;
				height: auto;

				.mCSB_inside > .mCSB_container > .dropdown-wrap:first-child {
					padding-top: 2.1rem;
				}

				.dropdown-wrap--gray > .dropdown-title {
					font-size: 1.9rem;
					padding: 1.9rem 8.3rem 1.9rem;
					height: auto;
					margin: 0 -6.2rem;
				}
			}

			.mCSB_scrollTools {
				display: none!important;
			}

			.mCustomScrollBox {
				width: 100%;
				max-width: none;
				padding-right: 0;
			}
		}

		.left-side {


			min-height: 0;
			height: auto;
			width: 100%;
			padding: 0;

			.title {
				padding: 0;
				margin-top: 6rem;
				margin-bottom: 8.2rem;
			}

			.car-slide__info {
				margin-top: 6.3rem;

				h3 {
					margin-bottom: 4.0rem;
				}

				h4 {
					margin-bottom: 1.7rem;
				}
			}
		}



		.price-info {
			display: none;
		}
	}
}



[data-slide="3"] {
	.mobile & {
		>.container {
			>.container {
				margin: auto -2.9rem;
				width: auto;
			}
		}
		.slide-4 .right-side .info-block .dropdown-wrap--gray > .dropdown-title:after {
			right: 7.7rem;
			top: 1.7rem;
			width: 2.5rem;
		}
	}
}

.selected-confuguration {
	padding-top: 80px;
	padding-left: 25px;
	&:after {
		content: '';
		display: table;
		clear: both;
	}
	.selected-exterior {
		float: left;
		width: 40%;
		padding-right: 20px;
		box-sizing: border-box;
		h4 {
			color: $color-text;
			margin-bottom: 15px;
			font-weight: 400;

		}

		&__color {
			border-top: 1px solid $color-heading;
			color: $color-text;
			 vertical-align: middle;
			padding-top: 15px;
			i {
				display: inline-block;
				vertical-align: middle;
				width: 40px;
				height: 40px;
				margin-right: 10px;
				border-radius: 50%;
			}
		}
	}
	.selected-interior {
		float: left;
		width: 60%;
		h4 {
			font-size: 18px;
			color: $color-text;
			margin-bottom: 15px;
			font-weight: 400;
		}

		&__color {
			border-top: 1px solid $color-heading;
			font-size: 14px;
			display: table;
			width: 100%;
			padding-top: 15px;
			div {
				display: table-cell;
				width: 80px;
				vertical-align: middle;
				img {
					width: 50%;
					float: left;
				}
			}
			p {
				display: table-cell;
				padding-left: 10px;
				vertical-align: middle;
				font-size: 14px;
				color: $color-text;
			}
		}
	}
	.selected-option {
		margin-top: 10px;
		margin-bottom: 4rem;
		clear: both;

		&:before {
			content: '';
			display: table;
			clear: both;
		}
		h4 {
			font-size: 18px;
			color: $color-text;
			font-weight: 400;
			margin-bottom: 15px;
		}

		li {
			font-size: 14px;
			color: $color-text;
		}

		.dropdown-title {
			border-top: 1px solid $color-heading;
			padding-top: 15px;
			padding-left: 25px;
			font-size: 16px;
			color: $color-text;
			position: relative;
			> span {
				float: right;
				font-size: 18px;
				color: $color-heading;
			}

			&:before {
				content: "";
				display: block;
				position: absolute;
				@include background('/svg/arrow.svg');
				background-size: contain;
				left: 0;
				top: 15px;
				width: 10px;
				height: 20px;
				cursor: pointer;
				transform: rotate(0);
				transition: transform .3s ease;
			}

			&.no-arrow {
				padding-left:0;

				&:before {
					display:none;
				}
			}
		}

		.dropdown ul li {
			margin:5px 0;
		}

		.dropdown-wrap.open .dropdown-title {
			&:before {
				transform: rotate(180deg);
			}
		}

	}
}

html.tablet {
	.selected-confuguration {
		padding-top: 8.0rem;
		padding-left: 2.5rem;
		.selected-exterior {
			padding-right: 2rem;
			h4 {
				font-size: 2rem;
				margin-bottom: 1.5rem;
			}

			&__color {
				font-size: 1.4rem;
				padding-top: 1.5rem;
				i {
					width: 4rem;
					height: 4rem;
					margin-right: 1rem;
				}
			}
		}
		.selected-interior {
			h4 {
				font-size: 2rem;
				margin-bottom: 1.5rem;
			}

			&__color {
				font-size: 1.4rem;
				padding-top: 1.5rem;
				div {
					width: 8rem;
				}
				p {
					padding-left: 1.0rem;
					font-size: 1.4rem;
				}
			}
		}
		.selected-option {
			margin-top: 1rem;
			h4 {
				font-size: 2rem;
				margin-bottom: 1.5rem;
			}

			li {
				font-size: 1.4rem;
			}

			.dropdown-title {
				padding-top: 1.5rem;
				padding-left: 2.5rem;
				font-size: 1.6rem;
				> span {
					font-size: 1.8rem;
				}

				&:before {
					left: 0;
					top: 1.5rem;
					width: 1.0rem;
					height: 2.0rem;
				}
			}
		}
	}
}
html.mobile {
	.selected-confuguration {
		padding-top: 0;
		padding-left: 0;
		.selected-exterior {
			width: 100%;
			padding-right: 0;
			h4 {
				font-size: 2rem;
				margin-bottom: 1.5rem;
			}

			&__color {
				padding-top: 1.5rem;
				i {
					width: 4rem;
					height: 4rem;
					margin-right: 1rem;
				}
			}
		}
		.selected-interior {
			width: 100%;
			h4 {
				font-size: 2rem;
				margin-bottom: 1.5rem;
			}

			&__color {
				padding-top: 1.5rem;
				div {
					width: 8rem;
				}
				p {
					padding-left: 1.0rem;
					font-size: 1.4rem;
				}
			}
		}
		.selected-option {
			margin-top: 1rem;
			h4 {
				font-size: 2rem;
				margin-bottom: 1.5rem;
			}

			li {
				font-size: 1.4rem;
			}

			.dropdown-title {
				padding-top: 1.5rem;
				padding-left: 2.5rem;
				font-size: 1.6rem;
				> span {
					font-size: 1.8rem;
				}

				&:before {
					left: 0;
					top: 1.5rem;
					width: 1.0rem;
					height: 2.0rem;
				}
			}
		}
	}
}
@include remD {
	.selected-confuguration {
		padding-top: 8.0rem;
		padding-left: 2.5rem;
		.selected-exterior {
			padding-right: 2rem;
			h4 {
				margin-bottom: 1.5rem;
				font-size: 1.8rem;
			}

			&__color {
				padding-top: 1.5rem;
				font-size: 1.4rem;
				i {
					width: 4rem;
					height: 4rem;
					margin-right: 1rem;
				}
			}
		}
		.selected-interior {
			h4 {
				margin-bottom: 1.5rem;
				font-size: 1.8rem;
			}

			&__color {
				font-size: 1.4rem;
				padding-top: 1.5rem;
				div {
					width: 8rem;
				}
				p {
					padding-left: 1.0rem;
					font-size: 1.4rem;
				}
			}
		}
		.selected-option {
			margin-top: 1rem;
			h4 {
				font-size: 1.8rem;
				margin-bottom: 1.5rem;
			}

			li {
				font-size: 1.4rem;
			}

			.dropdown-title {
				padding-top: 1.5rem;
				padding-left: 2.5rem;
				font-size: 1.6rem;
				> span {
					font-size: 1.8rem;
				}

				&:before {
					left: 0;
					top: 1.5rem;
					width: 1.0rem;
					height: 2.0rem;
				}
			}
		}
	}
}