.btn-block {
	position: absolute;
	top: 745px;
	left: 50%;
	margin-left: -600px;

	.desktop & {
		@include remD {
			top: 74.5rem;
			//top: 74.5rem;
			margin-left: -60.0rem;
		}
		@media (max-height: 900px) {
			top: 78.5rem;
		}
		@media (max-height: 870px) {
			top: 77rem;
		}

		/*@media (max-width: 1280px) {
			left: 35px;
			margin-left: 0;
		}
		@media (max-height: 900px) {
			top: 682px;
		}
		@include remD {
			top: 74.5rem;
			margin-left: -60.0rem;
			@media (max-width: 1280px) {
				left: 3.5rem;
			}
			@media (max-height: 900px) {
				top: 68.2rem;
			}
		}*/
	}
}

.car-slider {
	&__wrap {
		.btn-block {
			.btn-default {
				vertical-align: middle;
				margin-left:.7rem;
				margin-right:.7rem;
			}
			a.btn-default {
				padding-top: 1.01rem;
			}
		}
	}
}

.mobile {

	.car-slider__wrap {

		cursor: default;
		padding-left: 0 !important;

		.car-slider--arrow {
			display: none!important;
		}


		&.container--wide {
			width: auto!important;
			height: auto!important;
			max-width: none !important;
			max-height: none !important;
			min-width: 0!important;
			min-height: 0!important;


			.ms-inner-controls-cont {
				max-width: none!important;
			}

			.ms-view.ms-basic-view {
				width: auto!important;
				height: auto!important;
			}


			&.car-slider__wrap {
				width: auto!important;
				height: auto!important;
				max-width: none !important;
				max-height: none  !important;
				margin-top: 0;

				.car-slider {
					&.master-slider {

						visibility: visible !important;
						opacity: 1 !important;
						margin: 0 !important;

						.ms-inner-controls-cont {
							max-width: none!important;
						}

						.ms-view.ms-fade-wave-view {
							width: auto!important;
							height: auto!important;
							left: auto!important;
						}

						.ms-slide.car-slide {
							width: auto!important;
							height: auto!important;
							left: auto!important;
							z-index: 1!important;
						}

						.ms-slide-container {
							transform: none!important;
						}
					}
				}

			}

			.ms-slide.car-slide {
				position: relative;
				min-height: 0 !important;
			}

			.car-slide--wrap {
				transform: none!important;

			}
		}




		.btn-block {
			display: none !important;
		}

		.car-slide--wrap {

		}

		// Item
		.car-slider {
			.car-slide  {
				.will-hide {
					opacity: 1;
					visibility:visible;
					pointer-events: auto!important;

					display: none;
				}

				.image {
					opacity: 1;
					height: auto;
					margin-bottom: 3rem;

					.animated-car {
						width: 100%;
						position: relative;
						bottom: 0;
						left: 0;
					}
				}



				.specs {
					height:auto;
					overflow:visible;
					position:relative !important;
					top:0 !important;

					&-hidden {

					}
				}
				.spec-hidden {
					display:none;
				}
			}
		}

		.car-slider .car-slide {
			padding-left: 9.4%!important;
			padding-right: 9.4%!important;
			min-height: 0!important;
			height: auto;

			.will-hide {
				//display: none;

				display: block;
				overflow: hidden;
				max-height: 0;
				//transition: all 2s ease-out!important;
				transition-delay: 0s!important;

				&.will-more {
					display: block;
					max-height: 5000px;
					transition-delay: 0s!important;
					//overflow: inherit;

					// asdasd
				}

			}
		}

		//.car-slider .car-slide .specs + .specs,
		//.mCustomScrollBox.mCS-light.mCSB_vertical.mCSB_inside,
		//.mCustomScrollBox mCS-light mCSB_vertical mCSB_inside {
		//  max-height: none!important;
		//}


		.car-slider .ms-slide.car-slide.open {
			.car-slide__price {
				border-bottom: 1px solid #804033;
			}
		}
	}

	// Bottom
	.car-slider .car-slide .will-hide .specs.spec-hidden {
		//position: relative;
		//opacity: 1;
	}
	.car-slider .car-slide .will-hide .specs {
		padding-right: 0;
		width: 100%;

		tr {
			width: 100%;
		}
	}

	.car-slider .car-slide .will-hide .specs + .specs {
		border-top: 1px solid #e8e8e8;
		margin-top: -5px;
		//opacity: 1;
		//display: none;
	}

	.car-slider {
		.car-slide--wrap {
			cursor: default;
		}

		.car-slide__price {
			padding-bottom: 35px;
			margin-bottom: -10px;
		}
	}

	.car-slider .car-slide .bottom-nav {
		position: relative;
		top: 0;
		margin-top: 18px;
	}

	.car-slider .car-slide .price-block p.price-block__total b {
		margin-top: -7px;
	}

	.car-slider .car-slide__price {
		border-bottom: 1px solid #dadada;
	}

	.car-slider__wrap.container--wide .ms-slide.car-slide {
		&:last-child {
			margin-bottom: 40px;
			.car-slide__price {
				border-bottom: 0 none;
			}
		}
	}

}


[data-slide="1"]{
  height:calc(100vh - 80px) !important;
  overflow: hidden;
}