.js-openModalView360 {
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 60px;
  height: 60px;
  padding: 10px;
  border-radius: 100px;
  background: rgba(0, 0, 0, 0.65);
  cursor: pointer;

  &.ie-360-button {
	opacity:0;
	visibility:hidden;
	z-index:10;

	&.visible {
	  opacity:1;
	  visibility:visible;
	}
  }
}



.js-closeModalView360 {
  position: absolute;
  top: 130px;
  right: 50px;
  cursor: pointer;
  width: 50px;
  height:50px;
  z-index: 123;
  border-radius: 100px;
  background: rgba(0,0,0,.5);
}

.js-closeModalView360:hover {
  opacity: .6;
}

.js-closeModalView360:after,
.js-closeModalView360:before {
  content: '';
  width: 30px;
  height: 2px;
  background: white;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.js-closeModalView360:before {
  transform: rotate(45deg);
}

.js-closeModalView360:after {
  transform: rotate(-45deg);
}

.inNewWindow {
  display: none !important;
}
.ModalView360 .inNewWindow {
  display: block !important;
}

.left-nav-bar {
	position: fixed;
	//z-index: 110;
	left: 0;
	top: 50%;
	z-index: 11;
	transform: translateY(-50%) translateX(0) !important;
	pointer-events: none;
	&.show ul {
		animation: slide-right 2s forwards ease !important;
		@include remD {
			animation: slide-right-remD 2s forwards ease !important;
		}
	}
	.tablet & {
		position: absolute;
		top: 43%;
	}
	.desktop {
		@media (max-height: 700px) {
			top: 200px;
			margin-top: 0 !important;
			position: absolute;
		}
	}
	.desktop .asside & {
		@media (max-height: 700px) {
			top: 280px;
			margin-top: 0 !important;
			position: absolute;
		}
	}
	ul {
		width: 260px;
		padding: 0;
		overflow: hidden;
		transform: translateX(0);
		pointer-events: none;
		@include remD {
			width: 26rem;
		}
		.tablet & {
			width: 26rem;
		}
		li {
			list-style: none;
			margin-bottom: 1px;
			min-height: 60px;
			width: 100%;
			margin-left: -200px;
			position: relative;
			transition: margin-left .4s ease-out;
			pointer-events: all;
			@include remD {
				min-height: 6rem;
				margin-left: -20rem;
			}
			.tablet & {
				min-height: 6rem;
				margin-left: -20rem;
			}
			.desktop &:hover {
				margin-left: 0;
			}
			a {
				background-color: $color-heading;
				padding: 20px 60px 20px 10px;
				color: white;
				font-family: $font-text;
				font-weight: 400;
				font-size: 15px;
				width: 100%;
				box-sizing: border-box;
				text-align: center;
				display: block;
				text-decoration: none;
				@include remD {
					padding: 2rem 6rem 2rem 1rem;
					font-size: 1.5rem;
				}
				.tablet & {
					padding: 2rem 6rem 2rem 1rem;
					font-size: 1.5rem;
				}
			}
		}
	}
}
@keyframes slide-right {
	0% {
		transform: translateX(-60px);
	}
	70% {
		transform: translateX(-60px);
	}
	100% {
		transform: translateX(0);
	}
}
@keyframes slide-right-remD {
	0% {
		transform: translateX(-6rem);
	}
	70% {
		transform: translateX(-6rem);
	}
	100% {
		transform: translateX(0);
	}
}
@mixin icon($path: '') {
	@include pseudo();
	position: absolute;
	right: 18px;
	width: 30px;
	height: 25px;
	top: 50%;
	transform: translateY(-50%);
	@include background($path);
	background-size: contain;

	@include remD {
		right: 1.8rem;
		width: 3.0rem;
		height: 2.5rem;
	}
}

.icon-wheel:after {
	@include icon('/svg/wheel.svg');
	.tablet & {
		right: 1.8rem;
		width: 3.0rem;
		height: 2.5rem;
	}
	.mobile & {
		height: 2.5rem;
		width: 3rem;
	}
}
.icon-book:after {
	@include icon('/svg/book.svg');
	.tablet & {
		right: 1.8rem;
		width: 3.0rem;
		height: 2.5rem;
	}
	.mobile & {
		height: 2.5rem;
		width: 3rem;
	}
}
.icon-gear:after {
	@include icon('/svg/gear.svg');
	.tablet & {
		right: 1.8rem;
		width: 3.0rem;
		height: 2.5rem;
	}
	.mobile & {
		height: 2.5rem;
		width: 3rem;
	}
}
.icon-calc:after {
	@include icon('/svg/calc.svg');
	.tablet & {
		right: 1.8rem;
		width: 3.0rem;
		height: 2.5rem;
	}
	.mobile & {
		height: 2.5rem;
		width: 3rem;
	}
}
.MSIE,
.IE {
	[data-slide="2"]:not(.interior-open) {

		.interior {
			.color-select {
				position: relative !important;
				left: 0 !important;
			}
			.color-select-interier {
				position: absolute;
				left: -3000px;
			}
		}
	}
}
[data-slide="2"].start-animation .interior > p {
	cursor: wait;
}
[data-slide="2"].start-animation:not(.interior-open) {

	.MSIE &,
	.IE & {
		.interior {
			.color-select-interier {
				display: none !important;
			}
		}
	}
	.exterior {
		//transition: clip-path 0s;
		animation-delay: 0.5s;
		animation: clip 1.5s forwards ease;

		@include remD {
			animation: clip-remD 1.5s forwards ease !important;
		}
		.tablet & {
			animation: clip-remT 1.5s forwards ease !important;
		}
		.mobile & {
			animation: clip-remM 1.5s forwards ease !important;
		}
	}
}
@keyframes clip {
	0% {
		clip-path: polygon(calc(100% - 380px) 0, calc(100% -  380px) 0, 100% 390px, 100% 380px, 100% 390px);
	}
	99.9% {
		clip-path: polygon(-2000px 0, calc(100% -  380px) 0, 100% 390px, 100% 370px, 100% calc(100% + 2401px));
	}
	100% {
		clip-path: polygon(-2000px 0, calc(100% -  380px) 0, 100% 390px, 100% 370px, 100% calc(100% + 2400px));
	}
}
@keyframes clip-remD {
	0% {
		clip-path: polygon(calc(100% - 38rem) 0, calc(100% -  38rem) 0, 100% 39rem, 100% 38rem, 100% 39rem);
	}
	99.9% {
		clip-path: polygon(-200rem 0, calc(100% -  38rem) 0, 100% 39rem, 100% 37rem, 100% calc(100% + 240.1rem));
	}
	100% {
		clip-path: polygon(-200rem 0, calc(100% -  38rem) 0, 100% 39rem, 100% 37rem, 100% calc(100% + 240rem));
	}
}
@keyframes clip-remT {
	0% {
		clip-path: polygon(calc(100% - 30rem) 0, calc(100% -  30rem) 0, 100% 31rem, 100% 30rem, 100% 31rem);
	}
	99.9% {
		clip-path: polygon(-200rem 0, calc(100% -  30rem) 0, 100% 31rem, 100% calc(0% + 30rem), 100% calc(100% + 240.1rem));
	}
	100% {
		clip-path: polygon(-200rem 0, calc(100% -  30rem) 0, 100% 31rem, 100% calc(0% + 30rem), 100% calc(100% + 240rem));
	}
}
@keyframes clip-remM {
	0% {
		clip-path: polygon(calc(100% - 17.5rem) 0, calc(100% -  17.5rem) 0, 100% 18rem, 100% 17.5rem, 100% 18rem);
	}
	99.9% {
		clip-path: polygon(-200rem 0, calc(100% -  17.5rem) 0, 100% 18rem, 100% 17.5rem, 100% calc(100% + 240.1rem));
	}
	100% {
		clip-path: polygon(-200rem 0, calc(100% -  17.5rem) 0, 100% 18rem, 100% 17.5rem, 100% calc(100% + 240rem));
	}
}
@keyframes clip-ext {
	0% {
		clip-path: polygon(0 0, calc(100% -  380px) 0, 100% 390px, 100% 100%,0 100%);
	}
	99.9% {
		clip-path: polygon(0 0, calc(100% - 3121px) 0, 100% 3300px, 100% 100%, 0 100%);
	}
	100% {
		clip-path: polygon(0 0, calc(100% - 3120px) 0, 100% 3300px, 100% 100%, 0 100%);
	}
}
@keyframes clip-ext-remD {
	0% {
		clip-path: polygon(0 0, calc(100% -  38rem) 0, 100%  39rem, 100% 100%,0 100%);
	}
	99.9% {
		clip-path: polygon(0 0, calc(100% - 312.1rem) 0, 100% 330rem, 100% 100%, 0 100%);
	}
	100% {
		clip-path: polygon(0 0, calc(100% - 312rem) 0, 100% 330rem, 100% 100%, 0 100%);
	}
}
@keyframes clip-ext-remT {
	0% {
		clip-path: polygon(0 0, calc(100% -  30rem) 0, 100%  31rem, 100% 100%,0 100%);
	}
	99.9% {
		clip-path: polygon(0 0, calc(100% - 312.1rem) 0, 100% 330rem, 100% 100%, 0 100%);
	}
	100% {
		clip-path: polygon(0 0, calc(100% - 312rem) 0, 100% 330rem, 100% 100%, 0 100%);
	}
}
@keyframes clip-ext-remM {
	0% {
		clip-path: polygon(0 0, calc(100% -  17.5rem) 0, 100%  18rem, 100% 100%,0 100%);
	}
	99.9% {
		clip-path: polygon(0 0, calc(100% - 312.1rem) 0, 100% 330rem, 100% 100%, 0 100%);
	}
	100% {
		clip-path: polygon(0 0, calc(100% - 312rem) 0, 100% 330rem, 100% 100%, 0 100%);
	}
}

.ie-title-interior {
  display:none;
}


.interior-open {

  	.ie-360-button {
	  display:none !important;
	}

	.interior {
		.angle {
			&:after {
				background-color: white;
			}
			.angle-interior {
				display: none;
			}
			.angle-exterior {
				display: block;
				position:relative;
				z-index:2;
			}
		}
	}
	.color-select-interier {
		opacity: 1 !important;
		pointer-events: all !important;
	}
	.exterior {
		animation: clip-ext 1.5s forwards ease;

		@include remD {
			animation: clip-ext-remD 1.5s forwards ease;
		}
		.tablet & {
			animation: clip-ext-remT 1.5s forwards ease;
		}
		.mobile & {
			animation: clip-ext-remM 1.5s forwards ease;
		}
	}
	&.animate-triangle .interior p:after {
		background-color: transparent;
		transition: transform 0s;
		transform: translate(100px, 0) rotate(46deg);
	}
	.exterior {
		pointer-events: none;
	}
}
.interior {
	position: absolute;
	min-height: 620px;
	height: calc(100vh - 100px) ;
	top: -40px;
	/*padding-top: 20px;*/
	left: 0;
	width: 100%;
	min-width: 1024px;
	overflow: hidden;
	z-index: 1;

	.MSIE &,
	.IE & {
		z-index: 2;

		div.image {
			display: none !important;
		}
		.ie.image {
			display: block !important;
		}

	  	.ie-title-interior {
		  display:block;
		}
	}

	@include remD {
		min-height: 62rem;
		height: calc(100vh - 100px);
		top: 0;
	}
	.tablet.landscape-wide & {
		min-height: 53rem;
		height: auto;
		width: 120rem;
	}
	.tablet.landscape & {
		height: auto;
		width: 102.4rem;
	}
	.tablet & {
		min-width: 0;
		width: 102.4rem;
		min-height: 50rem;
		height: auto;
		padding-top: 0;
		top: 0;
	}
	.mobile & {
		padding-top: 0;
		overflow: hidden !important;
	}
	@media (max-height: 900px) {
		height: calc(100vh - 100px);
	}
	@media (max-height: 800px) {
		margin-top: 0;
		top: 0;
	}
	@media (max-height: 750px) {
		min-height: 520px;
	}
	@media (max-height: 599px) {	//	Тут уже не адаптив
		min-height: 670px;
	}
	.color-select-interier {
		opacity: 0;
		pointer-events: none;
	}
	.image {
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center top;
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		opacity: 0;
		&.ie {
			display: none;
		}
		//transition: opacity 0.4s ease;
		&.top {
			z-index: -1;
			opacity: 1;
		}
		&.under-top {
			z-index: 0;
			opacity: 0;
		}

		polygon {
			//transform: translate(1000px, 0) rotate(2deg);
			transform: rotate(45deg) rotate(-45deg);
			transform-origin: 50% 50%;
		}
		svg {
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
		}
	}
	> .angle {
		float: right;
		padding-right: 90px;
		padding-top: 64px;
		font-family: $font-head;
		font-size: 18px;
		color: $color-heading;
		cursor: pointer;
		text-transform: uppercase;
		position: relative;
		z-index: 1;

		.MSIE &,
		.IE & {
			position: absolute;
			top:0;
			right:0;
		}

		@include remD {
			padding-right: 9.0rem;
			padding-top: 6.4rem;
			font-size: 1.8rem;
		}
		.tablet & {
			padding-right: 6rem;
			padding-top: 4.4rem;
			font-size: 1.8rem;
		}
		.mobile & {
			padding-right: 2.2rem;
			padding-top: 0;
			font-size: 1.8rem;

			position: absolute;
			top: 27.5rem;
			right: 0;

			margin: 0;
		}

		.angle-interior {
			display: block;
			position: relative;
			z-index: 2;
		}
		.angle-exterior {
			display: none;
		}

		.angle-car {
			@include pseudo();
			width: 734px;
			height: 400px;
			right: -365px;
			top: -135px;
			pointer-events: all;
			transform: rotate(46deg);
			z-index: 1;
			transition: transform .6s, background-color .6s;
			overflow: hidden;

			& span {
				display:block;
			}

			.car-wrap {
				transform: rotate(-46deg);

				.car-container {
					width: 60rem;
					display: block;
					position: absolute;
					top: 15rem;
					left: -39rem;
					transition: all .6s;
					opacity:0;
					visibility: hidden;

					.MSIE &,
					.IE & {
						transition: none !important;
					}

					/*.animated-car {
						left:-300px;
					}*/
				}
			}

			@include remD {
				width: 73.4rem;
				height: 40.0rem;
				right: -36.5rem;
				top: -13.5rem;
			}
			.tablet & {
				width: 73.4rem;
				height: 40.0rem;
				right: -41.5rem;
				top: -16.5rem;

				.car-wrap {
					.car-container {
						width: 60rem;
						left: -42rem;
					}
				}
			}
			.mobile & {
				width: 31.4rem;
				height: 21rem;
				right: -14.5rem;
				top: -10.9rem;

				.car-wrap {
					.car-container {
						width: 47rem;
						top: 8rem;
						left: -36rem;
					}
				}
			}

			.interior-open & {
				background: white/* url('#{$imgPath}/car/exterior.jpg') 58% 182%  no-repeat*/;

				.car-wrap {
					.car-container {
						opacity:1;
						visibility: visible;
					}
				}


				/*background-size: 50%;*/
				/*animation: show-bg 1s ease forwards;*/
				/*.tablet & {
					background-size: 40%;
					animation: show-bg-t 1s ease forwards;
				}
				.mobile & {
					background-size: 70%;
					animation: show-bg-m 1s ease forwards;
				}*/
			}
			/*@keyframes show-bg {
				0% {
					background-position: 13% 286%;
				}
				50% {
					background-position: 13% 286%;
				}
				100% {
					background-position: 58% 182%;
				}

			}
			@keyframes show-bg-t {
				0% {
					background-position: -10% 286%;
				}
				50% {
					background-position: -10% 286%;
				}
				100% {
					background-position: 50% 150%;
				}
			}
			@keyframes show-bg-m {
				0% {
					background-position: -29% 408%;
				}
				50% {
					background-position: -29% 408%;
				}
				100% {
					background-position: 87% 251%;
				}
			}*/
		}

		.desktop &:hover {
			.angle-car {
				transform: translate(-20px, 0) rotate(46deg);
				.car-wrap {
					.car-container {
						transform: translate(20px, 0);

					}
				}
			}
		}

		.MSIE.desktop &:hover,
		.IE.desktop &:hover {
			.car-wrap {
				.car-container {
					transform: translate(0, 0) !important;
				}
			}
		}

		/*
		&:after {
			@include pseudo();
			width: 734px;
			height: 400px;
			right: -365px;
			top: -135px;
			pointer-events: all;
			transform: rotate(46deg);
			z-index: 1;
			transition: transform .6s, background-color .6s;
			background: url('#{$imgPath}/car/exterior.jpg') 58% 182%  no-repeat;
			background-size: 0;

			@include remD {
				width: 73.4rem;
				height: 40.0rem;
				right: -36.5rem;
				top: -13.5rem;
			}
			.tablet & {
				width: 73.4rem;
				height: 40.0rem;
				right: -41.5rem;
				top: -16.5rem;
			}
			.mobile & {
				width: 31.4rem;
				height: 21rem;
				right: -14.5rem;
				top: -10.9rem;
			}
			.interior-open & {
				background: white url('#{$imgPath}/car/exterior.jpg') 58% 182%  no-repeat;
				background-size: 50%;
				animation: show-bg 1s ease forwards;
				.tablet & {
					background-size: 40%;
					animation: show-bg-t 1s ease forwards;
				}
				.mobile & {
					background-size: 70%;
					animation: show-bg-m 1s ease forwards;
				}
			}
			@keyframes show-bg {
				0% {
					background-position: 13% 286%;
				}
				50% {
					background-position: 13% 286%;
				}
				100% {
					background-position: 58% 182%;
				}

			}
			@keyframes show-bg-t {
				0% {
					background-position: -10% 286%;
				}
				50% {
					background-position: -10% 286%;
				}
				100% {
					background-position: 50% 150%;
				}
			}
			@keyframes show-bg-m {
				0% {
					background-position: -29% 408%;
				}
				50% {
					background-position: -29% 408%;
				}
				100% {
					background-position: 87% 251%;
				}
			}
		}
		.desktop &:hover {
			&:after {
				transform: translate(-20px, 0) rotate(46deg);
			}
		}*/
	}
	.color-select {
		opacity: 0;
		position: absolute;
		left: -3000px;
		@include remD {
			left: -300rem;
		}
		.tablet & {
			left: -300rem;
		}
	}
	.bottom-navigation .select-options {
		background-color: transparent;
		.scroll-block > ul,
		.mCSB_container > ul {
			background-color: rgba(247, 247, 247, .7);
		}
	}
	.bottom-navigation.opened .select-options {
		> ul {
			background-color: rgba(247, 247, 247, .95);
		}
	}
	.bottom-navigation .price-info {
		background-color: rgba(194, 194, 194, .7);
	}
	.desktop .slide:not(.start-animation) &:hover {
		~ .exterior {
			clip-path: polygon(0 0, calc(100% -  380px) 0, 100% 390px, 100% 100%,0 100%);

			@include remD {
				clip-path: polygon(0 0, calc(100% -  38rem) 0, 100% 39rem, 100% 100%,0 100%);
			}
			.tablet & {
				clip-path: polygon(0 0, calc(100% -  30rem) 0, 100% 31rem, 100% 100%,0 100%);
			}
		}
	}

	.MSIE & .render {
		display: block;
	  	margin-top:-10.5rem;

	  .wrapper {
		opacity: 0;
	  }
	}



	$smallerPerc: 25;
	@function smaller($value){
		@return #{$value - $value/100*$smallerPerc};
	}

	.render {
		display:none;
		margin-left: auto;
		margin-right: auto;

		text-align: center;
		position: relative;
		z-index:0;
		transition: height .4s ease;

		width: #{smaller(128)}rem;
		height: #{smaller(72)}rem;

		.car-360 {
			position:absolute;
			left:0;
			width:100%;
			height:100% !important;
			z-index: 5;
			text-align:center;
			//opacity:.5;

			top: -#{smaller(14)}rem;

			.mobile & {
				top: 0;
			}

			img {
				width:100% !important;
				height: auto;
			}
		}

		.car-container {
			margin:0 auto;

			&.g70 {
				width: #{smaller(97.5)}rem;
				top: #{smaller(3.45)}rem;
				left: #{smaller(1.4)}rem;
			}

			&.g80 {
				width: #{smaller(97.5)}rem;
				top: #{smaller(3.45)}rem;
				left: #{smaller(1.4)}rem;
			}

			&.g80-ultimate {
				width: #{smaller(93.5)}rem;
				top: #{smaller(5.3)}rem;
				left: -#{smaller(1.7)}rem;
			}

			&.g90 {
				width: #{smaller(102.9)}rem;
				top: #{smaller(3.15)}rem;
				left: #{smaller(.9)}rem;
			}

			&.g90l {
				width: #{smaller(97.3)}rem;
				top: #{smaller(5.3)}rem;
				left: #{smaller(0.3)}rem;
			}
		}

	}
}
.exterior {
	background-color: white;
	position: relative;
	min-height: 620px;
	height: calc(100vh - 80px);
	margin-top: -40px;
	padding-top: 20px;
	width: 100%;
	max-width: 100%;
	min-width: 1024px;
	box-sizing: border-box;
	overflow: hidden;
	z-index: 2;
	//opacity: 1 !important;
	.container.top-position {
		z-index: 1;
		pointer-events: none;
	}
	.MSIE &,
	.IE & {
		//display: none;
		z-index: 1;
		clip-path: none;
	}

	@include remD {
		margin-top: 0;
		padding-top: 0;
	}
	.tablet.landscape-wide & {
		width: 120rem;
		min-height: 52rem;
		height: auto;
	}

	.tablet.landscape & {
		width: 102.4rem;
		min-height: 69.5rem;
		height: auto;
	}
	.tablet & {
		min-width: 0;
		width: 102.4rem;
		margin-top: 0;
		padding-top: 0;
		min-height: 69.5rem;
		height: auto;
	}
	.mobile & {
		margin-top: 30.6rem;
	}
	.tablet:not(.landscape):not(.landscape-wide) & .render {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}
	&.corner-transition {
		transition: clip-path 0.5s ease;
		clip-path: polygon(0 0, 100% 0, 100% 0, 100% 100%,0 100%);
	}
	&.corner-show {
		clip-path: polygon(0 0, calc(100% -  360px) 0, 100% 370px, 100% 100%,0 100%);

		@include remD {
			clip-path: polygon(0 0, calc(100% -  36rem) 0, 100% 37rem, 100% 100%,0 100%);
		}
		.tablet & {
			clip-path: polygon(0 0, calc(100% -  30rem) 0, 100% 31rem, 100% 100%,0 100%);
		}
		.mobile & {
			clip-path: polygon(0 0, calc(100% -  17.5rem) 0, 100% 18rem, 100% 100%,0 100%);
		}
	}

	@media (max-height: 900px) {
		height: calc(100vh - 80px);
	}
	@media (max-height: 800px) {
		margin-top: 0;
	}
	@media (max-height: 750px) {
		min-height: 520px;
	}
	@media (max-height: 599px) {
		min-height: 670px;
	}

	$smallerPerc: 25;
	@function smaller($value){
		@return #{$value - $value/100*$smallerPerc};
	}

	.render {
		margin-left: auto;
		margin-right: auto;

		text-align: center;
		position: relative;
		z-index:0;
		transition: height .4s ease;

		width: #{smaller(128)}rem;
		height: #{smaller(72)}rem;

		.car-360 {
			position:absolute;
			left:0;
			width:100%;
			height:100% !important;
			z-index: 5;
			text-align:center;
			//opacity:.5;

			top: -#{smaller(14)}rem;

			.mobile & {
				top: 0;
			}

			img {
				width:100% !important;
				height: auto;
			}
		}

		.car-container {
			margin:0 auto;
			&.g70 {
				width: #{smaller(92.4)}rem;
				top: #{smaller(8.0)}rem;
				left: #{smaller(-1.3)}rem;
			}
			&.g80 {
				width: #{smaller(97.5)}rem;
				top: #{smaller(3.45)}rem;
				left: #{smaller(1.4)}rem;
			}

			&.g80-ultimate {
				width: #{smaller(93.5)}rem;
				top: #{smaller(5.3)}rem;
				left: -#{smaller(1.7)}rem;
			}

			&.g90 {
				width: #{smaller(102.9)}rem;
				top: #{smaller(3.15)}rem;
				left: #{smaller(.9)}rem;
			}

			&.g90l {
				width: #{smaller(97.3)}rem;
				top: #{smaller(5.3)}rem;
				left: #{smaller(0.3)}rem;
			}
		}

	}
	.color-select-interier {
		opacity: 0;
		position: absolute;
		left: -3000px;
		@include remD {
			left: -300rem;
		}
		.tablet & {
			left: -300rem;
		}
	}
}
.bottom-navigation {
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 0;
	right: 0;
	opacity: 0;
	//z-index: 2;
	&.show {
		.color-select {
			animation: slide-up 1.3s forwards;
		}
		.color-select-interier {
			opacity: 1;
		}
	}

	.table-group {
		display: table;
		width: 100%;
		> div {
			display: table-cell;

		}
		.mobile & {
			display: block;
			width: 100%;
			clear: both;
		}
	}

	&.opened {
		z-index: 22;
		.mCustomScrollBox {
			overflow: visible;
		}
		//.mCSB_container {
		//	position: absolute;
		//	bottom: 0;
		//}
		.scroll-block {
			height: auto !important;
			bottom: 0;
		}
		.select-options {
			.scroll-block > ul,
			.mCSB_container > ul {
				background-color: #f7f7f7;
			}
		}
	}
	.select-options {
		z-index: 2;
		position: relative;
		width: 48%;
		height: 0;
		background-color: #f7f7f7;
		min-height: 141px;

		.scroll-block {
			height: 141px;
			display: block !important;
			width: 100%;
			position: absolute;
			bottom: 0;
			@include remD {
				height: 14.1rem;
			}
			.tablet & {
				height: 14.1rem;
			}
			.mobile & {
				height: auto;
				margin-bottom: 0;
				position: relative;
			}
		}

		.mCSB_inside > .mCSB_container {
			margin-right: 0;
		}

		@include remD {
			height: 14.1rem;
			min-height: 14.1rem;
		}
		.tablet & {
			width: 44rem;
		}
		.mobile & {
			width: 100%;
			height: auto;
			background-color: transparent;
			display: block;
		}
		.scroll-block > ul,
		.mCSB_container > ul {
			background-color: #f7f7f7;
			transition: background 0.3s  ease;
			//position: absolute;
			//bottom: 0;
			padding:  8px 0;
			box-sizing: border-box;
			margin: 0;
			min-height: 141px;
			width: 100%;
			@include remD {
				padding:  .8rem 0;
				min-height: 14.1rem;
			}

			.tablet & {
				padding:  .8rem 0;
				min-height: 14.1rem;
			}
			.mobile & {
				padding:  0;
				min-height: 0;
			}
			> li {
				position: relative;
				list-style: none;
				width: 100%;
				min-height: 40px;
				padding: 10px 30px 10px 70px;
				box-sizing: border-box;

				border-top: 1px solid white;

				@include remD {
					min-height: 4rem;
					padding: 1rem 3rem 1rem 7rem;
				}
				.tablet & {
					min-height: 4rem;
					padding: 1rem 3rem 1rem 4.5rem;
				}
				.mobile & {
					min-height: 6rem;
					padding: 2rem 6rem 2rem 6.2rem;
				}
				&:first-child {
					border: 0;
					&:last-child {
						margin-top: 45px;
						@include remD {
							margin-top: 4.5rem;
						}
						.tablet & {
							margin-top: 4.5rem;
						}
						.mobile & {
							margin-top: 0;
						}
					}
				}

				ul {
					padding:20px 0 10px;

					@include remD {
						padding:2rem 0 1rem;
					}
					.tablet & {
						padding:2rem 0 1rem;
					}
					.mobile & {
						padding: 1rem 6rem 2rem;
					}
				}
				li {
					list-style: none;
					padding-left: 0;
					font-size: 14px;
					line-height: 1.2;
					color: #5c5c5c;
					margin-top: 8px;
					margin-bottom: 8px;

					@include remD {
						font-size: 1.4rem;
						margin-top: 0.8rem;
						margin-bottom: 0.8rem;
					}
					.tablet & {
						font-size: 1.4rem;
						margin-top: 0.8rem;
						margin-bottom: 0.8rem;
					}
					.mobile & {
						font-size: 1.4rem;
						margin-top: 0.8rem;
						margin-bottom: 0.8rem;
					}
				}
			}
		}
		.checkbox-dropdown {
			width: 100%;
			&.fade {
				display: none;
				+ .checkbox-dropdown-btn {
					transform: rotate(0);
				}
			}

			+ .checkbox-dropdown-btn {
				position: absolute;
				@include background('/svg/arrow.svg');
				left: 0;
				top: 0;
				background-size: 12px;
				background-position: 45px 50%;
				width: 100%;
				height: 41px;
				cursor: pointer;
				transform: rotate(0) scaleY(-1);

				.MSIE:not(.Edge) & {
					background-size: auto 7px;
					background-position: 7px 54%;
					@include remD {
						background-size: auto .7rem;
						background-position: -3.5rem 54%;

					}
					@media (max-height: 750px) and (min-width: 1280px) {
						background-position: -5rem 54%;
					}
					@media (min-height: 750px) and (min-width: 1280px) and (max-width: 1480px) {
						background-size: auto .7rem;
						background-position: -1rem 54%;
					}
				}

				@include remD {
					background-size: 1.2rem;
					background-position: 4.5rem;
					height: 4.1rem;
				}
				.tablet & {
					background-size: 1.2rem;
					background-position: 2rem;
					height: 4.1rem;
				}
				.mobile & {
					background-size: 1.2rem;
					background-position: 2rem;
					height: 6rem;
				}
			}

			.mobile & {
				position: relative;
				top: 2.1rem;
				z-index: 1;
				margin-left: -6.2rem;
				margin-right: -6rem;
				width: 64rem;
				background-color: white;
				box-sizing: border-box;
			}
		}
	}
	.price-info {
		height: 141px;
		background-color: $color-gray;
		padding: 29px 85px 0;
		box-sizing: border-box;
		vertical-align: top;
		@media (max-width: 1100px) {
			padding: 29px 35px 0;
		}
		@include remD {
			height: 14.1rem;
			padding: 2.9rem 8.5rem 0;
			@media (max-width: 1100px) {
				padding: 2.9rem 3.5rem 0;
			}
		}
		.tablet & {
			height: 14.1rem;
			padding: 2.4rem 3rem 0;
		}
		.mobile & {
			display: block;
			height: 13.8rem;
			width: 40.5rem;
			float: left;
			padding: 2.1rem 4.6rem 0;
		}
		.price {
			font-size: 16px;
			color: white;
			min-width: 245px;
			float: right;
			clear: both;
			display: table;

			@include remD {
				font-size: 1.6rem;
				min-width: 24.5rem;
			}
			.tablet & {
				font-size: 1.6rem;
				min-width: 24.5rem;
			}
			.mobile & {
				font-size: 1.6rem;
				min-width: 24.5rem;
			}
			> div {
				display: table-cell;
				&:last-child {
					text-align: right;
				}
			}
		}
		.month-pay {
			display: none;
			font-size: 14px;
			color: #484848;
			text-align: right;
			.mobile & {
				display: block;
				font-size: 1.4rem;
			}
		}
		.full-price {
			font-size: 18px;
			color: black;
			min-width: 255px;
			margin-top: 5px;
			float: right;
			clear: both;
			white-space: nowrap;
			text-align: right;

			@include remD {
				font-size: 1.8rem;
				min-width: 25.5rem;
				margin-top: .5rem;
			}
			.tablet & {
				font-size: 1.8rem;
				min-width: 25.5rem;
				margin-top: .5rem;
			}
			.mobile & {
				font-size: 1.8rem;
				min-width: 25.5rem;
				margin-top: .5rem;
				float: none;
				line-height: 1;
				&:after {
					content: '';
					display: table;
					clear: both;
				}
			}
			b {
				font-size: 26px;
				color: $color-heading;
				font-weight: 400;
				span[data-final-price] {
					min-width: 6em;
					display: inline-block;
				}

				@include remD {
					font-size: 2.6rem;
				}
				.tablet & {
					font-size: 2.6rem;
				}
				.mobile & {
					font-size: 2.6rem;
					span[data-final-price] {
						min-width: 5em;
					}
				}
			}
		}

	}
	.btn-group {
		width: 235px;
		min-width: 235px;

		@include remD {
			width: 23.5rem;
			min-width: 23.5rem;
		}
		.tablet & {
			width: 19.5rem;
			min-width: 19.5rem;
		}
		.mobile & {
			display: block;
			float: left;
			width: 23.5rem;
			min-width: 0;
		}

		.btn-flat {
			width: 100%;
			height: 70px;
			color: white;
			font-size: 14px;
			line-height: 1.4;
			text-transform: uppercase;
			padding: 0 30px;
			border: 0;
			cursor: pointer;
			outline: 0;
			transition: background .3s ease;

			@include remD {
				height: 7.0rem;
				font-size: 1.4rem;
				padding: 0 3.0rem;
			}
			.tablet & {
				height: 7.0rem;
				font-size: 1.4rem;
				padding: 0 1rem;
			}
			.mobile & {
				padding: 0 3rem;
			}
			display:inline-block;
			text-decoration:none;

			b {
				display: block;
				color: black;
				text-transform: none;
				font-size: 16px;

				@include remD {
					font-size: 1.6rem;
				}
				.tablet & {
					font-size: 1.6rem;
				}
			}
			&--gray {
				background-color: $color-dark-gray;
				.desktop &:hover {
					background-color: lighten($color-dark-gray, 10%);
				}

				.mobile & {
					display: none;
				}
			}
			&--brown {
				height: 71px;
				background-color: $color-heading;
				@include remD {
					height: 7.1rem;
				}
				.tablet & {
					height: 7.1rem;
				}
				.desktop &:hover {
					background-color: lighten($color-heading, 10%);
				}
				.mobile & {
					height: 13.8rem;
					width: 100%;
					background-color: $color-price;
					font-size: 1.4rem;
				}
			}
		}
	}

	.color-select {
		width: 100%;
		text-align: center;
		//margin-bottom: 50px;
		transform: translateY(0);
		opacity: 1;
		//transition: opacity .5s ease, transform .5s ease;
		//@include transition-delay(1.2s);

		//@include remD {
		margin-bottom: 3rem;
		//}
		ul {
			padding: 0;
			li {
				display: inline-block;
				width: 140px;

				@include remD {
					width: 12rem;
				}
				.tablet & {
					width: 12rem;
				}

				.mobile & {
					margin-bottom: 3px;
				}
				@media (max-width: 1200px) {
					width: 120px;

					@include remD {
						width: 12rem;
					}
					.tablet & {
						width: 12rem;
					}
				}
				.color-select-radio {
					position: absolute;
					left: -3000px;
					@include remD {
						left: -300rem;
					}
					.tablet & {
						left: -300rem;
					}
					+ label {
						font-family: $font-text;
						color: black;
						font-size: 16px;
						font-weight: 400;
						text-decoration: none;
						cursor: pointer;

						@include remD {
							font-size: 1.6rem;
						}
						.tablet & {
							font-size: 1.6rem;
						}
						.mobile & {
							font-size: 1.6rem;
						}
						.interior-open & {
							color: transparent !important;
						}
						.desktop &:hover {
							i:after {
								border-color: $color-heading;
							}
						}
						i {
							width: 40px;
							height: 40px;
							border-radius: 50%;
							display: block;
							margin: 0 auto 12px;
							position: relative;
							&:after {
								@include pseudo;
								width: 53px;
								height: 53px;
								@include align(true, true, absolute);
								border-radius: 50%;
								border: 1px solid transparent;
								transition: border-color 0.3s ease;
							}

							@include remD {
								width: 4.0rem;
								height: 4.0rem;
								margin: 0 auto 1.2rem;
								&:after {
									@include pseudo;
									width: 5.3rem;
									height: 5.3rem;
								}
							}
							.mobile &,
							.tablet & {
								width: 4.0rem;
								height: 4.0rem;
								margin: 0 auto 1.2rem;
								&:after {
									@include pseudo;
									width: 5.3rem;
									height: 5.3rem;
								}
							}
						}
					}

					&:checked {
						+ label {
							i:after {
								border-color: $color-heading;
							}
						}
					}
				}
			}
		}
	}

}

.ModalView360 {
  .car-360 {
	display: block;
	width: 100% !important;
	height: 100% !important;
	top:0;
	left:0;
	position:absolute;

	.threesixty_images {
	  width: 100%;
	  height: 100%;
	  overflow: hidden;
	  position: relative;

	  img {
		width: auto;
		height: auto;
		left: -9999px;
		right: -9999px;
		top: -9999px;
		bottom: -9999px;
		margin: auto;
		minWidth: 100%;
		minHeight: 100%;
	  }
	}
  }

  .bottom-navigation {
	background-color:rgba(255,255,255,.4);
	z-index:10 !important;

	.color-select {
	  margin-top:3rem;
	}
  }
}


@keyframes slide-up {
	0% {
		opacity: 0;
		transform: translateY(30px);
	}
	80% {
		opacity: 0;
		transform: translateY(30px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
.color-select-interier {
	background-color: rgba(255,255,255, .6);
	width: 100%;
	text-align: center;
	opacity: 0;
	transition: opacity .5s ease;
	ul {
		padding: 0;
		margin: 0 auto;
		width: auto;
		text-align: left;
		white-space: nowrap;
		display: inline-block;

		position: relative;
		&:before {
			content: '';
			position: relative;
			display: inline-block;
			width: 0;
			transition: width 0.5s ease;
			pointer-events: none;
		}
		.desktop &:hover:before {
			width: 320px;
			@include remD {
				width: 32rem;
			}
		}
		li {
			display: inline-block;
			.desktop &:hover {
				.show-on-hover {
					white-space: normal;
					width: 320px;

					@include remD {
						width: 32rem;
					}
					.tablet & {
						width: 32rem;
					}
				}
			}
		}
	}
	.color-interior-radio {
		position: absolute;
		left: -3000px;
		@include remD {
			left: -300rem;
		}
		.tablet & {
			left: -300rem;
		}
		+ label {
			font-family: $font-text;
			color: black;
			font-size: 16px;
			font-weight: 400;
			text-decoration: none;
			cursor: pointer;
			border: 1px solid transparent;
			width: 105px;
			height: 55px;
			margin: 14px 8px;
			position: relative;
			display: inline-block;
			vertical-align: middle;

			@include remD {
				font-size: 1.6rem;
				width: 10.5rem;
				height: 5.5rem;
				margin: 1.4rem .8rem;
			}
			.tablet & {
				font-size: 1.6rem;
				width: 10.5rem;
				height: 5.5rem;
				margin: 1.4rem .8rem;
			}
			.mobile & {
				font-size: 1.6rem;
				width: 10.5rem;
				height: 5.5rem;
				margin: 1.4rem .8rem;
			}
			&:after {
				@include pseudo();
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				opacity: 0;
				box-shadow: inset 0 0 0 5px white;
				transition: opacity 0.4s ease;
			}
			img {
				width: 100%;
				height: 100%;
				&.half {
					width: 50%;
				}
			}
		}
		&:checked {
			+ label {
				border-color: $color-heading;
				&:after {
					opacity: 1;
				}
			}
		}
	}
	.show-on-hover {
		display: inline-block;
		vertical-align: middle;
		transition: width 0.5s ease;
		width: 0;
		overflow: hidden;
		white-space: normal;
		span {
			text-align: left;
			padding-left: 10px;
			width: 320px;
			min-width: 320px;
			box-sizing: border-box;
			vertical-align: middle;
			display: table-cell;
			font-size: 14px;
			color: black;

			@include remD {
				padding-left: 1.0rem;
				width: 32.0rem;
				min-width: 32.0rem;
				font-size: 1.4rem;
			}
			.tablet & {
				padding-left: 1.0rem;
				width: 32.0rem;
				min-width: 32.0rem;
				font-size: 1.4rem;
			}
			.mobile & {
				padding: 0 2rem;
				width: 32.0rem;
				min-width: 32.0rem;
				font-size: 1.4rem;
			}
		}
	}
}
.checkbox-rect {
	position: absolute;
	left: -2000px;

	@include remD {
		left: -200rem;
	}
	.tablet & {
		left: -200rem;
	}

	+ label {
		cursor: pointer;
		position: relative;
		padding-right: 140px;
		width: 100%;
		display: block;
		box-sizing: border-box;
		font-family: $font-text;
		font-size: 16px;
		color: black;
		z-index: 1;
		pointer-events: none;

		@include remD {
			padding-right: 14.0rem;
			font-size: 1.6rem;
		}
		.tablet & {
			padding-right: 14.0rem;
			font-size: 1.6rem;
		}
		.mobile & {
			padding-right: 14.0rem;
			font-size: 1.8rem;
		}
		span {
			float: right;
			font-size: 18px;
			color: $color-heading;
			//margin-top: -2px;
			width: 120px;
			white-space: nowrap;
			position: absolute;
			right: 30px;
			top: 50%;
			transform: translateY(-50%);
			text-align: right;

			@include remD {
				font-size: 1.8rem;
				width: 12rem;
				right: 3rem;

			}
			.tablet & {
				font-size: 1.8rem;
				width: 12rem;
				right: 3rem;
			}
			.mobile & {
				font-size: 1.8rem;
				width: 12rem;
				right: 4rem;
			}
		}

		/*
		&::before {
			content: '';
			position: absolute;
			right: 0;
			top: 0;
			width: 18px;
			height: 18px;
			@include background('/svg/check-border.svg');

			@include remD {
				width: 1.8rem;
				height: 1.8rem;
			}

			.mobile & {
				width: 1.8rem;
				height: 1.8rem;
			}
		}


		&::after {

			content: '';
			position: absolute;
			right: 0;
			top: 0;
			width: 18px;
			height: 18px;
			@include background('/svg/check-active.svg');
			opacity: 0;
			z-index: -1;

			@include remD {
				right: 0;
				top: 0;
				width: 1.8rem;
				height: 1.8rem;
				border-width: 0.6rem;
			}

			.mobile & {
				right: 0;
				top: 0;
				display: block;
				width: 2.4rem;
				height: 2.4rem;
			}
		}*/

		&:before {
			@include pseudo();
			width: 18px;
			height: 18px;
			@include background('/svg/check-border.svg');
			box-sizing: border-box;
			right: 0;
			top: 50%;
			margin-top: -9px;
			pointer-events: all;

			@include remD {
				width: 1.8rem;
				height: 1.8rem;
				margin-top: -.9rem;
			}

			.tablet & {
				width: 1.8rem;
				height: 1.8rem;
				margin-top: -.9rem;
			}
			.mobile & {
				width: 2.7rem;
				height: 2.7rem;
				margin-top: -1.4rem;
			}
		}

		&:after {
			@include pseudo();
			width: 18px;
			height: 18px;
			@include background('/svg/check-active.svg');
			box-sizing: border-box;
			right: 0;
			top: 50%;
			margin-top: -9px;
			opacity: 0;
			pointer-events: all;

			@include remD {
				width: 1.8rem;
				height: 1.8rem;
				margin-top: -.9rem;
			}

			.tablet & {
				width: 1.8rem;
				height: 1.8rem;
				margin-top: -.9rem;
			}
			.mobile & {
				width: 2.7rem;
				height: 2.7rem;
				margin-top: -1.4rem;
			}
		}


		/*
		&:before {
			@include pseudo();
			width: 18px;
			height: 18px;
			border: 1px solid $color-gray;
			box-sizing: border-box;
			right: 0;
			top: 50%;
			margin-top: -9px;
			pointer-events: all;

			@include remD {
				width: 1.8rem;
				height: 1.8rem;
				margin-top: -.9rem;
			}

			.tablet & {
				width: 1.8rem;
				height: 1.8rem;
				margin-top: -.9rem;
			}
			.mobile & {
				width: 2.7rem;
				height: 2.7rem;
				margin-top: -1.4rem;
			}
		}
		&:after {
			@include pseudo();
			width: 6px;
			height: 6px;
			background-color: $color-heading;
			box-sizing: border-box;
			right: 6px;
			top: 50%;
			margin-top: -3px;
			opacity: 0;
			pointer-events: all;

			@include remD {
				width: .6rem;
				height: .6rem;
				right: .6rem;
				margin-top: -.3rem;
			}
			.tablet & {
				width: .6rem;
				height: .6rem;
				right: .6rem;
				margin-top: -.3rem;
			}
			.mobile & {
				width: 1.2rem;
				height: 1.2rem;
				right: 0.7rem;
				margin-top: -.65rem;
			}
		}*/

	}
	&:checked + label {
		&:after {
			opacity: 1;
		}
	}
}

// Mobile
.mobile {
	.exterior,
	.interior {
		min-width: 0;
		min-height: 0;
		//position: fixed;
		overflow: auto;
		top: 0!important;
		padding-top: 0;
		padding-bottom: 0;
		height: auto;
		margin-bottom: 0!important;

		&.container {
			padding-right: 0!important;
			padding-left: 0!important;
		}

		.container.top-position {
			display: flex;
		}

		&-wrapper {
			margin-top: 0;
			padding-top: 0;
		}
	}

	.exterior {

		.mobile-angle {
			display: block;
			font-size:0;
			position: absolute;
			width: 17.5rem;
			height: 18rem;
			top:0;
			right: 0;
			overflow: hidden;
			z-index: 1;
			&:after {
				content: '';
				display: block;
				position: absolute;
				width: 40rem;
				height: 40rem;
				transform: rotate(45deg);
				top: -29rem;
				right: -21rem;
			}
		}

		height: auto;

		&-wrapper {
			background-color: #fff;
		}

		.container.top-position {
			display: none;
		}

		.render {
			width: 100%;
			height:auto;
			padding-top: 56.25%;
			overflow: hidden;

			$width: 1280;

			.car-container {
				position:absolute;
				width: 100%;
				height:auto !important;
				left: 0;
				top:0;
				//margin: 0 5.4rem 0 7rem;
				//height: 33.6rem;
				//padding: 5.6rem 0;
				box-sizing: border-box;

				&.g70 {
					padding-top: 17.196875%;
					padding-bottom: 16.58125%;
					padding-left: percentage(160/$width);
					padding-right: 15.121875%;
					/*padding-top: percentage(215/$width);
					padding-bottom: percentage(202/$width);
					padding-left: percentage(160/$width);
					padding-right: percentage(159/$width);*/
				}
				&.g80 {
					padding-top: percentage(175/$width);
					padding-bottom: percentage(202/$width);
					padding-left: percentage(166/$width);
					padding-right: percentage(138/$width);
				}
				&.g80-ultimate {
					padding-top: 15.078125%;
					padding-bottom: 16.5625%;
					padding-left: 12.109375%;
					padding-right: 15.234375%;
				}
				&.g90 {
					padding-top: 13.4375%;
					padding-bottom: 16.015625%;
					padding-left: 10.46875%;
					padding-right: 9.140625%;
				}
				&.g90l {
					//margin:0;
					padding-top: 15.078125%;
					padding-bottom: 16.171875%;
					padding-left: 12.1875%;
					padding-right: 12.1093%;
				}
			}

			.exterior-360 {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
			}
		}

		.bottom-navigation {
			position: relative;
			margin-top:-14%;

			.color-select-interier {
				display: none;
			}
		}

		.color-select {
			ul {
				padding: 0 9%;
				li {
					width: 33.3333%;
					box-sizing: border-box;
					float: left;
					margin-bottom: 3rem;
				}
			}
		}

		.table-group {

			.select-options {
				min-height: 0;
				ul {
					position: relative;
				}
			}
		}
	}

	.interior {

		.mobile-angle {
			display: none;
		}

		.bottom-navigation {
			position: relative;

			.color-select-interier {
				display: none;
			}
		}

		.color-select {
			ul {
				padding: 0 9%;
				li {
					width: 33.3333%;
					box-sizing: border-box;
					float: left;
					margin-bottom: 34px;
				}
			}
		}

		.table-group {
			.select-options {
				min-height: 0;
				ul {
					position: relative;
				}
			}
		}

		.image {

			padding-top: 56%;
			height: auto;
			margin-top: 30.7rem;
			margin-bottom: 9.5rem;

			&.visible {
				position: relative;
			}
		}



		.bottom-navigation .color-select-interier {
			display: block;

			ul {
				white-space: normal;
				/*width: 100%;
				display: inline-block;
				padding-bottom: 4.8rem;*/


				display: flex;
				flex-wrap: wrap;


				li {
					width: 33.3333%;
					text-align:center;
					white-space: normal;

					&:nth-child(n+4) {
						clear: both;
					}

					&:hover {
						.show-on-hover  {
							width: auto;
							span {
								min-width: 0;
							}
						}
					}
				}
			}

			.show-on-hover {
				overflow: inherit;
				display: block;
				width: auto;
				margin-top: 0;
				line-height: 1.4;

				span {
					min-width: 0;
					text-align: center;
				}
			}
		}

		.mobile-dept {
			display: none;
		}

	}

	.animate-item {
		//display: none;
		//clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 526px, calc(100% - 177px)347px, 100% 347px, 100% 0);
	}

	//&-angle {
	//	position: absolute;
	//	right: 0;
	//	top: 306px;
	//	width: 178px;
	//	height: 200px;
	//	z-index: 2;
	//
	//	color: #804033;
	//	line-height: 140%;
	//
	//	font-family: "GenesisSansHead", sans-serif;
	//	font-size: 18px;
	//	text-align: right;
	//	padding: 17px 26px;
	//	box-sizing: border-box;
	//	overflow: hidden;
	//
	//	cursor: pointer;
	//
	//	display: none;
	//
	//	&::after {
	//		content: "";
	//		display: block;
	//		position: absolute;
	//
	//
	//		width: 401px;
	//		height: 255px;
	//
	//		right: -252px;
	//		top: -76px;
	//
	//
	//		pointer-events: all;
	//		-webkit-transform: rotate(46deg);
	//		-ms-transform: rotate(46deg);
	//		-o-transform: rotate(46deg);
	//		transform: rotate(46deg);
	//		z-index: 1;
	//		-webkit-transition: background-color .6s, -webkit-transform .6s;
	//		transition: background-color .6s, -webkit-transform .6s;
	//		-o-transition: background-color .6s, -o-transform .6s;
	//		transition: transform .6s, background-color .6s;
	//		transition: transform .6s, background-color .6s, -webkit-transform .6s, -o-transform .6s;
	//		background: url(../images/car/exterior.jpg) -29% 274% no-repeat;
	//		-webkit-background-size: 0 0;
	//		background-size: 0;
	//	}
	//
	//	span {
	//		position: relative;
	//		z-index: 12;
	//	}
	//}



	//.interior-open {
	//	.mobile-angle {
	//		&::after {
	//			background: white url(../images/car/exterior.jpg) 7% 263% no-repeat;
	//			-webkit-background-size: 50% 50%;
	//			background-size: 69%;
	//			-webkit-animation: show-bg-alt 1s ease forwards;
	//			-o-animation: show-bg-alt 1s ease forwards;
	//			animation: show-bg-alt 1s ease forwards;
	//
	//		}
	//		display: none;
	//	}
	//}


	//.start-animation.interior-open {
	//	.interior,
	//	.exterior {
	//
	//
	//		clip-path: polygon(0 0, 100% 0, 100% 0, 100% 0, 100% 0, 100% 100%, 0 100% );
	//
	//		animation-delay: 0s;
	//		animation: clip-path-none 1.5s forwards ease;
	//	}
	//}
	//
	//
	//.start-animation {
	//	.interior,
	//	.exterior {
	//
	//
	//		clip-path: polygon(0 0, 100% 0, 100% 0, 100% 0, 100% 0, 100% 100%, 0 100% );
	//
	//		animation-delay: 0s;
	//		animation: clip-path-none 1.5s forwards ease;
	//	}
	//}




	//@keyframes show-bg-alt {
	//	0% {
	//		background-position: -64% 404%;
	//	}
	//	50% {
	//		background-position: -64% 404%;
	//	}
	//	100% {
	//		background-position: 7% 263%;
	//	}
	//
	//}

	.mobile-angle {
		display: none;
	}

	.exterior-360 {
		height: 36rem;
		margin-bottom: -33rem;
	}

	.threesixty_images {
		margin: 0;
		position: relative;
		width: auto;
	}

	/*.threesixty.car-360 {
		transform: scale(1.06);
	}*/

	.mobile-header {
		margin-top: 10rem;
	}

	.interior .image {
		margin-top: 24.4rem;

	}

	.exterior {
		margin-top: 24.3rem;
	}

}
.mobile-angle {
	display: none;
}

.tablet {
	.render {
		margin-top: 0;
	}
}

@keyframes show-bg-mob {
	0% {
		background-position: -3% 187% ;
	}
	50% {
		background-position: -3% 187% ;
	}
	100% {
		background-position: 13% 151%;
	}

}

@keyframes clip-path-mob {
	0% {
		clip-path: polygon(0 0, 100% 0, 100% 305px, calc(100% - 175px) 305px, 100% 486px, 100% 100%, 0 100% );
	}
	100% {
		clip-path: polygon(0 0, 100% 0, 100% 305px, calc(100% - 1475px) 305px, 100% 1886px, 100% 100%, 0 100%);
	}

}

@keyframes clip-path-mob-alt {
	0% {
		clip-path: polygon(100% 0, 100% 0, 100% 307px, 100% 307px, 100% 307px, 100% 307px, 100% 305px );
	}
	100% {
		clip-path: polygon(calc(100% - 1475px) 0, 100% 0, 100% 305px, calc(100% - 175px) 305px, 100% 486px, 100% 1786px, calc(100% - 1475px) 305px );
	}
}

@keyframes clip-path-none {
	0% {
		clip-path: polygon(0 0, 100% 0, 100% 0, 100% 0, 100% 0, 100% 100%, 0 100% );
	}
	50% {
		clip-path: polygon(0 0, 100% 0, 100% 0, 100% 0, 100% 0, 100% 100%, 0 100% );
	}
	100% {
		clip-path: polygon(0 0, 100% 0, 100% 0, 100% 0, 100% 0, 100% 100%, 0 100% );
	}
}


.color-slide {

	width: 64rem;
	height: 36rem;
	float: left;




	&r {
		position: absolute;
		top: 24.5rem;
		width: 100%;
		height: 36rem;

		//.owl-item {
		//	//position: absolute;
		//	//top: 0;
		//	float: left;
		//}

		.owl-stage {
			pointer-events: none;
		}

		.owl-dot {
			&s {
				display: inline-block;
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
				bottom: -5rem;
				pointer-event: none;
			}
			  &:first-child {
				//float: right;
			  }
			margin: 0 !important;
			cursor: pointer;
			display: block;
			height: 1.6rem;
			width: 1.6rem;
			position: relative;
			padding: .9rem .9rem;
			float: left;

			&::before {
				content: '';
				height: 1.0rem;
				width: 1.0rem;
				border-radius: 50%;
				background-color: #c2c2c2;

				position: absolute;
				top: 1.2rem;
				left: 1.2rem;

				@include animated(.2s);
			}

			&.active {
				&::before {
					background-color: #5d5d5d;
				}
			}
		}
	}
}
