@mixin delay ($variable) {
	-webkit-transition-delay: $variable;
	transition-delay: $variable;
}

@mixin animated ($variable) {
	-webkit-transition: all $variable ease-out;
	transition: all $variable ease-out;
}

body {
	@include remD {
		font-size: 1.5rem;
	}
	.tablet & {
		font-size: 1.4rem;
	}
	.mobile & {
		font-size: 1.4rem;
	}
}
.container {
	@include remD {
		width: 121rem;
		max-width: 121rem;
	}
	.desktop & {
		min-width: 1024px;
	}
	.tablet & {
		width:      100%;
		max-width:  100%;
		padding-left: 3rem;
		padding-right: 3rem;
	}
	.mobile & {
		width:      100%;
		max-width:  100%;
		padding-left: 6.4rem;
		padding-right: 6.4rem;
	}
}
.model-items.owl-carousel {
	display: block;
}
.mobile,
.tablet {
	.model-items.owl-carousel .owl-stage-outer {
		overflow: visible;
	}
}

.tablet:not(.landscape) .model-items .owl-item .item {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.model-items {
	z-index: 1;
	&:after {
		content: '';
		display: table;
		clear: both;
	}
	.tablet.landscape & {
		min-height: 52rem;
		//padding-bottom: 6rem;
		.item,
		.owl-item,
		.owl-stage-outer {
			min-height: 52rem;
		}
	}
	.tablet.landscape-wide & {
		//height: calc(100vh - 24rem);.
		//padding-bottom: 6rem;
	}
	.tablet & {
		//height: calc(100vh - 24rem);
		padding-bottom: 6rem;
		.item {
			min-height: 52rem;
		}
		.owl-dot {
			&s {
				display: inline-block;
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
				bottom: -1rem;
			}
			margin: 0 !important;
			cursor: pointer;
			display: block;
			height: 16px;
			width: 16px;
			position: relative;
			padding: 9px 9px;
			float: left;

			&::before {
				content: '';
				height: 10px;
				width: 10px;
				border-radius: 50%;
				background-color: #c2c2c2;

				position: absolute;
				top: 12px;
				left: 12px;
			}

			//&:hover,
			&.active {
				&::before {
					background-color: #5d5d5d;
				}
			}
		}

		.owl-item {
			margin-left: -5px;
			.item > * {
				transition: opacity .4s ease-out;
				&:not(.image) {
					opacity: 0;
					&.center {
						opacity: 1;
					}
				}
			}

			&.center .item > *:not(.image) {
				opacity: 1;
			}
		}

	}
	.mobile & {
		.owl-item {
			.item > * {
				transition: opacity .4s ease-out;
				&:not(.image) {
					opacity: 0;
					&.center {
						opacity: 1;
					}
				}
			}

			&.center .item > *:not(.image) {
				opacity: 1;
			}
		}

		.owl-stage {
			white-space: nowrap;
			.owl-item {
				white-space: normal;
			}
		}
	}
	.item {
		cursor:pointer;
		float:left;
		width:25%;
		padding:70px 35px 20px;
		/*height: calc(100vh - 255px);*/
		min-height: 410px;
		position: relative;
		z-index: 1;

		@media (min-height: 900px) {
			/*height: calc(100vh - 325px);*/
		}

		@media (max-height: 800px) {
			padding-top: 20px;
			min-height: 415px;
			/*height: calc(100vh - 215px);*/
		}

		//@media (max-height: 650px) {
		//	min-height: 435px;
		//	height: calc(100vh - 255px);
		//}
		@include remD {

			padding: 2rem 3.5rem 2rem;
			height: calc(100vh - 30.1rem);
			min-height: 43rem;
		}
		.mobile & {
			//position: absolute;
			padding: (70rem/10) 0 (110rem/10);
			width: 100%;
			height: auto;

			&:hover {
				&:before {
					background-color: transparent;
				}

				.image {
					transform: scale(1);
				}
			}
		}

		.tablet.landscape-wide & {
			width: 70rem;
			//width: 61rem;
			margin: 0;
			height: 45rem;
			min-height: 45rem;
			//height: calc(100vh - 24rem);
		}
		//.tablet.landscape & {
		//	height: 35rem;
		//	min-height: 35rem;
		//}
		.tablet.landscape & {
			width: 57rem;
			margin: 0;
			padding: 0 10.5rem 0;
		}
		.tablet & {
			width: 65rem;
			margin: 20rem 0 10rem;
			//height: calc(100vh - 20rem);
			//height: 45rem;
			//min-height: 38.5rem;
			padding: 0 5rem 0;
		}

		.tablet & {
			&:hover {
				&:before {
					background-color: transparent;
				}

				.image {
					transform: scale(1);
				}
			}
		}
		@include border-box;

        html.desktop & {
			.image {
				transform: scale(1.01);
				/*margin-left: -.8rem;
				margin-right: -.8rem;

				.animated-car {
					@include transition(all .5s ease);
					background-size: 96%;
					background-position: 50%;
				}*/
			}

			&:hover {
				&:before {
					background-color: $color-light-gray;
				}

				.image {
					/*.animated-car {
						background-size: 100%;
					}*/
					transform: scale(1.05);
				}
			}
		}
		&:before {
            html.desktop & {
                @include pseudo();
                background-color: $color-bg;
                left: 0;
                top: 0;
                bottom: 0;
                right: 0;
                z-index: -1;
                @include transition(background-color .4s ease);
            }
		}
		&:first-child {
			html.desktop &:before {
				left: -4000px;
				top: 0;
				bottom: 0;
				right: 0;
				z-index: -1;
				@include remD {
					left: -400rem;
				}
			}
		}
		&:last-child {
			html.desktop &:before {
				left: 0;
				top: 0;
				bottom: 0;
				right: -4000px;
				z-index: -1;
				@include remD {
					right: -400rem;
				}
			}
		}

		.image {
			padding-top: 50px;
			padding-bottom: 60px;
			@media (max-height: 900px) {
				padding-top: 20px;
				padding-bottom: 30px;
				@include remD {
					padding-top: 2rem;
					padding-bottom: 3rem;
				}
			}
			@include remD {
				padding-top: 5rem;
				padding-bottom: 6rem;
			}
			.tablet & {
				padding-top: 3rem;
				padding-bottom: 6rem;
			}
			.tablet.landscape-wide & {
				padding-top: 2rem;
				padding-bottom: 4rem;
				.g80-preview {
					top: 0.5rem;
					position: relative;
				}
				.g90l-preview {
					top: 2.5rem;
					position: relative;
				}
			}
			@include transition(transform .4s ease);
		}

		.mobile & {
			.image {
				padding-top: 5rem;
				padding-bottom: 6rem;
				@media (max-height: 900px) {
					padding-top: 2rem;
					padding-bottom: 3rem;
				}
			}
		}

		h3 {
			font-size: 38px;
			font-family: $font-head;
			font-weight: 100;
			color: $color-text;
			margin-bottom: 18px;
			margin-top: 0;
			@include remD {
				font-size: 3.8rem;
				margin-bottom: 1.8rem;
			}
			.tablet & {
				font-size: 4.8rem;
				line-height: 1;
				margin-bottom: 1.8rem;
			}


			.mobile & {
				font-size: 3.8rem;
				margin-bottom: 1.8rem;
			}
		}
		.price {
			font-family: $font-text;
			font-size: 18px;
			color: $color-price;
			margin-bottom: 26px;
			@include remD {
				font-size: 1.8rem;
				margin-bottom: 2.6rem;
			}
			.tablet & {
				font-size: 2rem;
				margin-bottom: 2.6rem;
			}
			.tablet.landscape-wide & {
				font-size: 2rem;
				margin-bottom: 1rem;
			}
			.mobile & {
				font-size: 1.8rem;
				margin-bottom: 2.6rem;
			}
		}
		p {
			font-family: $font-text;
			color: $color-text;
			font-size: 14px;
			line-height: 20px;
			@include remD {
				font-size: 1.4rem;
				line-height: 2rem;
			}
			.tablet & {
				font-size: 1.7rem;
				line-height: 2.5rem;
			}
			.mobile & {
				font-size: 1.4rem;
				line-height: 2.0rem;
			}
		}
		.props {
			padding: 0;
			margin-top: 35px;
			margin-bottom: 0;
			display: table;
			max-width: 100%;
			@media (max-height: 700px) {
				margin-top: 15px;
			}
			@include remD {
				margin-top: 3.5rem;
			}
			.tablet & {
				margin-top: 3.5rem;
			}
			.tablet.landscape-wide & {
				margin-top: 1rem;
			}
			li {
				display: table-cell;
				padding-right: 15px;
				padding-left: 15px;
				position: relative;
				&:after {
					@include pseudo();
					width: 0;
					top: 3px;
					bottom: 3px;
					right: 0;
					border-right: 1px solid $color-gray;
				}
				&:first-child {
					padding-left: 0;
				}
				&:last-child:after {
					content: none;
				}

				b {
					font-family: $font-text;
					font-weight: 400;
					font-size: 14px;
					line-height: 20px;
					color: $color-text;
				}
				span {
					font-family: $font-text;
					font-weight: 400;
					font-size: 16px;
					line-height: 20px;
					color: $color-heading;
				}
				@include remD {
					padding-right: 1.5rem;
					padding-left: 1.5rem;
					&:after {
						top: .3rem;
						bottom: .3rem;
					}
					b {
						font-size: 1.4rem;
						line-height: 2.0rem;
					}
					span {
						font-size: 1.6rem;
						line-height: 2.0rem;
					}
				}
				.tablet & {
					padding-right: 1.5rem;
					padding-left: 1.5rem;
					&:first-child {
						padding-left: 0;
					}
					&:after {
						top: .3rem;
						bottom: .3rem;
					}
					b {
						font-size: 1.7rem;
						line-height: 2.5rem;
					}
					span {
						font-size: 1.8rem;
						line-height: 2.5rem;
					}
				}
			}
		}


		.mobile & {
			.props {
				margin-top: 3.5rem;

				li {
					padding-right: 1.5rem;
					padding-left: 1.5rem;
					&:after {
						@include pseudo();
						top: .3rem;
						bottom: .3rem;
					}

					b {
						font-size: 1.4rem;
						line-height: 2.0rem;
					}
				}
			}
		}

	}

	// [mobile]
	.mobile & {

		// [item]
		.item {
			width: 43.5rem;
			padding-left: 4.4rem;
			padding-right: 4rem;
			box-sizing: border-box;

			.image {
				padding-bottom: 7rem;
			}

			h3 {
				font-size: 4rem;
				margin-bottom: 1.4rem;
			}

			.price {
				font-size: 2rem;
				font-weight: 500;
				margin-bottom: 2.1rem;
			}

			p {
				font-size: 1.6rem;
				line-height: 1.34;
				letter-spacing: -.006rem;
			}

			.props {
				margin-top: 2.2rem;

				li {
					line-height: 1.3;
					padding-left: 1.3rem;
					padding-right: 2.4rem;

					&:first-child {
						padding-right: 1rem;
						padding-left: 0;
					}

					&:last-child {
						padding-right: 0;
						padding-left: 2rem;
						&:after {
							content: none;
						}
					}
				}

				b {
					font-size: 1.6rem;
				}

				span {
					font-size: 1.6rem;
				}
			}
		}

		// [Slider]
		.ms {

			&-bullets {
				bottom: .8rem;

				&-count {
					position: relative;
					width: 25rem;
				}
			}

		}
	}
}



.mobile {
	.layout {
		margin-bottom: 25.5rem;
	}

	.model-items__wrap {
		margin-left: -11.5rem;
		margin-right: -11.5rem;
		margin-bottom: 0;

		//.owl-item.cloned:last-child {
		//	margin-left: -1rem;
		//}
		.animated-car {
			&.g90 {
				margin-top:.7rem;
			}
			&.g90l-preview {
				// margin-top:.7rem;
			}
			.wheel-front,
			.wheel-rear,
			.support-front,
			.support-rear {
				display:none;
			}
		}



		.owl-dot {
			&s{
				display: inline-block;
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
				bottom: -4.5px;
			}
			margin: 0!important;
			cursor: pointer;
			display: block;
			height: 1.6rem;
			width: 1.6rem;
			position: relative;
			padding: .9rem .9rem;
			float: left;
			background: transparent;
			border: none;

			&::before {
				content: '';
				height: 1.0rem;
				width: 1.0rem;
				border-radius: 50%;
				background-color: #c2c2c2;

				position: absolute;
				top: 1.2rem;
				left: 1.2rem;

				@include animated(.2s);
			}

			&:hover,
			&.active {
				&::before {
					background-color: #5d5d5d;
				}
			}
		}
	}

	.model-items.owl-carousel {
		width: auto;
		max-height: 60rem;
		overflow: hidden;
		//margin: auto -8rem;
	}
}

.container--wide {
	width: 100%;
	max-width: 100%;
	overflow: hidden;
	.desktop & {
		@media (max-height: 800px) and (max-width: 1280px) {
			padding-top: 0;
		}
		@media (max-height: 800px) {
			padding-top: 0;
		}
	}

	@media (max-width: 1280px) {
		padding-left: 0;
		padding-right: 0;
	}
	.tablet & {
		//height: calc(100vh - 20rem);
		margin-top: -3rem;
	}
	.tablet.landscape & {
		//height: calc(100vh - 24rem);
	}
	.mobile & {
		padding-left: 0;
		padding-right: 0;
		max-height: 66rem;
	}
	.model-items__wrap {
		margin-left: -35px;
		margin-right: -35px;

		@include remD {
			margin-left: -3.5rem;
			margin-right: -3.5rem;
		}
		.animated-car {
			&.g90 {
				margin-top:7px;
				@include remD {
					margin-top:.7rem;
				}
			}
			&.g90l-preview {
				margin-top:9px;
				@include remD {
					// margin-top:.9rem;
				}
			}

			.wheel-front,
			.wheel-rear,
			.support-front,
			.support-rear {
				display:none;
			}
		}
	}
}

.container .title {
	font-family: $font-head;
	font-weight: 100;
	font-size: 45px;
	color: $color-heading;
	padding-top: 50px;
	margin-top: 0;
	margin-bottom: 40px;
	text-transform: uppercase;
	line-height: 1;
	@media (max-height: 800px) {
		top: 20px;
		position: relative;
	}
	@media (min-height: 900px) {
		padding-top: 85px;
		margin-bottom: 75px;
	}

	.mobile & {
		//padding-top: 100px;
		width: 100%;
		font-size: 4.5rem;
		padding-top: 6rem;
		margin-bottom: 3.1rem;
	}

	+ h3 {
		margin-top: -62px;
		font-size: 20px;
		font-family: $font-text;
		color: black;
		position: relative;
		font-weight: 400;
		margin-bottom: 0;
		@media (max-height: 900px) {
			margin-top: -32px;
		}
		@media (max-height: 800px) {
			top: 20px;
		}
	}

	@include remD {
		padding-top: 18.9rem;
		margin-bottom: 4.5rem;
		margin-top: -80px;
		font-size: 4.5rem;
		+ h3 {
			margin-top: -4.2rem;
			font-size: 2.0rem;
			@media (max-height: 900px) {
				margin-top: -3.2rem;
			}
		}
	}
	.tablet & {
		padding-top: 15rem;
		margin-bottom: 4.5rem;
		margin-top: -70px;
		top: 0;
		font-size: 4.5rem;
		+ h3 {
			margin-top: -4.2rem;
			font-size: 2.0rem;
			@media (max-height: 900px) {
				margin-top: -6.2rem;
				margin-bottom: -1rem;
			}
		}
	}
}
.model-items [data-model-id="g90l"] h3 {
	margin-top: -10px;
}
