$header-height: 80px;
$header-height-mobile: 100px;

$color-bg: white;
$color-text: black;
$color-heading: #804033;
$color-light-gray: #f7f7f7;
$color-gray: #c2c2c2;
$color-price: #888888;
$color-dark-gray: #8a8e95;

$font-head: 'GenesisSansHead', sans-serif;
$font-text: 'GenesisSansText', sans-serif;
$font-rub: 'PTRub', sans-serif;

$imgPath : "../images";




$mobileCoef: 10;
