<?php

$params = require("../config/params-dealer.php");

$to = 'Info@hyundai-vm.ru';

$defaults = ['model'=>'','salutation'=>'','name'=>'','surname'=>'','phone'=>'','email'=>''];

$post = array_merge($defaults, $_REQUEST);

$subject = "Genesis Test Drive Request";
//$from = "Content-type: text/html; charset=utf-8\r\nFrom: " . $post['email'];
$from = "Content-type: text/html; charset=utf-8\r\nFrom: " . 'info@genesis-vm.ru';

$currentDate = date('Y-m-d, g:i a');
$message = $currentDate . "<br/>";
$message .= "<br/>Модель: " . $post['model'];
if(!empty($post['salutation'])){
    $message .= "<br/>Обращение: " . $post['salutation'];
}
$message .= "<br/>Имя: " . $post['name'];
$message .= "<br/>Фамилия: " . $post['surname'];
$message .= "<br/>Телефон: " . $post['phone'];
$message .= "<br/>E-Mail: " . $post['email'];

//echo "<pre>".var_export($to, true)."</pre>";
//echo "<pre>".var_export($subject, true)."</pre>";
//echo "<pre>".var_export($message, true)."</pre>";
//echo "<pre>".var_export($from, true)."</pre>";

if( mail($to, $subject, $message, $from) )
    $result = 'Y';
else
    $result = 'N';

echo $result;

//print_r($_POST);
?>