/*
*	Genesis Finance Spring/Summer 2017
*	(c) 2017, S6 Studio
*/

$padding: 30px;
$layout-padding: 60px;
$brown: #804033;
@mixin clearfix {
  &::after {
	clear: both;
	content: '';
	display: table;
  }
}
@mixin head-font {
	font-family: 'GenesisSansHeadKROTFLight';
	text-transform: uppercase;
}
@mixin font-crisp {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

}
@mixin layout {
	box-sizing: border-box;
	padding-left: $layout-padding;
	padding-right: $layout-padding;
	@media (min-width: 1024px) {
		$layout-padding: 5.625%;
		padding-left: $layout-padding;
		padding-right: $layout-padding;
	}
}
.header__brand .button .button__text a {
	color: #fff;
}
a {
    cursor: pointer !important;
}
.layout__footer {
	margin-top: 0;
}
.finance {}
.breed-screen {
	background: #000 url('../images/finance/logo-md.png') no-repeat center top / 100% auto;
	padding: 0 $padding;
	$menuHeight: 60px;
	box-sizing: border-box;
	height: 100vh;
	height: calc(100vh - #{$menuHeight});
	min-height: 560px;
	margin-top: $menuHeight;
	@media (min-width: 641px) {
		min-height: 730px;
	}
	@media (min-width: 961px) {
		background: #000 url('../images/finance/logo-lg.png') no-repeat left top / 100% auto;
	}
	@media (min-width: 769px) {
		$menuHeight: 100px;
		height: calc(100vh - #{$menuHeight});
		min-height: 780px;
		margin-top: $menuHeight;
	}
	@media (min-width: 1024px) {
		$padding: 1.875%;
		$menuHeight: 80px;
		height: calc(100vh - #{$menuHeight});
		padding: 0 $padding;
		min-height: 768px;
		margin-top: 0;
	}
	@media (min-width: 1181px) {
		min-height: 640px;
	}
}
.breed-screen-content {
	border: 2px solid $brown;
	border-bottom: none;
	height: 100%;
	position: relative;
	box-sizing: border-box;
}
.breed-screen-items {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: space-between;
	position: absolute;
	height: auto;
	max-width: 100%;
	left: 0;
	right: 0;
	box-sizing: border-box;
	top: 29%;
	padding: 0 $padding;
	bottom: 60px;
	
	@media (min-width: 641px) {
		padding: 0 60px;
	}
	
	@media (min-width: 961px) {
		align-items: flex-end;
		flex-basis: 40%;
		flex-wrap: nowrap;
		top: 17.5%;
		bottom: 19%;
	}
	@media (min-width: 1024px) {
		padding: 0 6.75% 0 3.896%;
	}
}
.breed-screen-item {
	flex: 1;
	position: relative;
	&.breed-screen-item--main {
		flex-basis: 100%;
		margin-bottom: 25px;
		@media (min-width: 641px) {
		}
		@media (min-width: 961px) {
			margin-bottom: 0;
			flex-basis: 42%;
		}
	}
	&.breed-screen-item--cat {
		flex-basis: 50%;
		height: 52%;
		@media (min-width: 641px) {
			height: 59.5%;
		}
		@media (min-width: 961px) {
			flex-basis: 29%;
			height: 100%;
		}
	}
}
.breed-screen-link {
	display: block;
	height: 100%;
	position: relative;
	text-decoration: none;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: transparent;
	background-attachment: scroll;
	&[href="#finance-credit"] {
		background-image: url('../images/finance/img-1.jpg');
	}
	&[href="#finance-leasing"] {
		background-image: url('../images/finance/img-2.jpg');
	}
	transition: color .25s ease-in-out 0s;
	color: #fff;
	&.is-current,
	&:hover, &:active, &:focus {
		color: $brown;
	}
	&:hover .breed-screen-link-cont sup {
		opacity: 1;
		transform: scale(1);
		transition: opacity .25s cubic-bezier(0,.72,.48,.66) 0s, transform .25s cubic-bezier(.17,.84,.44,1) 0s;
	}
}
.breed-screen-link-cont {
	position: absolute;
	color: inherit;
	bottom: 8.5%;
	@include head-font;
	transform: translate(-50%,0);
	left: 50%;
	@media (min-width: 641px) {
		left: 16.25%;
		right: 12%;
		transform: none;
	}
	sup {
		@media (max-width: 1024px) {
			display: none;
		}
		font-size: 0;
		border-radius: 50%;
		background: #5d2f26;
		width: 32px;
		height: 32px;
		position: absolute;
		right: 0;
		top: 8px;
		transform: translate3d(0,0,0);
		backface-visibility: hidden;
		transition: opacity .25s cubic-bezier(0,.72,.48,.66) 0s, transform .25s cubic-bezier(.17,.84,.44,1) 0s;
		opacity: 0;
		transform: scale(.75);
		&::after {
			content: '';
			border: 0 solid #fff;
			border-width: 0 0 1px 1px;
			width: 10px;
			height: 10px;
			position: absolute;
			transform: rotate(-45deg);
			transform-origin: 2px 5px;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			margin: auto;
		}
	}
	strong {
		@include font-crisp;
		display: inline-block;
		font-family: inherit;
		color: inherit;
		font-size: 48px;
		line-height: 1;
		font-weight: 200;
		text-transform: uppercase;
		border-bottom: 1px solid currentcolor;
		padding-bottom: 5px;
	}
}
.breed-screen-heading {
	@include font-crisp;
	color: #fff;
	font-size: 19px;
	line-height: 1.6;
	margin-bottom: -.45em;
	display: block;
	@media (min-width: 641px) {
		max-width: 350px;
	}
	@media (min-width: 961px) {
		padding-right: 50px;
	}
}
.breed-screen-header {
	@include head-font;
	font-size: 60px;
	line-height: .8;
	font-weight: 200;
	color: $brown;
	display: block;
	max-width: 300px;
	margin-bottom: .2em;
	@media (min-width: 641px) {
		font-size: 80px;
	}
	@media (min-width: 961px) {
		margin-bottom: .4em;
		font-size: 100px;
	}
}

.finance-x-cont {
	&:not(.is-current) {
		display: none;
	}
}

.finance-details {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	&.finance-details--leasing {
		.finance-details-left {
			padding-bottom: 65px;
			@media (min-width: 1181px) {
				padding-bottom: 197px;
			}
		}
		.finance-details-item {
			@media (min-width: 681px) {
				flex: 1;
				white-space: nowrap;
			}
			@media (min-width: 681px) and (max-width: 1180px) {
				&:nth-of-type(2) {
					padding-left: 30px;
					box-sizing: border-box;
				}
			}
			@media (min-width: 1181px) {
				&:nth-of-type(2) > * {
				    padding-left: 15.5%;
				    box-sizing: border-box;
				}
			}
		}
	}
	&.finance-details--3 {
		.finance-details-left {
			padding-bottom: 65px;
			@media (min-width: 1181px) {
				padding-bottom: 197px;
			}
		}
	}
	@media (min-width: 1181px) {
		flex-wrap: nowrap;
	}
	@for $i from 1 to 4 {
		&.finance-details--#{$i} {
			.finance-details-right {
				background-image: url('../images/finance/details-bg-#{$i}.jpg');
			}
		}
	}
}
.rouble-svg {
	fill: currentcolor;
	width: 0.5em;
	height: 0.6em;
	display: inline-block;
	vertical-align: baseline;
	margin-bottom: -2px;
}
.finance-details-left {
	background: #f0f0f0;
	@include layout;
	
	@include font-crisp;
	padding-top: 65px;
	padding-bottom: 70px;
	flex: 1 1 100%;
	display: flex;
	align-items: flex-start;
	flex-flow: row wrap;
	@media (min-width: 681px) {
		flex-flow: row nowrap;
	}
	@media (min-width: 1181px) {
		display: block;
		flex: 1 1 33.333%;
		padding-top: 85px;
		padding-bottom: 55px;
	}
	@media (min-width: 1281px) {
		padding-right: 8.375%;
		padding-top: 165px;
		padding-bottom: 85px;
	}
}
.finance-details-info {
	box-sizing: border-box;
	padding-right: $layout-padding;
	@media (min-width: 681px) {
		flex: 1 1 50%;
		padding-right: 20px;
	}
	@media (min-width: 1181px) {
		padding-right: 0;
	}
}
.finance-title {
	color: $brown;
	font-size: 35px;
	@include head-font;
	@include font-crisp;
	font-weight: 400;
	display: block;
	line-height: 1;
	margin-bottom: 1.2em;
	margin-top: -0.15em;
	max-width: 50%;
	@media (min-width: 1023px) {
		max-width: none;
	}
	.spot {
		display: block;
		color: inherit;
		font-weight: inherit;
		font-size: .685em;
		text-transform: inherit;
		font-family: inherit;
		line-height: 1;
		margin-top: 7px;
		white-space: nowrap;
	}
}
.finance-details-description {
	display: block;
	color: #1f1f1f;
	font-size: 16px;
	line-height: 1.6;
}
.finance-details-images {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin-top: 75px;
	@media (min-width: 681px) {
		margin-top: 0;
		display: block;
		flex: 1 1 50%;
	}
	@media (min-width: 1181px) {
		margin-top: 55px;
	}
}
.finance-details-image {
	display: block;
	@media (min-width: 681px) {
		max-width: 180px;
		flex: 1 1 100%;
		margin-left: auto;
	}
	@media (min-width: 1181px) {
		max-width: none;
		margin-left: 0;
	}
	& + & {
		@media (min-width: 681px) {
			margin-top: 55px;
		}
		@media (min-width: 1181px) {
			margin-top: 35px;
		}
	}
}
.finance-details-img {
	max-width: 100%;
	display: block;
}
.finance-details-right {
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 12.5%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: transparent;
	background-attachment: scroll;
	background-color: #000;
	
	padding: 90px $layout-padding 20px;
	flex: 1;
	flex-wrap: wrap;
	
	@include layout;
	
	@media (min-width: 681px) {
		padding: 175px $layout-padding 165px;
		flex-wrap: nowrap;
	}
	@media (min-width: 1181px) {
		padding:  0 8.375%;
		flex: 1 1 66.666%;
	}
}
.finance-details-item {
	text-transform: uppercase;
	font-size: 16px;
	@include font-crisp;
	flex: 1 1 100%;
	margin-bottom: 70px;
	@media (min-width: 681px) {
		margin-bottom: 0;
		flex: initial;
	}
	@media (min-width: 1181px) {
		font-size: 18px;
	}
	@at-root .finance-details--1 & {
		&:nth-of-type(2) {
			@media (min-width: 1181px) and (max-width: 1280px) {
				width: 25%;
			}
		}
	}
}
.finance-details-item-name {
	font: inherit;
	color: $brown;
	display: block;
	overflow: visible;
	white-space: nowrap;
	max-width: none;
	margin-bottom: 2em;
	@media (min-width: 681px) {
		margin-bottom: 2.5em;
	}
	@at-root .finance-details--1 & {
		@media (min-width: 681px) and (max-width: 768px), (min-width: 1181px) and (max-width: 1350px) {
			white-space: normal;
			max-width: 100px;
		}
	}
}
.finance-details-item-value {
	color: #fff;
	@include head-font;
	font-weight: 400;
	font-size: 46px;
	display: block;
	sup,
	span,
	strong, {
		color: #9c9c9c;
		font-size: 18px;
		font-weight: inherit;
	}
}
.star-sup {
	text-transform: none;
	vertical-align: top;
	margin-top: -.5em;
	display: inline-block;
}

.finance-profits {
	@include layout;
	padding-top: 55px;
	@media (min-width: 1024px) {
		padding-top: 70px;
	}
	.finance-title {
		@media (max-width: 960px) {
			margin-bottom: 0;
		}
		@media (max-width: 480px) {
			margin-bottom: 30px;
		}
	}
}
.finance-profits-items {
	display: flex;
	margin-top: 0;
	flex-wrap: wrap;
	@media (min-width: 681px) {
		padding-left: 30px;
		padding-right: 30px;
	}
	@media (min-width: 961px) {
		margin-bottom: 70px;
		padding-left: 0;
		padding-right: 0;
		flex-wrap: nowrap;
	}
	@media (min-width: 1024px) {
		margin-top: 65px;
		margin-bottom: 120px;
	}
}
.finance-profits-item {
	box-sizing: border-box;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 100%;
	text-align: center;
	border-color: rgba(151, 145, 143, .2);
	border-style: solid;
	border-width: 0 0 1px;
	padding-top: 20px;
	padding-bottom: 45px;
	margin-bottom: 40px;
	@media (min-width: 961px) {
		padding-top: 35px;
		padding-bottom: 20px;
		margin-bottom: 0;
		&:nth-of-type(1) {
			flex-basis: 31.2%;
			text-align: left;
			> span {
				max-width: 350px;
				@media (max-width: 1280px) {
					&.finance-profits-description {
						padding-right: 30px;
					}
				}
			}
		}
		&:nth-of-type(2) {
			flex-basis: 41%;
			@media (max-width: 1280px) {
				> span {
					padding-left: 30px;
					padding-right: 30px;
				}
			}
		}
		&:nth-of-type(3) {
			flex-basis: 27.8%;
			@media (max-width: 1280px) {
				> span {
					padding-left: 30px;
				}
			}
		}
		border-width: 0;
		&:not(:last-of-type) {
			border-width: 0 1px 0 0;
		}
	}
}
.finance-profits-icon {
	display: block;
	text-align: center;
	margin-bottom: 37px;
	@media (min-width: 961px) {
		margin-bottom: 40px;
	}
	img {
		display: inline-block;
		height: 85px;
		@media (min-width: 961px) {
			height: 77px;
		}
	}
}
.finance-profits-description {
	display: block;
	font-size: 16px;
	line-height: 1.6;
	color: #000;
}

.finance-disclaimers {
	@include layout;
	box-sizing: border-box;	
}
.finance-disclaimers-content {
	box-sizing: inherit;	
	font-size: 12px;
	line-height: 1.6;
	color: rgba(51,51,51,.5);
	padding-bottom: 35px;
	@media (min-width: 961px) {
		padding-bottom: 65px;
		padding-top: 50px;
		border-top: 1px solid rgb(235, 225, 222);
	}
}

.finance-features {}
.finance-features-content {
	@media (min-width: 741px) and (max-width: 1180px) {
		@include clearfix;
	}
	@media (min-width: 1181px) {
		display: flex;
	}
}
.finance-feature {
	flex: 1 1 100%;
	&:nth-of-type(n + 2) {
		border-top: 1px solid #dadada;
	}
	@media (min-width: 741px) {
		&:nth-of-type(n + 2) {
			border-top: none;
		}
		@media (min-width: 741px) and (max-width: 1181px) {
			float: left;
			width: 50%;
			padding-bottom: 50%;
			&:nth-of-type(odd) {
				border-right: 1px solid #dadada;
			}
			&:nth-last-of-type(n+3) {
				border-bottom: 1px solid #dadada;
			}
		}
	}
	@media (min-width: 1181px) {
		height: 460px;
		max-width: none;
		padding-bottom: 0;
		flex: 1 1 25%;
		border-width: 0;
		&:nth-of-type(-n + 2) {
			border-bottom: none;
		}
		&:not(:last-of-type) {
			border-right: 1px solid #dadada;
		}
	}
	position: relative;
	@include font-crisp;
	cursor: pointer;
	box-sizing: border-box;
	transition: background-color .2s cubic-bezier(0.34, 1.32, 0.9, 1) 0s;
	.finance-feature-ic {
		width: 135px;
		margin-left: auto;
		@media (min-width: 741px) {
			width: auto;
			margin-left: 0;
			display: block;
			text-align: center;
			margin-bottom: 45px;
			max-height: 120px;
			transition: max-height .25s cubic-bezier(0.34, 1.32, 0.9, 1) 0s, margin .25s ease-in-out 0s;
		}
		img {
			display: block;
			max-height: 95px;
			max-width: 135px;
			transition: transform .25s cubic-bezier(0.34, 1.32, 0.9, 1) .05s;
			@media (min-width: 741px) {
				display: inline-block;
				&[src*="icon_1"] {
					transform: translate(0,10px);
				}
				&[src*="icon_2"] {
					transform: scale(.9) translate(0,7px);
				}
				&[src*="icon_3"] {
					transform: scale(.9) translate(0,10px);
				}
				&[src*="icon_4"] {
					transform: translate(0,13px);
				}
				&[src*="icon_5"] {
					transform: translate(0,5px);
				}
				&[src*="icon_6"] {
					transform: translate(0,10px) 
				}
			}
		}
	}
	.finance-feature-title {
		color: #191919;
		text-transform: uppercase;
		font-size: 16px;
		flex: 1 1 auto;
		@media (min-width: 741px) {
			text-align: center;
		}
		@media (min-width: 1024px) {
			font-size: 20px;
		}
		line-height: 1.5;
		display: block;
	}
	
	@media (min-width: 741px) {
		transition: background-color .25s cubic-bezier(0.5, 1, 0.9, 1) 0s;
		&:hover {
			background-color: #783d31;
			transition: background-color .25s cubic-bezier(0.5, 1, 0.9, 1) 0s;
			.finance-feature-ic {
				max-height: 0;
				margin-bottom: 0;
				img {
					transition-delay: 0s;
					transform: scale(.75);
				}
			}
			.finance-feature-title {
				color: #a96f63;
				opacity: 1;
			}

			.finance-feature-content {
				transition: top 0.2s cubic-bezier(0.34, 1.32, 0.9, 1) 0s;
				top: 50px;
			}
			@media (min-width: 741px) and (max-width: 767px) {
				&.finance-feature--fix {
					.finance-feature-content {
						top: 20px;
					}
				}
			}

			.finance-feature-preview {
				height: auto;
				opacity: 0;
			}
			.finance-feature-view {
				padding-bottom: 0;
				max-height: none;
				transition-delay: .15s;
				transition-timing-function: cubic-bezier(0.1, 0.99, 0.53, 1.1);
				transform: translate(0,0);
				opacity: 1;
			}
			.finance-feature-view-content {
				transition-delay: .2s;
				transition-timing-function: cubic-bezier(0.1, 0.99, 0.53, 1.2);
				transform: translate(0,0);
				opacity: 1;
			}
		}
	}
	@media (max-width: 740px) {
		&.is-mobile-active {
			background-color: #783d31;
			transition: background-color .2s cubic-bezier(0.1, 0.99, 0.53, 1.2) 0s;
			.finance-feature-ic {
			}
			.finance-feature-title {
				color: #a96f63;
			}
			.finance-feature-content {
				top: 19%;
				transition: top 0.2s cubic-bezier(0.34, 1.32, 0.9, 1) 0s;
			}
			.finance-feature-preview {
				height: 115px;
			}
			.finance-feature-view {
				max-height: 500px;
				padding-bottom: 60px;
			}
			.finance-feature-view-content {
				transition-delay: .2s;
				transition-timing-function: cubic-bezier(0.1, 0.99, 0.53, 1.2);
				transform: translate(0,0);
				opacity: 1;
			}
		}
	}
}
.finance-feature-content {
	overflow: hidden;
	@media (min-width: 741px) {
		padding: 0;
		position: absolute;
		left: 30px;
		right: 30px;
		top: 25%;
		bottom: 0;
		transition: top .25s cubic-bezier(0.1, 0.99, 0.53, 1.8) 0s;
	}
}
.finance-feature-preview, .finance-feature-view {
	padding: 0 40px 0 60px;
	@media (min-width: 741px) {
		padding: 0;
	}
}
.finance-feature-preview {
	height: 135px;
	display: flex;
	flex-flow: row-reverse nowrap;
	justify-content: space-between;
	align-items: center;
	transition: opacity .15s cubic-bezier(0.34, 1.32, 0.9, 1) 0s, height .15s cubic-bezier(0.34, 1.32, 0.9, 1) 0s;
	@media (min-width: 741px) {
		transition: opacity .15s cubic-bezier(0.34, 1.32, 0.9, 1) 0s;
		height: auto;
		display: block;
	}
}
.finance-feature-view {
	max-height: 0px;
	transition: max-height .2s cubic-bezier(0.34, 1.32, 0.9, 1) 0s, padding-bottom .2s cubic-bezier(0.34, 1.32, 0.9, 1) 0s;
	@media (min-width: 741px) {
		max-height: none;
		opacity: 0;
		transform: translate(0,25px);
		transition: opacity .2s cubic-bezier(0.34, 1.32, 0.9, 1) 0s, transform .2s cubic-bezier(0.34, 1.32, 0.9, 1) 0s;
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
	}
	@media (min-width: 1281px) {
		left: 35px;
	}
	@media (min-width: 1600px) {
		right: 35px;
	}
	.finance-feature-title {
		color: #a96f63;
		display: none;
		@media (min-width: 741px) {
			display: block;
			@at-root.finance-feature.finance-feature--fix & {
				margin-bottom: 10px;
			}
		}
		text-align: left;
		@media (min-width: 741px) and (max-width: 1181px) {
			text-align: center;
		}
	}
}
.finance-feature-view-content {
	display: flex;
	flex-flow: row wrap;
	align-content: center;
	align-items: center;
	transform: translate(0,25px);
	opacity: 0;
	transition: opacity .2s cubic-bezier(0.34, 1.32, 0.9, 1) 0s, transform .2s cubic-bezier(0.34, 1.32, 0.9, 1) 0s;
	& > * {
		flex: 1 1 100%;
	}
	@media (min-width: 741px) {
		height: 80%;
	}
	@at-root.finance-feature.finance-feature--fix & {
		@media (min-width: 741px) and (max-width: 801px), (min-width: 1181px) and (max-width: 1700px) {
			height: auto;
		}
	}
}
.finance-feature-view-image {
	display: block;
	& + & {
		margin-top: 20px;
	}
	img {
		max-width: 100%;
		display: block;
	}
}
.finance-feature-list {
	display: block;
	margin: 0;
	padding-left: 35px;
	@media (min-width: 1281px) {
		padding: 0;
	}
	li {
		display: block;
		color: #fff;
		font-size: 14px;
		line-height: 18px;
		@media (min-width: 1280px) {
			font-size: 15px;
		}
		&::before {
			margin-left: -35px;
			content: '';
			display: inline-block;
			vertical-align: middle;
			height: 1px;
			width: 20px;
			background: #c27c6e;
			margin-right: 15px;
		}
		& + li {
			margin-top: 15px;
		}
	}
}

.unstatic-finance-features {
	position: relative;
	border-bottom: 1px solid #dadada;
	overflow: hidden;
	margin-bottom: 45px;
	@media (min-width: 961px) {
		margin-bottom: 0;
	}
	.finance-features-content {
		@media (min-width: 1181px) {
			width: calc(150% + 2px);
			transition: transform .5s cubic-bezier(.22, .1, 0, 1) 0s;
		}
		margin-bottom: -1px;
	}
	& + .finance-disclaimers {
		.finance-disclaimers-content {
			border: none;
		}
	}
	.finance-feature.finance-feature--fix {
		.finance-feature-list li + li {
			margin-top: 10px;
		}
	}
}
.unstatic-finance-features-controls {
	display: none;
	@media (min-width: 1181px) {
		display: block;
	}
	position: absolute;
	bottom: -1px;
	left: 0;
	right: 0;
	z-index: 1;
}
.finance-features-control {
	position: absolute;
	bottom: 0;
	background: #5d291f;
	transition: background .2s ease-in-out 0s, opacity .15s ease-out 0s;
	width: 65px;
	height: 65px;
	cursor: pointer;
	&:hover {
		background: #702c1e;
	}
	svg {
		fill: #fff;
		height: 16px;
		width: 40px;
		position: absolute;
		margin: auto;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
	}
	&[data-role="prev"] {
		left: 0;
		transform: scale(-1);
	}
	&[data-role="next"] {
		right: 0;
	}
}
// 3 steps, from 0 to 2
[data-index="0"] {
	[data-role="prev"] {
		pointer-events: none;
		opacity: 0;
	}
}
[data-index="2"] {
	[data-role="next"] {
		pointer-events: none;
		opacity: 0;
	}
}
