.layout__content {
	color: #888;
}

.layout__content a {
	color:#9a4835;
}
.layout__content a:hover {
	color:#000000;
}

.layout__content p {
	margin-top:25px;
}

.news_announcement__item {
	float: left;
	width: 100%;
	margin-bottom: 45px;
}
.news_announcement__item.al-right .news-an-img {
	float: right;
	margin-top: 50px;
}
@media screen and (max-width: 768px) {
	.news_announcement__item.al-right .news-an-img {
		margin-top: 0;
	}
}
.news_announcement__item.al-right .news-an-text {
	padding-right: 100px;
	padding-top: 10px;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}
.news_announcement__item .news-an-text {
	padding-left: 50px;
	padding-right: 20px;
	padding-top: 0px;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}
@media screen and (max-width: 1200px) {
	.news_announcement__item .news-an-text {
		padding-left: 0px !important;
		padding-right: 0px !important;
		padding-top: 20px !important;
	}
}
.news_announcement__item .news_announcement__item-half {
	width: 50%;
	float: left;
}
@media screen and (max-width: 1024px) {
	.news_announcement__item .news_announcement__item-half {
		width: 100% !important;
	}
}
.news_announcement__item .news_announcement__item-half img {
	display: block;
	width: 100%;
}
.news_announcement__item .news_announcement__item-half .news_announcement_date {
	display: block;
	width: 100%;
	border-bottom: 1px solid #d9d9d9;
	font-size: 16px;
	color: #9a4835;
	margin-bottom: 20px;
	padding-bottom: 20px;
}
.news_announcement__item .news_announcement__item-half .news_announcement_title {
	line-height: 34px;
	width: 100%;
	display: block;
}
.news_announcement__item .news_announcement__item-half .news_announcement_title .news_announcement_title-link {
	font-size: 24px;
	text-decoration: none;
	text-transform: uppercase;
}
.news_announcement__item .news_announcement__item-half .news_announcement_desc {
	font-size: 16px;
}
.news_announcement__item .news_announcement__item-half .news_announcement_bottom {
	margin-top: 85px;
	margin-bottom: 20px;
}
@media screen and (max-width: 1380px) {
	.news_announcement__item .news_announcement__item-half .news_announcement_bottom {
		margin-top: 20px;
	}
}
.news_announcement__item .news_announcement__item-half .news_announcement_bottom .news_announcement_bottom-link {
	width: 100px;
	color: #888;
	border-bottom: 1px solid #888;
	text-decoration: none;
	padding-bottom: 14px;
	padding-right: 20px;
	position: relative;
	-webkit-transition: 0.3s all;
	transition: 0.3s all;
}
.news_announcement__item .news_announcement__item-half .news_announcement_bottom .news_announcement_bottom-link:after {
	display: block;
	position: absolute;
	right: 0px;
	top: 14px;
	content: '';
	width: 0;
	height: 0;
	border-top: 5px solid transparent;
	border-left: 5px solid #888;
	border-bottom: 5px solid transparent;
	-webkit-transition: 0.3s all;
	transition: 0.3s all;
}
.news_announcement__item .news_announcement__item-half .news_announcement_bottom .news_announcement_bottom-link:hover {
	color: #9a4835;
}
@media screen and (max-width: 1024px) {
	.news_announcement-top {
		margin-top: 0px;
	}
}
@media screen and (max-width: 768px) {
	.news_announcement-top {
		margin-top: 0;
	}
}
.news_announcement-top .news_announcement__item {
	background-color: #e8e8e8;
	float: left;
}
.news_announcement-top .news_announcement__item .news-an-text {
	padding-left: 100px;
	padding-right: 100px;
	padding-top: 45px;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}
@media screen and (max-width: 1200px) {
	.news_announcement-top .news_announcement__item .news-an-text {
		padding-left: 50px;
		padding-right: 50px;
		padding-top: 20px;
	}
}
.news_announcement-top .news_announcement__item .news_announcement__item-half {
	width: 50%;
	float: left;
}
@media screen and (max-width: 1024px) {
	.news_announcement-top .news_announcement__item .news_announcement__item-half {
		margin-top: 50px;
	}
}
@media screen and (max-width: 1024px) {
	.news_announcement-top .news_announcement__item .news_announcement__item-half {
		width: 100% !important;
	}
	.news_announcement-top .news_announcement__item .news_announcement__item-half.news-an-text {
		margin-top: 25px;
		padding-bottom: 20px;
	}
}
.news_announcement-top .news_announcement__item .news_announcement__item-half img {
	display: block;
	width: 100%;
}
.news_announcement-top .news_announcement__item .news_announcement__item-half .news_announcement_date {
	display: block;
	width: 100%;
	border-bottom: 1px solid #c9c9c9;
	font-size: 16px;
	color: #9a4835;
	margin-bottom: 50px;
	padding-bottom: 25px;
}
@media screen and (max-width: 1200px) {
	.news_announcement-top .news_announcement__item .news_announcement__item-half .news_announcement_date {
		margin-bottom: 20px;
	}
}
.news_announcement-top .news_announcement__item .news_announcement__item-half .news_announcement_title {
	line-height: 34px;
	width: 100%;
	display: block;
}
.news_announcement-top .news_announcement__item .news_announcement__item-half .news_announcement_title .news_announcement_title-link {
	font-size: 24px;
	text-decoration: none;
}
.news_announcement-top .news_announcement__item .news_announcement__item-half .news_announcement_desc {
	font-size: 16px;
}
.news_announcement-top .news_announcement__item .news_announcement__item-half .news_announcement_bottom {
	margin-top: 85px;
	margin-bottom: 20px;
}
@media screen and (max-width: 1380px) {
	.news_announcement-top .news_announcement__item .news_announcement__item-half .news_announcement_bottom {
		margin-top: 20px;
	}
}
.news_announcement-top .news_announcement__item .news_announcement__item-half .news_announcement_bottom .news_announcement_bottom-link {
	color: #888;
	border-bottom: 1px solid #888;
	text-decoration: none;
	padding-bottom: 14px;
	padding-right: 20px;
	position: relative;
	-webkit-transition: 0.3s all;
	transition: 0.3s all;
}
.news_announcement-top .news_announcement__item .news_announcement__item-half .news_announcement_bottom .news_announcement_bottom-link:after {
	display: block;
	position: absolute;
	right: 0px;
	top: 3px;
	content: '';
	width: 0;
	height: 0;
	border-top: 5px solid transparent;
	border-left: 5px solid #888;
	border-bottom: 5px solid transparent;
	-webkit-transition: 0.3s all;
	transition: 0.3s all;
}
.news_announcement-top .news_announcement__item .news_announcement__item-half .news_announcement_bottom .news_announcement_bottom-link:hover {
	color: #9a4835;
}
.news_announcement-top .news_announcement__item .news_announcement__item-half .news_announcement_bottom .news_announcement_bottom-link:hover:after {
	border-left: 5px solid #9a4835;
}
.news_announcement-content .news_announcement_bottom-link {
	width: 100%;
	display: block;
	position: relative;
	padding-top: 10px;
	padding-bottom: 10px;
	-webkit-transition: 0.3s all;
	transition: 0.3s all;
}
.news_announcement-content .news_announcement_bottom-link .link-arrow {
	position: absolute;
	width: 35px;
	background: #888;
	height: 1px;
	-webkit-transition: 0.3s all;
	transition: 0.3s all;
}
.news_announcement-content .news_announcement_bottom-link .link-arrow:before {
	display: block;
	position: absolute;
	right: 0px;
	top: -2px;
	content: '';
	width: 5px;
	height: 1px;
	background: #888;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}
.news_announcement-content .news_announcement_bottom-link .link-arrow:after {
	display: block;
	position: absolute;
	right: 0px;
	top: 2px;
	content: '';
	width: 5px;
	height: 1px;
	background: #888;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.news-img {
	display: block;
	width: 80% !important;
	padding-top: 25px;
	padding-bottom: 25px;
	margin-left: auto;
	margin-right: auto;
}
@media screen and (max-width: 650px) {
	.news-img {
		width: 100% !important;
	}
}
.news-cont {
	padding-top: 40px;
	margin-bottom: 40px;
}
@media screen and (max-width: 1024px) {
	.news-cont {
		margin-top: 0px;
	}
}
@media screen and (max-width: 768px) {
	.news-cont {
		margin-top: 50px;
	}
}
.news-cont strong {
	color: #000;
}
.news-cont ul {
	margin-bottom: 30px;
}
.news-cont li {
	padding-top: 15px;
}
.news-cont h2 {
	font-size: 24px;
	color: #000;
	text-align: center;
	text-transform: none;
	line-height: 100%;
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 1px solid #d8d8d8;
	/*font-family:"GenesisSansHeadLight", Arial, sans-serif;*/
	line-height: 35px;
}
.news-cont p,
.news-cont ul,
.news-cont li {
	font-size: 14px;
	line-height: 24px;
	color: #000;
	margin-top: 0;
}
.news-cont p:not(:last-child),
.news-cont ul:not(:last-child),
.news-cont li:not(:last-child) {
	margin-bottom: 15px;
}
.news-cont p.warranty-p01,
.news-cont ul.warranty-p01,
.news-cont li.warranty-p01 {
	font-size: 16px;
}
.news-cont table {
	width: 100%;
	text-align: center;
	border-top: 2px solid #d2d2d2;
	border-collapse: collapse;
}
.news-cont table * {
	color: #000;
	font-size: 12px;
	line-height: 22px;
}
.news-cont table:not(:last-child) {
	margin-bottom: 40px;
}
.news-cont table.text-left {
	text-align: left;
}
.news-cont table.text-left td:first-child {
	padding-left: 0;
}
.news-cont table .text-left {
	text-align: left;
}
.news-cont table th,
.news-cont table td {
	border-bottom: 1px solid #d5d5d5;
	border-right: 1px solid #d5d5d5;
	padding-top: 14px;
	padding-right: 20px;
	padding-bottom: 14px;
	padding-left: 20px;
	vertical-align: middle;
}
.news-cont table th:last-child,
.news-cont table td:last-child {
	border-right: 0;
}
.news-cont table th.border-none,
.news-cont table td.border-none {
	border-bottom: 0;
}
.news-cont table th.border-top,
.news-cont table td.border-top {
	border-top: 1px solid #d5d5d5;
}
.news-cont table th {
	background-color: #f7f7f7;
	font-size: 14px;
	padding-top: 14px;
	padding-right: 14px;
	padding-bottom: 14px;
	padding-left: 14px;
}
.news-cont table .bg-grey {
	background-color: #f7f7f7;
}
.news-disclaimer {
	padding-left: 15px;
	margin-top: 15px;
	position: relative;
}
.news-disclaimer:after {
	display: block;
	content: '※';
	position: absolute;
	top: 0px;
	left: 0px;
	font-size: 12px;
	line-height: 1.6;
	color: #000;
}
.news-disclaimer p,
.news-disclaimer * {
	font-size: 12px;
	line-height: 1.6;
	color: #000;
}
.news-disclaimer span {
	color: #804033;
	font-weight: bold;
	margin-left: 5px;
}
.news-two-img {
	width: 100%;
	float: left;
	margin-bottom: 15px;
}
.news-two-img img {
	float: left;
	width: 50%;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}
@media screen and (max-width: 650px) {
	.news-two-img img {
		width: 100%;
		padding-left: 0;
		padding-right: 0;
	}
}
@media screen and (max-width: 1200px) {
	.news_announcement-top .news_announcement__item .news-an-text {
		padding-left: 40px !important;
		padding-right: 40px !important;
	}
}

.pagination {
	text-align: center;
	margin-bottom: 60px;
}

.news-text {
	margin-bottom: 80px;
}


.text-editor{
	color:#000000;
	/*font-family:"GenesisSansTe", Arial, sans-serif;*/
	font-size:14px;
	font-weight:400;
	line-height:1.43
}

.text-editor h2,
.text-editor h3{
	margin:20px 0 -10px;
	color:#000000;
	/*font-family:"GenesisSansHeadLight", Arial, sans-serif;*/
	font-size:25px;
	font-weight:300;
	line-height:1.28;
}

.text-editor h3{
	font-size:22px;
}

.text-editor b,
.text-editor strong{
	/*font-family:"GenesisSansTextBold", Arial, sans-serif;*/
}

.text-editor p{
	margin:15px 0;
	font-size:14px;
	line-height:21px;
	font-weight:400;
}

.text-editor a{
	color:#a36b4f;
	text-decoration:none;
}

.text-editor a:hover{
	text-decoration:underline;
}

.text-editor blockquote{
	position:relative;
	min-height:80px;
	margin:20px 0 40px;
	padding:15px 20px 15px 80px;
	color:#000000;
	/*font-family:"GenesisSansTextRegular", Arial, sans-serif;*/
	line-height:24px;
	font-size:16px;
	border:1px solid rgba(162, 162, 79, .2);
}

.text-editor blockquote + blockquote{
	margin-top:40px;
}

.text-editor blockquote:before{
	content:'';
	position:absolute;
	top:23px;
	left:23px;
	width:35px;
	height:30px;
	background-image:url(../images/quotes.svg);
	background-repeat:no-repeat;
	background-position:0 0;
	background-size:contain;
}

.text-editor img {
	max-width: 100%;
}

.text-editor > img{
	display:block;
	margin:25px 0;
}

.text-editor .text-editor__img-indent{
	position:relative;
	margin-left:-45px;
	margin-right:-45px;
}

.text-editor .text-editor__img-indent > img{
	width:100%;
}

.text-editor ul{
	margin-bottom:30px;
	font-size:14px;
	line-height:1.5;
}

.text-editor ul li{
	margin-bottom:10px;
}

.text-editor ul li:last-child{
	margin-bottom:0;
}

.text-editor ul li:before{
	position:relative;
	top:-2px;
	display:inline-block;
	vertical-align:baseline;
	content:'';
	width:6px;
	height:6px;
	margin-right:12px;
	border-radius:50%;
	background:#a36b4f;
}

.text-editor ol{
	margin:0 0 30px;
	padding:0;
	font-size:14px;
	line-height:1.5;
	list-style:none;
	counter-reset:li;
}

.text-editor ol li{
	margin-bottom:10px;
}

.text-editor ol li:last-child{
	margin-bottom:0;
}

.text-editor ol li:before{
	counter-increment:li;
	content:counters(li, ".") ". ";
	display:inline-block;
	width:15px;
	font-size:14px;
	color:#a36b4f;
	font-weight:400;
}

.text-editor ol ol{
	margin-top:40px;
	margin-bottom:0;
	padding-left:40px;
}

.text-editor ol ul{
	padding-left:40px;
}

.text-editor ol ul li:before{
	content:none;
}

.text-editor .priceTable{
	margin:35px 0;
}

.text-editor table{
	width:100%;
	margin:35px 0;
	border-spacing:0;
	border-collapse:collapse;
	/*font-family:"GenesisSansHeadLight", Arial, sans-serif;*/
}

.text-editor table caption{
	margin-bottom:10px;
	color:#000000;
	/*font-family:"GenesisSansHeadLight", Arial, sans-serif;*/
	font-size:22px;
	font-weight:300;
	line-height:1.27;
	text-align:left;
}

.text-editor table td{
	padding:30px 16px 28px;
	font-size:18px;
	color:#000;
	text-align:center;
	text-transform:uppercase;
}

.text-editor table thead{
	background-color:rgba(163, 107, 79, .03);
}

.text-editor table thead td{
	padding:30px 16px 28px;
	vertical-align:middle;
	color:#000;
	font-size:14px;
	text-align:center;
	text-transform:uppercase;
	border:1px solid #e6e6e6;
}

.text-editor table tbody{
	border-top:1px solid #e6e6e6;
}

.text-editor table tbody td{
	vertical-align:middle;
	border-left:1px solid #e6e6e6;
	border-bottom:1px solid #e6e6e6;
}

.text-editor table tbody td:last-child{
	border-right:1px solid #e6e6e6;
}

.text-editor table.table-photos thead{
	background-color:rgba(163, 107, 79, .03);
}

.text-editor table.table-photos thead td{
	border:none;
}

.text-editor table.table-photos tbody{
	border-top:none;
}

.text-editor table.table-photos tbody td{
	border-left:none;
	border-bottom:none;
}

.text-editor table.table-photos tbody td:last-child{
	border-right:none;
}

.text-editor figure{
	margin:25px 0;
}

.text-editor figure figcaption{
	color:#666666;
	/*font-family:"GenesisSansTextRegular", Arial, sans-serif;*/
	font-size:14px;
	font-weight:400;
	line-height:1.14;
	text-align:center;
}

.text-editor figure + figure{
}

.text-editor iframe{
	width:100%;
}

blockquote.blockquote-inset{
	padding:20px 0 20px 22px;
	border:none;
	border-left:2px solid #a36b4f;
	color:#000000;
	/*font-family:"GenesisSansTextRegular", Arial, sans-serif;*/
	font-size:21px;
	font-weight:400;
	line-height:1.29
}

blockquote.blockquote-inset:before{
	content:none;
}

blockquote.blockquote-info{
	max-width:600px;
	padding:0 0 0 85px;
	border:none;
	color:#000000;
	/*font-family:"GenesisSansTextRegular", Arial, sans-serif;*/
	font-size:21px;
	font-weight:400;
	line-height:1.29
}

blockquote.blockquote-info:before{
	content:'!';
	position:absolute;
	top:3px;
	left:0;
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-pack:center;
	-ms-flex-pack:center;
	justify-content:center;
	-webkit-box-align:center;
	-ms-flex-align:center;
	align-items:center;
	width:64px;
	height:64px;
	background-image:none;
	background-color:#fff;
	border:2px solid #a36b4f;
	border-radius:50%;
	color:#a36b4f;
	font-size:40px;
}

blockquote.blockquote-fill{
	max-width:960px;
	background-color:rgba(163, 107, 79, .1);
	padding:25px;
	border:none;
	line-height:29px;
	font-size:21px;
	color:#000000
}

blockquote.blockquote-fill:before,
blockquote.blockquote-fill:after{
	content:none;
}

figure.figure--half{
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-pack:justify;
	-ms-flex-pack:justify;
	justify-content:space-between;
}

figure.figure--half picture{
	width:50%
}

figure.figure--half picture:first-child{
	padding-right:8px;
}

figure.figure--half picture:last-child{
	padding-left:8px;
}

figure.figure--half picture p{
	margin-top:0;
	text-align:center;
}

.pic-left{
	position:relative;
}

.pic-left img{
	float:right;
	padding:0 0 25px 25px;
}

.pic-left:after{
	content:'';
	clear:both;
}

figure.figure--descr-border{
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-align:center;
	-ms-flex-align:center;
	align-items:center;
	-webkit-box-pack:justify;
	-ms-flex-pack:justify;
	justify-content:space-between;
}

figure.figure--descr-border p{
	-ms-flex-negative:0;
	flex-shrink:0;
	width:50%;
	margin:0;
}

figure.figure--descr-border figcaption{
	position:relative;
	margin-left:20px;
	padding:15px 0;
	color:#000000;
	/*font-family:"GenesisSansTextRegular", Arial, sans-serif;*/
	font-size:16px;
	font-weight:400;
	line-height:1.44;
	text-align:left
}

figure.figure--descr-border figcaption:before,
figure.figure--descr-border figcaption:after{
	content:'';
	position:absolute;
	top:0;
	left:0;
	width:180px;
	height:2px;
	background-color:#a36b4f;
	opacity:0.7;
}

figure.figure--descr-border figcaption:after{
	top:auto;
	bottom:0;
}

figure.figure--descr-left,
figure.figure--descr-right{
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-align:center;
	-ms-flex-align:center;
	align-items:center;
	-webkit-box-pack:justify;
	-ms-flex-pack:justify;
	justify-content:space-between;
}

figure.figure--descr-left p,figure.figure--descr-right p{
	-ms-flex-negative:0;
	flex-shrink:0;
	width:50%;
	margin:0;
}

figure.figure--descr-left figcaption,figure.figure--descr-right figcaption{
	position:relative;
	margin-left:20px;
	padding:15px 0;
	color:#000000;
	/*font-family:"GenesisSansTextRegular", Arial, sans-serif;*/
	font-size:14px;
	font-weight:400;
	line-height:1.44;
	text-align:left;
}

figure.figure--descr-left figcaption{
	margin-left:0;
	margin-right:20px;
}

figure.figure--outside{
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-pack:justify;
	-ms-flex-pack:justify;
	justify-content:space-between;
	margin:0 -215px;
}

figure.figure--outside .figure__item{
	position:relative;
	width:25%;
	height:200px;
	margin:0 8px;
}

figure.figure--outside .figure__item img{
	position:absolute;
	width:100%;
	height:100%;
	-o-object-fit:cover;
	object-fit:cover;
}

figure.figure--outside .figure__item:before{
	content:'';
	position:absolute;
	z-index:1;
	width:100%;
	height:100%;
	background-color:transparent;
	-webkit-transition:background-color .3s ease;
	transition:background-color .3s ease;
}

figure.figure--outside .figure__item:after{
	content:'';
	position:absolute;
	top:50%;
	left:50%;
	z-index:2;
	width:50px;
	height:50px;
	background-image:url(../images/zoom.svg);
	background-repeat:no-repeat;
	background-position:50% 50%;
	background-size:0 0;
	margin:-25px 0 0 -25px;
	opacity:0;
	-webkit-transition:opacity .3s ease, background-size .3s ease;
	transition:opacity .3s ease, background-size .3s ease;
}

figure.figure--outside .figure__item:hover:before{
	background-color:rgba(0, 0, 0, .5);
}

figure.figure--outside .figure__item:hover:after{
	opacity:1;
	background-size:50px 50px;
}

@media (max-width: 1200px){
	
	figure.figure--outside{
		-ms-flex-wrap:wrap;
		flex-wrap:wrap;
		margin:0 -8px;
	}
	
	figure.figure--outside .figure__item{
		width:47%;
		margin:0 8px 25px;
	}
}

.mobile .text-editor blockquote{
	padding:12px 15px 10px 45px;
	line-height:21px;
	font-size:14px
}

.mobile .text-editor blockquote:before{
	left:12px;
	top:16px;
	width:21px;
	height:21px;
}

.mobile blockquote.blockquote-inset{
	padding:10px 0 10px 13px;
	line-height:20px;
	font-size:15px;
}

.mobile blockquote.blockquote-info{
	padding:0 0 0 40px;
	line-height:20px;
	font-size:15px
}

.mobile blockquote.blockquote-info:before{
	top:1px;
	left:0;
	width:24px;
	height:24px;
	border-width:1px;
	font-size:16px;
}

.mobile .text-editor blockquote + blockquote{
	margin-top:25px;
}

.mobile .text-editor blockquote{
	margin:0 0 25px;
}

.mobile .text-editor figure figcaption{
	font-size:12px;
	line-height:16px;
}

.mobile .text-editor table td{
	padding:10px 16px 8px;
}

.mobile .text-editor table thead td{
	height:65px;
}

.mobile figure.figure--descr-border{
	display:block;
}

.mobile figure.figure--half{
	display:block;
}

.mobile figure.figure--half picture{
	display:block;
	width:100%;
	padding:0;
}

.mobile figure.figure--half picture + picture{
	margin-top:25px;
}

.mobile .pic-left img{
	float:none;
	display:block;
	margin:0 auto 15px;
	padding:0;
}

.mobile figure.figure--descr-border p{
	width:100%;
	margin:15px 0;
	text-align:center;
}

.mobile figure.figure--descr-border figcaption{
	margin-left:0;
	line-height:22px;
	font-size:15px
}

.mobile figure.figure--descr-border figcaption:after,
.mobile figure.figure--descr-border figcaption:before{
	left:25px;
	right:25px;
	width:auto;
	height:1px;
}

.mobile figure.figure--outside{
	-ms-flex-wrap:nowrap;
	flex-wrap:nowrap;
	overflow-x:auto;
	margin:0 -12px;
}

.mobile figure.figure--outside .figure__item{
	width:85%;
	height:auto;
	min-height:200px;
	-ms-flex-negative:0;
	flex-shrink:0
}

.mobile figure.figure--outside .figure__item:first-child{
	margin-left:15px;
}

.mobile .text-editor h3{
	line-height:24px;
	font-size:18px;
}

.mobile figure.figure--descr-left,
.mobile figure.figure--descr-right{
	display:block;
}

.mobile figure.figure--descr-left p,.mobile figure.figure--descr-right p{
	width:100%;
	text-align:center;
}

.mobile figure.figure--descr-left figcaption,.mobile figure.figure--descr-right figcaption{
	margin:0;
	text-align:center;
}

.mobile figure.figure--descr-left{
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-orient:vertical;
	-webkit-box-direction:normal;
	-ms-flex-direction:column;
	flex-direction:column;
}

.mobile figure.figure--descr-left figcaption{
	-webkit-box-ordinal-group:2;
	-ms-flex-order:1;
	order:1;
}
