/*
*	Genesis workers Spring/Summer 2017
*	(c) 2017, S6 Studio
*/

$padding: 30px;
$layout-padding: 60px;
$brown: #804033;
@mixin clearfix {
  &::after {
	clear: both;
	content: '';
	display: table;
  }
}
@mixin head-font {
	font-family: 'GenesisSansHeadKROTFLight';
	text-transform: uppercase;
}
@mixin font-crisp {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

}
@mixin layout {
	box-sizing: border-box;
	padding-left: $layout-padding;
	padding-right: $layout-padding;
	@media (min-width: 1024px) {
		$layout-padding: 5.625%;
		padding-left: $layout-padding;
		padding-right: $layout-padding;
	}
}
.header__brand .button .button__text a {
	color: #fff;
}
a {
    cursor: pointer !important;
}
.layout__footer {
	margin-top: 0;
}
.workers {}
.breed-screen {
	background: #000;
// 	padding: 0 $padding 55px;
	$menuHeight: 60px;
	box-sizing: border-box;
	height: auto;
	margin-top: $menuHeight;
	padding: 0 0px 55px;
// 	max-height: 680px;
	@media (min-width: 641px) {
		padding-bottom: 0;
		padding: 0 $padding 0;
		height: calc(100vh - #{$menuHeight});
		min-height: 730px;
		max-height: none;

		height: auto;
		min-height: auto;
		max-height: none;
	}
	@media (min-width: 769px) {
		$menuHeight: 100px;
		margin-top: $menuHeight;
// 		height: calc(100vh - #{$menuHeight});
// 		min-height: 680px;
	}
	@media (min-width: 1024px) {
		$padding: 1.875%;
		$menuHeight: 80px;
// 		height: calc(100vh - #{$menuHeight});
		padding: 0 $padding;
// 		min-height: 768px;
// 		min-height: 455px;
// 		height: 455px;
		margin-top: 0;
	}
	@media (min-width: 1181px) {
// 		min-height: 640px;
	}
}
.breed-screen-content {
	height: 100%;
	position: relative;
	box-sizing: border-box;
	@media (min-width: 641px) {
		border: 2px solid $brown;
		border-bottom: none;
	}
}
.breed-screen-items {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: flex-start;
	position: relative;
	height: auto;
	max-width: 100%;
	box-sizing: border-box;
// 	padding: 32px $padding 0;
	padding: 32px 0 0;
// 	top: 35px;
// 	bottom: 60px;
	@media (min-width: 641px) {
		padding-top: 0;
// 		height: 100%;
// 		left: 0;
// 		right: 0;
		padding: 65px 25px 80px;
// 		bottom: 60px;
// 		top: 65px;
// 		position: absolute;
// 		position: relative;
// 		align-content: space-between;
	}
	
	@media (min-width: 961px) {
	}
	@media (min-width: 1024px) {
		padding-left: 55px;
		padding-right: 55px;
		padding-bottom: 100px;
	}
	@media (min-width: 1181px) {
// 		align-items: flex-end;
// 		flex-basis: 40%;
		flex-wrap: nowrap;
// 		padding-bottom: 150px;
// 		top: 12%;
// 		bottom: 60px;
// 		top: 15%;
// 		bottom: 19%;
		padding: 100px 47px 150px;
	}
	@media (min-width: 1385px) {
		padding: 100px 36px 150px
	}
}
.breed-screen-item {
	flex: 1 1 auto;
	position: relative;
	&.breed-screen-item--main {
		flex-basis: 100%;
		margin-bottom: 50px;
		padding: 0 60px;
		@media (min-width: 641px) {
			margin-bottom: 55px;
// 			padding: 0;
		}

		@media (min-width: 1024px) {
			padding-left: 0;
			padding-right: 0;
		}
		@media (min-width: 1181px) {
			margin-bottom: 0;
			height: 205px;
// 			height: auto;
			padding: 0 8px;
			flex-basis: 33.333%;
		}
	}
	&.breed-screen-item--cat {
		flex-basis: 50%;
		height: 155px;
		&:last-child {
			.breed-screen-link {
				background-position: center bottom;
			}
		}
		&:nth-of-type(2) {
			.breed-screen-link {
				background-position: bottom left;
			}
			@media (min-width: 641px) {
// 				padding-right: 15px;
			}
			@media (min-width: 1181px) {
// 				padding-right: 30px;
			}
		}
		@media (min-width: 481px) {
		}
		@media (min-width: 641px) {
			height: 210px;
// 			height: 59.5%;
// 			flex-basis: auto;
		}
		@media (min-width: 1181px) {
			height: 205px;
			flex-basis: 33.333%;
			padding: 0 8px;
// 			height: auto;
		}
		@media (min-width: 1385px) {
			padding: 0 19px;
		}
	}
}
.breed-screen-link {
	display: block;
	height: 100%;
	position: relative;
	text-decoration: none;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	
	background-color: transparent;
	background-attachment: scroll;
	&[href="#workers-service"] {
		background-image: url('../images/workers/img-1.jpg');
	}
	&[href="#workers-sales"] {
		background-image: url('../images/workers/img-2.jpg');
	}
	transition: color .25s ease-in-out 0s;
	color: #fff;
	&.is-current,
	&:hover, &:active, &:focus {
		color: $brown;
	}
	&:hover .breed-screen-link-cont sup {
		opacity: 1;
		transform: scale(1);
		transition: opacity .25s cubic-bezier(0,.72,.48,.66) 0s, transform .25s cubic-bezier(.17,.84,.44,1) 0s;
	}
}
.breed-screen-link-cont {
	position: absolute;
	color: inherit;
// 	bottom: 15px;
	bottom: 35px;
	@include head-font;
// 	transform: translate(-50%,0);
// 	left: 50%;
	left: 30px;
	@media (min-width: 641px) {
		left: 16.5%;
		bottom: 15.5%;
		right: 12%;
		transform: none;
	}
	strong {
		@include font-crisp;
		display: inline-block;
		font-family: inherit;
		color: inherit;
		line-height: 1;
		font-weight: 200;
		text-transform: uppercase;
// 		border-top: 1px solid currentcolor;
// 		padding-top: 15px;
		border-bottom: 1px solid currentcolor;
		padding-bottom: 5px;
		font-size: 32px;
		@media (min-width: 641px) {
			font-size: 48px;
		}
	}
}
.breed-screen-heading {
	@include font-crisp;
	color: #a09f9f;
	font-size: 16px;
	line-height: 1.6;
	margin-bottom: -.45em;
	display: block;
	@media (min-width: 641px) {
		font-size: 20px;
	}
	@media (min-width: 961px) {
		padding-right: 30px;
	}
	@media (min-width: 1181px) {
		padding-right: 50px;
	}
}
.breed-screen-header {
	@include head-font;
	font-size: 60px;
	line-height: .8;
	font-weight: 200;
	color: $brown;
	display: block;
	margin-bottom: .2em;
	@media (min-width: 641px) {
		font-size: 70px;
		margin-bottom: .35em;
	}
	@media (min-width: 961px) {
		margin-bottom: .675em;
// 		font-size: 60px;
	}
	@media (min-width: 1181px) {
		margin-bottom: .4em;
		font-size: 60px;
	}
	@media (min-width: 1241px) {
		margin-bottom: .675em;
		font-size: 70px;
	}
	@media (min-width: 1381px) {
		margin-bottom: .675em;
		font-size: 80px;
	}
}
.breed-screen-description {
	display: block;
	font: inherit;
	color: inherit;
	max-width: 500px;
	@media (min-width: 641px) {
// 		font-size: 80px;
	}
	@media (min-width: 961px) {
// 		margin-bottom: .4em;
// 		font-size: 65px;
		padding-right: 20px;
	}
	@media (min-width: 1181px) {
		padding-right: 0
	}
}

.workers-x-cont {
	&:not(.is-current) {
		display: none;
	}
}

.workers-list-wrapper {
	background: #000;
	@media (min-width: 769px) {
		padding: 0 11px;
	}
	@media (min-width: 1024px) {
		padding: 0 1.875%;
	}
}
.workers-list {
	background: #000;
	list-style: none;
	@media (min-width: 769px) {
		display: flex;
		flex-flow: row wrap;
		padding-bottom: 70px;
	}
	@media (min-width: 1024px) {
		padding: 0 15px 70px;
		border-left: 2px solid $brown;
		border-right: 2px solid $brown;
		padding: 0 47px 70px;
	}
	@media (min-width: 1385px) {
		padding: 0 36px 70px;
	}
}
.workers-item {
	height: 485px;
	padding: 0 15px;
	box-sizing: border-box;
	background: #000;
	width: 430px;
	outline: none;
	@media (min-width: 641px) {
		padding: 0 10px;
	}
	@media (min-width: 769px) {
		padding: 0 19px 32px;
		flex: 1 1 50%;
		max-width: 50%;
		height: auto;
	}
	@media (min-width: 1024px) {
		padding: 0 8px 32px;
	}
	@media (min-width: 1181px) {
		flex: 1 1 33.333%;
		max-width: 33.333%;
	}
	@media (min-width: 1385px) {
		padding: 0 19px 32px;
	}
	&::before {
		content: none;
	}
	&--feedback {
		.workers-item-content {
			background: #5d2f26;
		}
	}
	
	/* IE10+ fix: */
	@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	    & {
		    max-width: 33.333%;
	    }
	}
}
.workers-item-content {
	height: 100%;
	background: #f3f3f3;
	padding: 28px 0 35px;
	text-align: center;
	@media (min-width: 769px) {
		box-sizing: border-box;
	}
}
.worker-avatar {
	width: 140px;
	height: 140px;
	border-radius: 50%;
	display: block;
	margin: 0 auto 35px;
	overflow: hidden;
}
.worker-avatar__img {
	height: 100%;
	width: 100%;
	max-width: none;
	object-fit: cover;
	object-position: center center;
}
.js-ofit {
	-o-object-fit: cover;
	-ms-object-fit: cover;
	-webkit-object-fit: cover;
	object-fit: cover;
	font-family: "object-fit: cover";
}
.worker-name {
	font-size: 32px;
	line-height: 42px;
	color: #b56b5d;
	margin-bottom: 28px;
	text-transform: capitalize;
	@include head-font;

	@media (min-width: 681px) {
		font-size: 40px;
	}
	@media (min-width: 1181px) and (max-width: 1250px) {
		font-size: 35px;
	}
}
.worker-post {
	line-height: 1;
	font-size: 14px;
	color: #504f4f;
	margin-bottom: 65px;
	position: relative;
	&::after {
		content: '';
		position: absolute;
		background: #b56b5d;
		width: 1px;
		top: 28px;
		height: 38px;
		left: 0;
		right: 0;
		margin: auto;
	}
}
.worker-contacts {
	color: #504f4f;
}
.worker-mail {
	display: block;
	font-size: 15px;
	margin-bottom: 10px;
	color: inherit;
	&, &:hover {
		text-decoration: none;
	}
}
.worker-phone {
	display: block;
	font-size: 25px;
	color: inherit;
	&, &:hover {
		text-decoration: none;
	}
}
.slick-dots {
	padding: 35px 0;
	position: relative;
	text-align: center;
	font-size: 0;
	line-height: 0;
	li {
		display: inline-block;
		position: relative;
		width: 25px;
		height: 25px;
		&.slick-active {
			button {
				background: transparent;
				height: 12px;
				width: 12px;
				border-color: #b56b5d;
			}
		}
	}
	button {
		transition: background .15s ease-in 0s, border .15s ease-in 0s, width .15s ease-in 0s, height .15s ease-in 0s;
		background: #b56b5d;
		width: 8px;
		height: 8px;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		margin: auto;
		border-radius: 50%;
		font-size: 0;
		padding: 0;
		box-sizing: border-box;
		border: 1px solid transparent;
	}
}